<div class="parallax" data-background="images/listings-parallax.jpg" data-color="#252529" data-color-opacity="0.85" data-img-width="800" data-img-height="505" style="background-image: url(&quot;images/listings-parallax.jpg&quot;); background-attachment: fixed; background-size: 1910px 1205.69px; background-position: 50% -230.772px;"><div class="parallax-overlay" style="background-color: rgb(37, 37, 41); opacity: 0.85;"></div> 
    <div id="counters">
      <div class="container">
        <div class="row">
          <div class="counter-boxes-inside-parallax">
            <div class="col-md-3 col-sm-6 col-xs-6">
              <div class="counter-box">
                <div class="counter-box-icon"> <i class="icon-feather-home"></i> <span class="counter">2242</span>
                  <p>For Sale Listing</p>
                </div>
              </div>
            </div>
            <div class="col-md-3 col-sm-6 col-xs-6">
              <div class="counter-box">
                <div class="counter-box-icon"> <i class="icon-material-outline-business"></i> <span class="counter">1876</span>
                  <p>For Rent Listing</p>
                </div>
              </div>
            </div>
            <div class="col-md-3 col-sm-6 col-xs-6">
              <div class="counter-box">
                <div class="counter-box-icon"> <i class="icon-feather-users"></i> <span class="counter">1270</span>
                  <p>User Agents</p>
                </div>
              </div>
            </div>
            <div class="col-md-3 col-sm-6 col-xs-6">
              <div class="counter-box last">
                <div class="counter-box-icon"> <i class="sl sl-icon-briefcase"></i> <span class="counter">1120</span>
                  <p>Booking Properti</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>