<div class="parallax" data-background="images/home-parallax-3.jpg" data-color="#36383e" data-color-opacity="0.7" data-img-width="2500" data-img-height="1600" style="background-image: url(&quot;images/home-parallax-3.jpg&quot;); background-attachment: fixed; background-size: 1910px 1222.4px; background-position: 50% -253.509px;"><div class="parallax-overlay" style="background-color: rgb(54, 56, 62); opacity: 0.7;"></div>
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="search-container"> 
            <h2>Find Your Dream House</h2>
			<div class="announce">From as low as $10 per day with limited time offer discounts.</div>
            <div class="row with-forms"> 
			  <!-- Select City -->
			  <div class="col-md-2">
				  <select data-placeholder="Select City" title="Select City" class="utf-chosen-select-single-item" style="display: none;">
					<option>Select City</option>
					<option>Afghanistan</option>
					<option>Albania</option>
					<option>Algeria</option>
					<option>Brazil</option>
					<option>Burundi</option>
					<option>Bulgaria</option>
					<option>California</option>
					<option>Germany</option>
					<option>Grenada</option>
					<option>Guatemala</option>
					<option>Iceland</option>                        
				  </select><div class="chosen-container chosen-container-single chosen-container-single-nosearch" style="width: 100%;" title="Select City"><a class="chosen-single chosen-default"><span>Select City</span><div><b></b></div></a><div class="chosen-drop"><div class="chosen-search"><input type="text" autocomplete="off" readonly=""></div><ul class="chosen-results"></ul></div></div>
			  </div>
					
              <!-- Property Type -->
              <div class="col-md-2">
                <select data-placeholder="Property Type" class="utf-chosen-select-single-item" style="display: none;">
                  <option>Property Type</option>
				  <option>Residential</option>
				  <option>Apartments</option>
                  <option>Houses</option>
                  <option>Commercial</option>
                  <option>Land</option>
                </select><div class="chosen-container chosen-container-single chosen-container-single-nosearch" style="width: 100%;" title=""><a class="chosen-single chosen-default"><span>Property Type</span><div><b></b></div></a><div class="chosen-drop"><div class="chosen-search"><input type="text" autocomplete="off" readonly=""></div><ul class="chosen-results"></ul></div></div>
              </div>
              
              <!-- Status -->
              <div class="col-md-2">
                <select data-placeholder="Any Status" class="utf-chosen-select-single-item" style="display: none;">
				  <option>Any Status</option>
                  <option>For Sale</option>
                  <option>For Rent</option>
                </select><div class="chosen-container chosen-container-single chosen-container-single-nosearch" style="width: 100%;" title=""><a class="chosen-single chosen-default"><span>Any Status</span><div><b></b></div></a><div class="chosen-drop"><div class="chosen-search"><input type="text" autocomplete="off" readonly=""></div><ul class="chosen-results"></ul></div></div>
              </div>
              
              <!-- Main Search Input -->
              <div class="col-md-6">
                <div class="utf-main-search-input-item">
                  <input type="text" placeholder="Enter Keywords..." value="">
                  <button class="button"><i class="fa fa-search"></i> Search</button>
                </div>
              </div>
            </div>
			<div class="row">
			  <h4 class="utf-cat-home-item-list">What are you looking for?</h4>
				<ul class="utf-home-iconbox">
					<li class="list-inline-item"><div class="icon"><span class="icon-line-awesome-building"></span><p>Modern Villa</p></div></li>
					<li class="list-inline-item"><div class="icon"><span class="icon-feather-home"></span><p>Family House</p></div></li>
					<li class="list-inline-item"><div class="icon"><span class="icon-material-outline-location-city"></span><p>Town House</p></div></li>
					<li class="list-inline-item"><div class="icon"><span class="icon-material-outline-business"></span><p>Apartment</p></div></li>
				</ul>
			</div>
            <!-- Row With Forms / End --> 
          </div>		  
        </div>
      </div>
    </div>
  </div>