<section class="fullwidth">
	  <div class="container">
		<div class="row">
		  <div class="col-md-12">	
			<div class="utf-section-headline-item centered margin-bottom-30 margin-top-0">
			  <h3 class="headline"><span>Our Agents</span> Our Agents</h3>
			  <div class="utf-headline-display-inner-item">Our Agents</div>
			  <p class="utf-slogan-text">Lorem Ipsum is simply dummy text printing and type setting industry Lorem Ipsum been industry standard dummy text ever since when unknown printer took a galley.</p>
			</div>  
		  </div>
		</div>
		<div class="row"> 
		  <div class="utf-agents-container-area" style="position: relative; height: 394.5px;"> 
			<div class="grid-item col-lg-3 col-md-4 col-sm-6 col-xs-12" style="position: absolute; left: 0%; top: 0px;">
			  <div class="agent">
				<div class="utf-agent-avatar"> <a href="agents-profile.html"> <img src="images/agent-01.jpg" alt=""> <span class="view-profile-btn">View Profile</span> </a> </div>
				<div class="utf-agent-content">
				  <div class="utf-agent-name">
					<h4><a href="agents-profile.html">John Williams</a></h4>
					<span>Agent In Afghanistan</span> 
				  </div>              
				</div>
			  </div>
			</div>
			
			<div class="grid-item col-lg-3 col-md-4 col-sm-6 col-xs-12" style="position: absolute; left: 24.9587%; top: 0px;">
			  <div class="agent">
				<div class="utf-agent-avatar"> <a href="agents-profile.html"> <img src="images/agent-02.jpg" alt=""> <span class="view-profile-btn">View Profile</span> </a> </div>
				<div class="utf-agent-content">
				  <div class="utf-agent-name">
					<h4><a href="agents-profile.html">John Williams</a></h4>
					<span>Agent In Afghanistan</span> 
				  </div>              
				</div>
			  </div>
			</div>
			
			<div class="grid-item col-lg-3 col-md-4 col-sm-6 col-xs-12" style="position: absolute; left: 50%; top: 0px;">
			  <div class="agent">
				<div class="utf-agent-avatar"> <a href="agents-profile.html"> <img src="images/agent-03.jpg" alt=""> <span class="view-profile-btn">View Profile</span> </a> </div>
				<div class="utf-agent-content">
				  <div class="utf-agent-name">
					<h4><a href="agents-profile.html">John Williams</a></h4>
					<span>Agent In Afghanistan</span> 
				  </div>              
				</div>
			  </div>
			</div>
			
			<div class="grid-item col-lg-3 col-md-4 col-sm-6 col-xs-12" style="position: absolute; left: 74.9587%; top: 0px;">
			  <div class="agent">
				<div class="utf-agent-avatar"> <a href="agents-profile.html"> <img src="images/agent-04.jpg" alt=""> <span class="view-profile-btn">View Profile</span> </a> </div>
				<div class="utf-agent-content">
				  <div class="utf-agent-name">
					<h4><a href="agents-profile.html">John Williams</a></h4>
					<span>Agent In Afghanistan</span> 
				  </div>              
				</div>
			  </div>
			</div>        
		  </div>
		  <div class="utf-centered-button margin-top-10">
			<a href="agents-list.html" class="button">View All Agent</a> 
		  </div>
		  <!-- Agents Container / End --> 
		</div>
	  </div>
   </section>