<section class="fullwidth" data-background-color="#ffffff" style="background: rgb(255, 255, 255) none repeat scroll 0% 0%;">
    <div class="container">
      <div class="row">
        <div class="col-md-12">	
			<div class="utf-section-headline-item centered margin-bottom-30 margin-top-0">
			  <h3 class="headline"><span>Most Popular Rent Properties</span> For Rent Properties</h3>
			  <div class="utf-headline-display-inner-item">Most Popular Rent Properties</div>
			  <p class="utf-slogan-text">Lorem Ipsum is simply dummy text printing and type setting industry Lorem Ipsum been industry standard dummy text ever since when unknown printer took a galley.</p>
			</div>  
		</div>
        
        <!-- Carousel -->
        <div class="col-md-12">
          <div class="carousel owl-carousel owl-theme" style="opacity: 1; display: block;"> 
			  <div class="owl-wrapper-outer"><div class="owl-wrapper" style="width: 4030px; left: 0px; display: block; transition: all 1000ms ease 0s; transform: translate3d(0px, 0px, 0px);"><div class="owl-item" style="width: 403px;"><div class="utf-carousel-item-area">
				<div class="utf-listing-item"> 
				  <a href="single-property-page-1.html" class="utf-smt-listing-img-container">
				  <div class="utf-listing-badges-item"> 
					<span class="featured">Featured</span> 
					<span class="for-sale">For Sale</span> 
				  </div>				  
				  <div class="utf-listing-img-content-item"> 					
					<img class="utf-user-picture" src="images/user_1.jpg" alt="user_1">
					<span class="like-icon with-tip" data-tip-content="Bookmark"><div class="tip-content">Bookmark</div></span> 
					<span class="compare-button with-tip" data-tip-content="Add to Compare"><div class="tip-content">Add to Compare</div></span> 
					<span class="video-button with-tip" data-tip-content="Video"><div class="tip-content">Video</div></span>
				  </div>
				  <div class="utf-listing-carousel-item owl-carousel owl-theme" style="opacity: 1; display: block;">
					<div class="owl-wrapper-outer"><div class="owl-wrapper" style="width: 2238px; left: 0px; display: block; transition: all 1000ms ease 0s; transform: translate3d(0px, 0px, 0px);"><div class="owl-item" style="width: 373px;"><div><img src="images/listing-01.jpg" alt=""></div></div><div class="owl-item" style="width: 373px;"><div><img src="images/listing-01.jpg" alt=""></div></div><div class="owl-item" style="width: 373px;"><div><img src="images/listing-01.jpg" alt=""></div></div></div></div>
					
					
				  <div class="owl-controls clickable"><div class="owl-pagination"><div class="owl-page active"><span class=""></span></div><div class="owl-page"><span class=""></span></div><div class="owl-page"><span class=""></span></div></div><div class="owl-buttons"><div class="owl-prev"></div><div class="owl-next"></div></div></div></div>
				  </a>
				  <div class="utf-listing-content">				
					<div class="utf-listing-title">
					  <span class="utf-listing-price">$22,000/mo</span> 						  	
					  <h4><a href="single-property-page-1.html">Renovated Luxury Apartment</a></h4>
					  <span class="utf-listing-address"><i class="icon-material-outline-location-on"></i> 2021 San Pedro, Los Angeles 90015</span> 											  
					</div>				
					<ul class="utf-listing-features">
					  <li><i class="fa fa-bed"></i> Beds<span>3</span></li>
					  <li><i class="icon-feather-codepen"></i> Baths<span>2</span></li>
					  <li><i class="fa fa-car"></i> Garages<span>2</span></li>					  					 
					  <li><i class="icon-line-awesome-arrows"></i> Sq Ft<span>1530</span></li>					  					 
					</ul> 	
					<div class="utf-listing-user-info"><a href="agents-profile.html"><i class="icon-line-awesome-user"></i> John Williams</a> <span>1 Days Ago</span></div>	
				  </div>
				</div>
			  </div></div><div class="owl-item" style="width: 403px;"><div class="utf-carousel-item-area">
				<div class="utf-listing-item"> <a href="single-property-page-2.html" class="utf-smt-listing-img-container">
				  <div class="utf-listing-badges-item"> 
					<span class="for-rent">For Rent</span> 
				  </div>
				  <div class="utf-listing-img-content-item"> 
					<img class="utf-user-picture" src="images/user_1.jpg" alt="user_1">
					<span class="like-icon with-tip" data-tip-content="Bookmark"><div class="tip-content">Bookmark</div></span> 
					<span class="compare-button with-tip" data-tip-content="Add to Compare"><div class="tip-content">Add to Compare</div></span> 
				  </div>
				  <img src="images/listing-02.jpg" alt=""> </a>
				  <div class="utf-listing-content">
					<div class="utf-listing-title">
					  <span class="utf-listing-price">$19,000/mo</span>	
					  <h4><a href="single-property-page-2.html">Renovated Luxury Apartment</a></h4>
					  <span class="utf-listing-address"><i class="icon-material-outline-location-on"></i> 2021 San Pedro, Los Angeles 90015</span> 
					</div>				
					<ul class="utf-listing-features">
					  <li><i class="fa fa-bed"></i> Beds<span>3</span></li>
					  <li><i class="icon-feather-codepen"></i> Baths<span>2</span></li>
					  <li><i class="fa fa-car"></i> Garages<span>2</span></li>					  					 
					  <li><i class="icon-line-awesome-arrows"></i> Sq Ft<span>1530</span></li>					  					 
					</ul>		
					<div class="utf-listing-user-info"><a href="agents-profile.html"><i class="icon-line-awesome-user"></i> John Williams</a> <span>1 Days Ago</span></div>	
				  </div>
				</div>
			  </div></div><div class="owl-item" style="width: 403px;"><div class="utf-carousel-item-area">
				<div class="utf-listing-item"> <a href="single-property-page-1.html" class="utf-smt-listing-img-container">
				  <div class="utf-listing-badges-item"> 
					<span class="featured">Featured</span> 
					<span class="for-rent">For Rent</span> 
				  </div>
				  <div class="utf-listing-img-content-item"> 
					<img class="utf-user-picture" src="images/user_1.jpg" alt="user_1">
					<span class="like-icon with-tip" data-tip-content="Bookmark"><div class="tip-content">Bookmark</div></span> 
					<span class="compare-button with-tip" data-tip-content="Add to Compare"><div class="tip-content">Add to Compare</div></span> 
					<span class="video-button with-tip" data-tip-content="Video"><div class="tip-content">Video</div></span>
				  </div>
				  <img src="images/listing-03.jpg" alt=""> </a>
				  <div class="utf-listing-content">
					<div class="utf-listing-title">
					  <span class="utf-listing-price">$13,000/mo</span>
					  <h4><a href="single-property-page-1.html">Renovated Luxury Apartment</a></h4>
					  <span class="utf-listing-address"><i class="icon-material-outline-location-on"></i> 2021 San Pedro, Los Angeles 90015</span> 
					</div>				
					<ul class="utf-listing-features">
					  <li><i class="fa fa-bed"></i> Beds<span>3</span></li>
					  <li><i class="icon-feather-codepen"></i> Baths<span>2</span></li>
					  <li><i class="fa fa-car"></i> Garages<span>2</span></li>					  					 
					  <li><i class="icon-line-awesome-arrows"></i> Sq Ft<span>1530</span></li>				  					 
					</ul>	
					<div class="utf-listing-user-info"><a href="agents-profile.html"><i class="icon-line-awesome-user"></i> John Williams</a> <span>1 Days Ago</span></div>	
				  </div>              
				</div>
			  </div></div><div class="owl-item" style="width: 403px;"><div class="utf-carousel-item-area">
				<div class="utf-listing-item"> <a href="single-property-page-1.html" class="utf-smt-listing-img-container">
				  <div class="utf-listing-badges-item"> 
					<span class="for-sale">For Sale</span> 
				  </div>
				  <div class="utf-listing-img-content-item"> 
				    <img class="utf-user-picture" src="images/user_1.jpg" alt="user_1">
					<span class="like-icon with-tip" data-tip-content="Bookmark"><div class="tip-content">Bookmark</div></span> 
					<span class="compare-button with-tip" data-tip-content="Add to Compare"><div class="tip-content">Add to Compare</div></span> 
				  </div>
				  <div class="utf-listing-carousel-item owl-carousel owl-theme" style="opacity: 1; display: block;">
					<div class="owl-wrapper-outer"><div class="owl-wrapper" style="width: 1492px; left: 0px; display: block; transition: all 800ms ease 0s; transform: translate3d(-373px, 0px, 0px);"><div class="owl-item" style="width: 373px;"><div><img src="images/listing-04.jpg" alt=""></div></div><div class="owl-item" style="width: 373px;"><div><img src="images/listing-04.jpg" alt=""></div></div></div></div>
					
				  <div class="owl-controls clickable"><div class="owl-pagination"><div class="owl-page"><span class=""></span></div><div class="owl-page active"><span class=""></span></div></div><div class="owl-buttons"><div class="owl-prev"></div><div class="owl-next"></div></div></div></div>
				  </a>
				  <div class="utf-listing-content">
					<div class="utf-listing-title">
					  <span class="utf-listing-price">$12,000/mo</span>
					  <h4><a href="single-property-page-1.html">Renovated Luxury Apartment</a></h4>
					  <span class="utf-listing-address"><i class="icon-material-outline-location-on"></i> 2021 San Pedro, Los Angeles 90015</span> 
					</div>
					<ul class="utf-listing-features">
					  <li><i class="fa fa-bed"></i> Beds<span>3</span></li>
					  <li><i class="icon-feather-codepen"></i> Baths<span>2</span></li>
					  <li><i class="fa fa-car"></i> Garages<span>2</span></li>					  					 
					  <li><i class="icon-line-awesome-arrows"></i> Sq Ft<span>1530</span></li>				  					 
					</ul>	
					<div class="utf-listing-user-info"><a href="agents-profile.html"><i class="icon-line-awesome-user"></i> John Williams</a> <span>1 Days Ago</span></div>	
				  </div>              
				</div>
			  </div></div><div class="owl-item" style="width: 403px;"><div class="utf-carousel-item-area">
				<div class="utf-listing-item"> <a href="single-property-page-1.html" class="utf-smt-listing-img-container">
				  <div class="utf-listing-badges-item"> 
					<span class="for-sale">For Sale</span> 
				  </div>
				  <div class="utf-listing-img-content-item"> 
					<img class="utf-user-picture" src="images/user_1.jpg" alt="user_1">
					<span class="like-icon with-tip" data-tip-content="Bookmark"><div class="tip-content">Bookmark</div></span> 
					<span class="compare-button with-tip" data-tip-content="Add to Compare"><div class="tip-content">Add to Compare</div></span> 
					<span class="video-button with-tip" data-tip-content="Video"><div class="tip-content">Video</div></span>
				  </div>
				  <img src="images/listing-05.jpg" alt=""> </a>
				  <div class="utf-listing-content">
					<div class="utf-listing-title">
					  <span class="utf-listing-price">$22,000/mo</span>
					  <h4><a href="single-property-page-1.html">Renovated Luxury Apartment</a></h4>
					  <span class="utf-listing-address"><i class="icon-material-outline-location-on"></i> 2021 San Pedro, Los Angeles 90015</span> 
					</div>				
					<ul class="utf-listing-features">
					  <li><i class="fa fa-bed"></i> Beds<span>3</span></li>
					  <li><i class="icon-feather-codepen"></i> Baths<span>2</span></li>
					  <li><i class="fa fa-car"></i> Garages<span>2</span></li>					  					 
					  <li><i class="fa fa-arrows-alt"></i> Sq Ft <span>1530</span></li>				  					 
					</ul> 	
					<div class="utf-listing-user-info"><a href="agents-profile.html"><i class="icon-line-awesome-user"></i> John Williams</a> <span>1 Days Ago</span></div>	
				  </div>              
				</div>
			  </div></div></div></div>
			  
			  
			  
			  
			  
			  
			  
			            
			<div class="owl-controls clickable"><div class="owl-pagination"><div class="owl-page active"><span class=""></span></div><div class="owl-page"><span class=""></span></div></div><div class="owl-buttons"><div class="owl-prev"></div><div class="owl-next"></div></div></div></div>
        </div>
      </div>
    </div>
  </section>