<div class="utf-photo-section-block">
		<div class="utf-photo-text-content white-font">
			<div class="container">
				<div class="row">
					<div class="col-lg-8 col-md-12 col-sm-12">
						<h2>Download Browse Hundreds of Properti</h2>
						<p>Lorem Ipsum is simply dummy text of printing and type setting industry. Lorem Ipsum been industry standard dummy text ever since, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic type setting, remaining essentially unchanged. It was popularised.</p>						
						<ul class="utf-download-text">
							<li>
								<a href="#" class="tooltip top">
									<i class="icon-line-awesome-windows"></i>
									<span>Windows</span>
									<p>Available Now</p>
								</a>
							</li>
							<li>
								<a href="#" class="tooltip top">
									<i class="icon-line-awesome-apple"></i>
									<span>App Store</span>
									<p>Available Now</p>
								</a>
							</li>
							<li>
								<a href="#" class="tooltip top">
									<i class="icon-line-awesome-android"></i>
									<span>Google Play</span>
									<p>Get in On</p>
								</a>
							</li>
						</ul>
					</div>
					<div class="col-lg-4 col-md-6 col-sm-12">
						<div class="download-img">
							<img src="images/mockup3.png" alt="">
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>


<div class="jbm-section-callout">
	<div class="container-fluid">
		<div class="row">
			<div class="col-md-6 col-sm-6 col-xs-12 callout-bg-1 callout-section-left pos-relative">
				<div class="callout-bg"></div>
				<div class="jbm-callout-in jbm-callout-in-padding pull-right">
					<div class="jbm-section-title margin-top-80 margin-bottom-80">
						<h2>Find Your Browse Add Property</h2>
						<span class="section-tit-line"></span>
						<p>Lorem Ipsum is simply dummy text of printing and type setting industry. Lorem Ipsum been industry standard dummy text ever since, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries.</p>
						<a href="add-new-property.html" class="button margin-top-10">Add New Property</a>
					</div>
				</div>
			</div>
			<div class="col-md-6 col-sm-6 col-xs-12 callout-bg-2 callout-section-right pos-relative">
				<div class="callout-bg"></div>
				<div class="jbm-callout-in jbm-callout-in-padding pull-left">
					<div class="jbm-section-title margin-bottom-80 margin-top-80">
						<h2>Find Your Browse Properti</h2>
						<span class="section-tit-line"></span>
						<p>Lorem Ipsum is simply dummy text of printing and type setting industry. Lorem Ipsum been industry standard dummy text ever since, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries.</p>
						<a href="listings-list-with-sidebar.html" class="button margin-top-10">Browse Properti</a>
					</div>
				</div>
			</div>
		</div>
	</div>
  </div>
	<section class="fullwidth" data-background-color="#fbfbfb" style="background: rgb(251, 251, 251) none repeat scroll 0% 0%;"> 
    <div class="container">
      <div class="row">
		<div class="col-md-12">	
			<div class="utf-section-headline-item centered margin-bottom-30 margin-top-0">
			  <h3 class="headline"><span>What are you looking for?</span> Properties In Most Popular Places</h3>
			  <div class="utf-headline-display-inner-item">What are you looking for?</div>
			  <p class="utf-slogan-text">Lorem Ipsum is simply dummy text printing and type setting industry Lorem Ipsum been industry standard dummy text ever since when unknown printer took a galley.</p>
			</div>  
		</div>
        <div class="col-md-3 col-sm-6"> 
          <div class="utf-icon-box-item-area">
            <div class="icon-container"><i class="icon-line-awesome-building"></i></div>
            <h3>Modern Villa</h3>
            <p>Lorem Ipsum is simply dummy text the printing and type setting industry Lorem Ipsum has been industry.</p>
          </div>
        </div>
        <div class="col-md-3 col-sm-6"> 
          <div class="utf-icon-box-item-area">
            <div class="icon-container"><i class="icon-line-awesome-institution"></i></div>
            <h3>Family House</h3>
            <p>Lorem Ipsum is simply dummy text the printing and type setting industry Lorem Ipsum has been industry.</p>
          </div>
        </div>
        <div class="col-md-3 col-sm-6"> 
          <div class="utf-icon-box-item-area">
            <div class="icon-container"><i class="icon-material-outline-location-city"></i></div>
            <h3>Town House</h3>
            <p>Lorem Ipsum is simply dummy text the printing and type setting industry Lorem Ipsum has been industry.</p>
          </div>
        </div>
		<div class="col-md-3 col-sm-6"> 
          <div class="utf-icon-box-item-area">
            <div class="icon-container"><i class="icon-material-outline-business"></i></div>
            <h3>Apartment</h3>
            <p>Lorem Ipsum is simply dummy text the printing and type setting industry Lorem Ipsum has been industry.</p>
          </div>
        </div>
      </div>
    </div>
  </section>
