  <!-- Add Comment -->
		  <div class="utf-inner-blog-section-title">
			<h4><i class="icon-line-awesome-comments-o"></i> Leave Your Comment</h4>
		  </div>
          <div class="margin-top-15"></div>
          
          <!-- Add Comment Form -->
          <form id="add-comment" class="add-comment">
            <fieldset>
              <div class="row">
				 <div class="col-md-6">
					<input type="text" placeholder="Name *" value="">
				  </div>
				  <div class="col-md-6">
					<input type="text" placeholder="Email Address *" value="">
				  </div>
				  <div class="col-md-6">
					<input type="text" placeholder="Phone Number *" value="">
				  </div>
				  <div class="col-md-6">
					<input type="text" placeholder="Subject" value="">
				  </div>
				  <div class="col-md-12">
					<textarea cols="30" placeholder="Comment..." rows="2"></textarea>
				  </div>
			  </div>
            </fieldset>
            <div class="utf-centered-button">
				<a href="#" class="button">Submit Comment</a>
			</div>
            <div class="clearfix"></div>
          </form>