        
		  <!-- Reviews -->
          <section class="comments">
			<div class="utf-inner-blog-section-title">
				<h4><i class="icon-line-awesome-commenting-o"></i> Comments (5)</h4>
			</div>
            <ul>
              <li>
                <div class="avatar"><img src="images/coumment-user-1.jpg" alt=""></div>
                <div class="comment-content">
                  <div class="arrow-comment"></div>
                  <div class="comment-by">John Williams<span class="date">12th, Jan 2020</span> <a href="#" class="reply"><i class="fa fa-reply"></i> Reply</a> </div>
                  <p>Lorem Ipsum is simply dummy text of printing and type setting industry. Lorem Ipsum been industry standard dummy text ever since, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
                </div>
                <ul>
                  <li>
                    <div class="avatar"><img src="images/coumment-user-2.jpg" alt=""></div>
                    <div class="comment-content">
                      <div class="arrow-comment"></div>
                      <div class="comment-by">John Williams<span class="date">12th, Jan 2020</span> <a href="#" class="reply"><i class="fa fa-reply"></i> Reply</a> </div>
                      <p>Lorem Ipsum is simply dummy text of printing and type setting industry. Lorem Ipsum been industry standard dummy text ever since, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
                    </div>
                  </li>
                  <li>
                    <div class="avatar"><img src="images/coumment-user-2.jpg" alt=""></div>
                    <div class="comment-content">
                      <div class="arrow-comment"></div>
                      <div class="comment-by">John Williams<span class="date">12th, Jan 2020</span> <a href="#" class="reply"><i class="fa fa-reply"></i> Reply</a> </div>
                      <p>Lorem Ipsum is simply dummy text of printing and type setting industry. Lorem Ipsum been industry standard dummy text ever since, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
                    </div>
                    <ul>
                      <li>
                        <div class="avatar"><img src="images/coumment-user-1.jpg" alt=""></div>
                        <div class="comment-content">
                          <div class="arrow-comment"></div>
                          <div class="comment-by">John Williams<span class="date">12th, Jan 2020</span> <a href="#" class="reply"><i class="fa fa-reply"></i> Reply</a> </div>
                          <p>Lorem Ipsum is simply dummy text of printing and type setting industry. Lorem Ipsum been industry standard dummy text ever since, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
                        </div>
                      </li>
                    </ul>
                  </li>
                </ul>
              </li>
              <li>
                <div class="avatar"><img src="images/coumment-user-3.jpg" alt=""> </div>
                <div class="comment-content">
                  <div class="arrow-comment"></div>
                  <div class="comment-by">John Williams<span class="date">12th, Jan 2020</span> <a href="#" class="reply"><i class="fa fa-reply"></i> Reply</a> </div>
                  <p>Lorem Ipsum is simply dummy text of printing and type setting industry. Lorem Ipsum been industry standard dummy text ever since, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
                </div>
              </li>
            </ul>
          </section>