
  
  <!-- Titlebar -->
  <div class="parallax titlebar" data-background="images/listings-parallax.jpg" data-color="rgba(48, 48, 48, 1)" data-color-opacity="0.8" data-img-width="800" data-img-height="505" style="background-image: url(&quot;images/listings-parallax.jpg&quot;); background-attachment: fixed; background-size: 1910px 1205.69px; background-position: 50% -781.548px;"><div class="parallax-overlay" style="background-color: rgb(48, 48, 48); opacity: 0.8;"></div>
    <div id="titlebar">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <h2>Agency List</h2>
            <!-- Breadcrumbs -->
            <nav id="breadcrumbs">
              <ul>
                <li>>Home</li>
                <li>Agency List</li>
              </ul>
            </nav>
          </div>
        </div>
      </div>
    </div>
  </div>
  
  <!-- Content -->
  <div class="container">
    <div class="row">
      <div class="col-md-6"> 
        <!-- Agency -->
        <div class="agent agents-profile agency"> <a href="agency-profile.html" class="utf-agent-avatar"> <img src="images/agency-01.jpg" alt=""> </a>
          <div class="utf-agent-content">
            <div class="utf-agent-name">
			  <p class="text-alt">Agent</p>
			  <div class="fp_pdate">2 Hour Ago</div>
              <h4><a href="agency-profile.html">Modern House Real Estate</a></h4>
              <ul class="utf-agent-contact-details">
			      <li><i class="icon-material-outline-business"></i>Afghanistan</li>
				  <li><i class="icon-feather-smartphone"></i>(+21) 124 123 4546</li>
				  <li><i class="icon-material-outline-email"></i><a href="#">demo@example.com</a></li>
			  </ul> 
			  <ul class="utf-social-icons">
				  <li><a class="facebook" href="#"><i class="icon-facebook"></i></a></li>
				  <li><a class="twitter" href="#"><i class="icon-twitter"></i></a></li>
				  <li><a class="linkedin" href="#"><i class="icon-linkedin"></i></a></li>
				  <li><a class="instagram" href="#"><i class="icon-instagram"></i></a></li>
				  <li><a class="gplus" href="#"><i class="icon-gplus"></i></a></li>
			  </ul>
			</div>
			<div class="clearfix"></div>
            <p>Lorem Ipsum is simply dummy text of the printing and type setting industry. Lorem Ipsum has been the industry's standard dummy text.</p>                      
          </div>
        </div>
	  </div>	
	  
	  <div class="col-md-6"> 
        <!-- Agency -->
        <div class="agent agents-profile agency"> <a href="agency-profile.html" class="utf-agent-avatar"> <img src="images/agency-02.jpg" alt=""> </a>
          <div class="utf-agent-content">
            <div class="utf-agent-name">
			  <p class="text-alt">Agent</p>	
			  <div class="fp_pdate">2 Hour Ago</div>
              <h4><a href="agency-profile.html">House Real Estate</a></h4>
              <ul class="utf-agent-contact-details">
			      <li><i class="icon-material-outline-business"></i>Afghanistan</li>
				  <li><i class="icon-feather-smartphone"></i>(+21) 124 123 4546</li>
				  <li><i class="icon-material-outline-email"></i><a href="#">demo@example.com</a></li>
			  </ul> 
			  <ul class="utf-social-icons">
				  <li><a class="facebook" href="#"><i class="icon-facebook"></i></a></li>
				  <li><a class="twitter" href="#"><i class="icon-twitter"></i></a></li>
				  <li><a class="linkedin" href="#"><i class="icon-linkedin"></i></a></li>
				  <li><a class="instagram" href="#"><i class="icon-instagram"></i></a></li>
				  <li><a class="gplus" href="#"><i class="icon-gplus"></i></a></li>
			  </ul>
			</div>
			<div class="clearfix"></div>
            <p>Lorem Ipsum is simply dummy text of the printing and type setting industry. Lorem Ipsum has been the industry's standard dummy text.</p>                      
          </div>
        </div>
	  </div>
	  
	  <div class="col-md-6"> 
        <!-- Agency -->
        <div class="agent agents-profile agency"> <a href="agency-profile.html" class="utf-agent-avatar"> <img src="images/agency-03.jpg" alt=""> </a>
          <div class="utf-agent-content">
            <div class="utf-agent-name">
			  <p class="text-alt">Agent</p>
			  <div class="fp_pdate">2 Hour Ago</div>
              <h4><a href="agency-profile.html">High-Rise Real Estate</a></h4>
              <ul class="utf-agent-contact-details">
			      <li><i class="icon-material-outline-business"></i>Afghanistan</li>
				  <li><i class="icon-feather-smartphone"></i>(+21) 124 123 4546</li>
				  <li><i class="icon-material-outline-email"></i><a href="#">demo@example.com</a></li>
			  </ul> 
			  <ul class="utf-social-icons">
				  <li><a class="facebook" href="#"><i class="icon-facebook"></i></a></li>
				  <li><a class="twitter" href="#"><i class="icon-twitter"></i></a></li>
				  <li><a class="linkedin" href="#"><i class="icon-linkedin"></i></a></li>
				  <li><a class="instagram" href="#"><i class="icon-instagram"></i></a></li>
				  <li><a class="gplus" href="#"><i class="icon-gplus"></i></a></li>
			  </ul>
			</div>
			<div class="clearfix"></div>
            <p>Lorem Ipsum is simply dummy text of the printing and type setting industry. Lorem Ipsum has been the industry's standard dummy text.</p>                      
          </div>
        </div>
	  </div>
	  
	  <div class="col-md-6"> 
        <!-- Agency -->
        <div class="agent agents-profile agency"> <a href="agency-profile.html" class="utf-agent-avatar"> <img src="images/agency-04.jpg" alt=""> </a>
          <div class="utf-agent-content">
            <div class="utf-agent-name">
			  <p class="text-alt">Agent</p>
			  <div class="fp_pdate">2 Hour Ago</div>
              <h4><a href="agency-profile.html">Country House Real Estate</a></h4>
              <ul class="utf-agent-contact-details">
			      <li><i class="icon-material-outline-business"></i>Afghanistan</li>
				  <li><i class="icon-feather-smartphone"></i>(+21) 124 123 4546</li>
				  <li><i class="icon-material-outline-email"></i><a href="#">demo@example.com</a></li>
			  </ul> 
			  <ul class="utf-social-icons">
				  <li><a class="facebook" href="#"><i class="icon-facebook"></i></a></li>
				  <li><a class="twitter" href="#"><i class="icon-twitter"></i></a></li>
				  <li><a class="linkedin" href="#"><i class="icon-linkedin"></i></a></li>
				  <li><a class="instagram" href="#"><i class="icon-instagram"></i></a></li>
				  <li><a class="gplus" href="#"><i class="icon-gplus"></i></a></li>
			  </ul>
			</div>
			<div class="clearfix"></div>
            <p>Lorem Ipsum is simply dummy text of the printing and type setting industry. Lorem Ipsum has been the industry's standard dummy text.</p>                      
          </div>
        </div>
	  </div>
        
      <div class="col-md-12">
        <div class="clearfix"></div>
        <!-- Pagination -->
        <div class="utf-pagination-container margin-top-20">
          <nav class="pagination">
            <ul>
              <li><a href="#"><i class="fa fa-angle-left"></i></a></li>
			  <li><a href="#" class="current-page">1</a></li>
              <li><a href="#">2</a></li>
              <li><a href="#">3</a></li>
              <li class="blank">...</li>
              <li><a href="#">10</a></li>
			  <li><a href="#"><i class="fa fa-angle-right"></i></a></li>
            </ul>
          </nav>
        </div>
        <!-- Pagination / End --> 
      </div>
    </div>
  </div>
  
</div>