<header> 
    <!-- Navbar -->
    <nav data-aos="zoom-out" data-aos-delay="800" class="navbar navbar-expand aos-init aos-animate navbar-sticky" style="">
      <div class="container header"> 
        
        <!-- Navbar Brand--> 
        <a class="navbar-brand" href="index.html"><img src="assets/images/logo-white.png" alt="Theme Logo"></a>  
        
        <!-- Navbar Items -->
        <ul class="navbar-nav items ml-auto">
          <li class="nav-item dropdown"><a href="#" class="nav-link">Home <i class="icon-arrow-down"></i></a>
            <ul class="dropdown-menu">
              <li class="nav-item dropdown"> <a class="nav-link" href="#">Multi-Page Demo <i class="icon-arrow-right"></i></a>
                <ul class="dropdown-menu">
                  <li class="nav-item"><a href="my-portfolio-version-1.html" class="nav-link">My Portfolio One</a></li>
                  <li class="nav-item"><a href="my-portfolio-version-2.html" class="nav-link">My Portfolio Two</a></li>
                  <li class="nav-item"><a href="corporate-business-1.html" class="nav-link">Corporate Business One</a></li>
                  <li class="nav-item"><a href="corporate-business-2.html" class="nav-link">Corporate Business Two</a></li>
                  <li class="nav-item"><a href="digital-agency-1.html" class="nav-link">Digital Agency One</a></li>
                  <li class="nav-item"><a href="digital-agency-2.html" class="nav-link">Digital Agency Two</a></li>
                  <li class="nav-item"><a href="creative-agency-1.html" class="nav-link">Creative Agency One</a></li>
                  <li class="nav-item"><a href="creative-agency-2.html" class="nav-link">Creative Agency Two</a></li>
                  <li class="nav-item"><a href="branding-agency.html" class="nav-link">Branding Agency</a></li>
                  <li class="nav-item"><a href="startup-agency.html" class="nav-link">Startup Agency</a></li>
                  <li class="nav-item"><a href="technology-agency.html" class="nav-link">Technology Agency</a></li>				
                </ul>
              </li>
              <li class="nav-item dropdown"> <a class="nav-link" href="#">One-Page Demo <i class="icon-arrow-right"></i></a>
                <ul class="dropdown-menu">
                  <li class="nav-item"><a href="portfolio-light-version-1.html" class="nav-link">Portfolio Light Version One</a></li>
                  <li class="nav-item"><a href="portfolio-light-version-2.html" class="nav-link">Portfolio Light Version Two</a></li>
                  <li class="nav-item"><a href="portfolio-dark-version-1.html" class="nav-link">Portfolio Dark Version One</a></li>
                  <li class="nav-item"><a href="portfolio-dark-version-2.html" class="nav-link">Portfolio Dark Version Two</a></li>
                  <li class="nav-item"><a href="corporate-business-1-one-page.html" class="nav-link">Corporate Business One</a></li>
                  <li class="nav-item"><a href="corporate-business-2-one-page.html" class="nav-link">Corporate Business Two</a></li>
                  <li class="nav-item"><a href="digital-agency-1-one-page.html" class="nav-link">Digital Agency One</a></li>
                  <li class="nav-item"><a href="digital-agency-2-one-page.html" class="nav-link">Digital Agency Two</a></li>
                  <li class="nav-item"><a href="creative-agency-1-one-page.html" class="nav-link">Creative Agency One</a></li>
                  <li class="nav-item"><a href="creative-agency-2-one-page.html" class="nav-link">Creative Agency Two</a></li>
                  <li class="nav-item"><a href="branding-agency-one-page.html" class="nav-link">Branding Agency</a></li>
                  <li class="nav-item"><a href="startup-agency-one-page.html" class="nav-link">Startup Agency</a></li>
                  <li class="nav-item"><a href="technology-agency-one-page.html" class="nav-link">Technology Agency</a></li>				
                </ul>
              </li>
            </ul>
          </li>
          <li class="nav-item"><a href="page-about.html" class="nav-link">About</a></li>
          <li class="nav-item"><a href="page-services.html" class="nav-link">Services</a></li>
          <li class="nav-item"><a href="page-portfolio.html" class="nav-link">Portfolio</a></li>
          <li class="nav-item dropdown"><a href="#" class="nav-link active">Pages <i class="icon-arrow-down"></i></a>
            <ul class="dropdown-menu">
              <li class="nav-item"><a href="page-about.html" class="nav-link">About Us</a></li>
              <li class="nav-item"><a href="page-services.html" class="nav-link active">Services</a></li>
              <li class="nav-item"><a href="page-service-single.html" class="nav-link">Service Detail</a></li>
              <li class="nav-item"><a href="page-portfolio.html" class="nav-link">Portfolio</a></li>
              <li class="nav-item"><a href="page-pricing.html" class="nav-link">Pricing</a></li>
              <li class="nav-item"><a href="page-contact.html" class="nav-link">Contact</a></li>
              <li class="nav-item"><a href="page-404.html" class="nav-link">404 Page</a></li>
            </ul>
          </li>
          <li class="nav-item dropdown"><a href="page-blog-grid.html" class="nav-link">Blog <i class="icon-arrow-down"></i></a>
            <ul class="dropdown-menu">
              <li class="nav-item"><a href="page-blog-grid.html" class="nav-link">Blog Grid</a></li>
              <li class="nav-item"><a href="blog-single-post-rightsidebar.html" class="nav-link">Blog Post Right Sidebar</a></li>
              <li class="nav-item"><a href="blog-single-post-leftsidebar.html" class="nav-link">Blog Post Left Sidebar</a></li>
            </ul>
          </li>
        </ul>
        
        <!-- Navbar Icons -->
        <ul class="navbar-nav icons ml-auto m-xl-0">
          <li class="nav-item"><a href="#" class="nav-link" data-toggle="modal" data-target="#search"><i class="icon-magnifier"></i></a></li>        
        </ul>
        
        <!-- Navbar Toggle -->
        <ul class="navbar-nav toggle">
          <li class="nav-item"><a href="#" class="nav-link" data-toggle="modal" data-target="#menu"><i class="icon-menu m-0"></i></a></li>
        </ul>
        
        <!-- Navbar Action -->
        <ul class="navbar-nav action">
          <li class="nav-item ml-3"><a href="#contact" class="smooth-anchor btn ml-lg-auto primary-button">Contact <i class="icon-phone"></i></a></li>
        </ul>
      </div>
    </nav>
  </header>