<body><nav class="mmenu-init mm-menu mm-offcanvas" id="mm-108" aria-hidden="true"><div class="mm-panels"><div class="mm-panel mm-hasnavbar mm-opened" id="mm-109"><div class="mm-navbar"><a class="mm-title">Menu</a></div><ul class="mm-listview">
              <li><em class="mm-counter">4</em><a class="mm-next mm-fullsubopen" href="#mm-110" aria-owns="mm-110" aria-haspopup="true"><span class="mm-sronly">Open submenu (Home)</span></a><a class="current" href="#">Home</a>
                
              </li>
              <li><em class="mm-counter">3</em><a class="mm-next mm-fullsubopen" href="#mm-111" aria-owns="mm-111" aria-haspopup="true"><span class="mm-sronly">Open submenu (Listings)</span></a><a href="#">Listings</a>
                
              </li>
              <li><em class="mm-counter">5</em><a class="mm-next mm-fullsubopen" href="#mm-115" aria-owns="mm-115" aria-haspopup="true"><span class="mm-sronly">Open submenu (User Panel)</span></a><a href="#">User Panel</a>
				
			  </li>
              <li><em class="mm-counter">10</em><a class="mm-next mm-fullsubopen" href="#mm-116" aria-owns="mm-116" aria-haspopup="true"><span class="mm-sronly">Open submenu (Pages)</span></a><a href="#">Pages</a>
                
              </li>
			  <li><em class="mm-counter">4</em><a class="mm-next mm-fullsubopen" href="#mm-119" aria-owns="mm-119" aria-haspopup="true"><span class="mm-sronly">Open submenu (Blog)</span></a><a href="#">Blog</a>
                
              </li>
			  <li><a href="contact.html">Contact</a></li>
            </ul></div><div class="mm-panel mm-hidden mm-hasnavbar" id="mm-110" aria-hidden="true"><div class="mm-navbar"><a class="mm-btn mm-prev" href="#mm-109" aria-owns="mm-109" aria-haspopup="true"><span class="mm-sronly">Close submenu (Home)</span></a><a class="mm-title" href="#mm-109" aria-hidden="true">Home</a></div><ul class="mm-listview">
                  <li class="active"><a href="index.html">Home Version One</a></li>
                  <li><a href="index-2.html">Home Version Two</a></li>
                  <li><a href="index-3.html">Home Version Three</a></li>
                  <li><a href="index-4.html">Home Version Four</a></li>
                </ul></div><div class="mm-panel mm-hidden mm-hasnavbar" id="mm-111" aria-hidden="true"><div class="mm-navbar"><a class="mm-btn mm-prev" href="#mm-109" aria-owns="mm-109" aria-haspopup="true"><span class="mm-sronly">Close submenu (Listings)</span></a><a class="mm-title" href="#mm-109" aria-hidden="true">Listings</a></div><ul class="mm-listview">
                  <li><em class="mm-counter">3</em><a class="mm-next mm-fullsubopen" href="#mm-112" aria-owns="mm-112" aria-haspopup="true"><span class="mm-sronly">Open submenu (Listing Layout)</span></a><a href="#">Listing Layout</a>
                    
                  </li>
                  <li><em class="mm-counter">2</em><a class="mm-next mm-fullsubopen" href="#mm-113" aria-owns="mm-113" aria-haspopup="true"><span class="mm-sronly">Open submenu (Listing Half Map)</span></a><a href="#">Listing Half Map</a>
                    
                  </li>
				  <li><em class="mm-counter">2</em><a class="mm-next mm-fullsubopen" href="#mm-114" aria-owns="mm-114" aria-haspopup="true"><span class="mm-sronly">Open submenu (Single Property)</span></a><a href="#">Single Property</a>
                    
                  </li>                  
                </ul></div><div class="mm-panel mm-hidden mm-hasnavbar" id="mm-112" aria-hidden="true"><div class="mm-navbar"><a class="mm-btn mm-prev" href="#mm-111" aria-owns="mm-111" aria-haspopup="true"><span class="mm-sronly">Close submenu (Listing Layout)</span></a><a class="mm-title" href="#mm-111" aria-hidden="true">Listing Layout</a></div><ul class="mm-listview">
                      <li><a href="listings-list-with-sidebar.html">Listing List With Sidebar</a></li>
                      <li><a href="listings-list-with-map.html">Listing List With Map</a></li>
					  <li><a href="listings-grid-compact-with-sidebar.html">Listing Compact Sidebar</a></li>
                    </ul></div><div class="mm-panel mm-hidden mm-hasnavbar" id="mm-113" aria-hidden="true"><div class="mm-navbar"><a class="mm-btn mm-prev" href="#mm-111" aria-owns="mm-111" aria-haspopup="true"><span class="mm-sronly">Close submenu (Listing Half Map)</span></a><a class="mm-title" href="#mm-111" aria-hidden="true">Listing Half Map</a></div><ul class="mm-listview">
                      <li><a href="listings-half-map-list.html">Listing List Map</a></li>
                      <li><a href="listings-half-map-grid-compact.html">Listing Compact Grid Map</a></li>
                    </ul></div><div class="mm-panel mm-hidden mm-hasnavbar" id="mm-114" aria-hidden="true"><div class="mm-navbar"><a class="mm-btn mm-prev" href="#mm-111" aria-owns="mm-111" aria-haspopup="true"><span class="mm-sronly">Close submenu (Single Property)</span></a><a class="mm-title" href="#mm-111" aria-hidden="true">Single Property</a></div><ul class="mm-listview">
                      <li><a href="single-property-page-1.html">Property Detail One</a></li>
                      <li><a href="single-property-page-2.html">Property Detail Two</a></li>                      
                    </ul></div><div class="mm-panel mm-hidden mm-hasnavbar" id="mm-115" aria-hidden="true"><div class="mm-navbar"><a class="mm-btn mm-prev" href="#mm-109" aria-owns="mm-109" aria-haspopup="true"><span class="mm-sronly">Close submenu (User Panel)</span></a><a class="mm-title" href="#mm-109" aria-hidden="true">User Panel</a></div><ul class="mm-listview">
				  <li><a href="my-profile.html">User Profile</a></li>
				  <li><a href="my-bookmarks.html">Bookmark Listing</a></li>
				  <li><a href="my-properties.html">My Property</a></li>
				  <li><a href="add-new-property.html">Add New Property</a></li>
				  <li><a href="change-password.html">Change Password</a></li>
				</ul></div><div class="mm-panel mm-hidden mm-hasnavbar" id="mm-116" aria-hidden="true"><div class="mm-navbar"><a class="mm-btn mm-prev" href="#mm-109" aria-owns="mm-109" aria-haspopup="true"><span class="mm-sronly">Close submenu (Pages)</span></a><a class="mm-title" href="#mm-109" aria-hidden="true">Pages</a></div><ul class="mm-listview">
				  <li><em class="mm-counter">2</em><a class="mm-next mm-fullsubopen" href="#mm-117" aria-owns="mm-117" aria-haspopup="true"><span class="mm-sronly">Open submenu (Agents)</span></a><a href="#">Agents</a>
                    
                  </li>
				  <li><em class="mm-counter">2</em><a class="mm-next mm-fullsubopen" href="#mm-118" aria-owns="mm-118" aria-haspopup="true"><span class="mm-sronly">Open submenu (Agency)</span></a><a href="#">Agency</a>
                    
                  </li>
				  <li><a href="about.html">About</a></li>
				  <li><a href="login.html">Login</a></li>
				  <li><a href="register.html">Register</a></li>
                  <li><a href="pricing-tables.html">Pricing Plan</a></li>
                  <li><a href="typography.html">Typography</a></li>
				  <li><a href="compare-properties.html">Compare Properties</a></li>
				  <li><a href="user_elements.html">User Elements</a></li>
                  <li><a href="icon_cheatsheet.html">Icons Cheatsheet</a></li>
                </ul></div><div class="mm-panel mm-hidden mm-hasnavbar" id="mm-117" aria-hidden="true"><div class="mm-navbar"><a class="mm-btn mm-prev" href="#mm-116" aria-owns="mm-116" aria-haspopup="true"><span class="mm-sronly">Close submenu (Agents)</span></a><a class="mm-title" href="#mm-116" aria-hidden="true">Agents</a></div><ul class="mm-listview">
                      <li><a href="agents-list.html">Agents List</a></li>
                      <li><a href="agents-profile.html">Agents Profile</a></li>
                    </ul></div><div class="mm-panel mm-hidden mm-hasnavbar" id="mm-118" aria-hidden="true"><div class="mm-navbar"><a class="mm-btn mm-prev" href="#mm-116" aria-owns="mm-116" aria-haspopup="true"><span class="mm-sronly">Close submenu (Agency)</span></a><a class="mm-title" href="#mm-116" aria-hidden="true">Agency</a></div><ul class="mm-listview">
                      <li><a href="agency-list.html">Agency List</a></li>
                      <li><a href="agency-profile.html">Agency Profile</a></li>                      
                    </ul></div><div class="mm-panel mm-hidden mm-hasnavbar" id="mm-119" aria-hidden="true"><div class="mm-navbar"><a class="mm-btn mm-prev" href="#mm-109" aria-owns="mm-109" aria-haspopup="true"><span class="mm-sronly">Close submenu (Blog)</span></a><a class="mm-title" href="#mm-109" aria-hidden="true">Blog</a></div><ul class="mm-listview">
				  <li><a href="blog_list_right_sidebar.html">Blog List Right Sidebar</a></li>
				  <li><a href="blog_list_left_sidebar.html">Blog List Left Sidebar</a></li>
				  <li><a href="blog_detail_right_sidebar.html">Blog Detail Right Sidebar</a></li>
				  <li><a href="blog_detail_left_sidebar.html">Blog Detail Left Sidebar</a></li>
				</ul></div></div>
            
          </nav>
<!--Loader-->
<div class="vfx-loader">
<div class="loader-wrapper">
	<div class="loader-content">
		<div class="loader-dot dot-1"></div>
		<div class="loader-dot dot-2"></div>
		<div class="loader-dot dot-3"></div>
		<div class="loader-dot dot-4"></div>
		<div class="loader-dot dot-5"></div>
		<div class="loader-dot dot-6"></div>
		<div class="loader-dot dot-7"></div>
		<div class="loader-dot dot-8"></div>
		<div class="loader-dot dot-center"></div>
	</div>
</div>
</div>
<!-- Loader end -->

<!-- Wrapper -->
<div id="wrapper" class="mm-page mm-slideout" style="min-height: 186px;"> 
  <!-- Compare Property Widget -->
  <div class="utf-compare-slidebar-area">
    <div class="utf-smt-trigger-item"></div>
    <div class="utf-smt-content">
      <h4>Compare Property
        <span class="utf-smt-mobile-trigger-item"></span>
      </h4>
      <div class="utf-smt-property-item"> 
        <!-- Property -->
        <div class="utf-listing-item compact"> <a href="single-property-page-2.html" class="utf-smt-listing-img-container">
          <div class="utf-remove-compare-item"><i class="icon-line-awesome-close"></i></div>
          <div class="utf-listing-badges-item"><span class="for-sale">For Sale</span></div>
          <div class="utf-listing-img-content-item"> <span class="utf-listing-compact-title-item">Renovated Luxury Apartment <i>$420,000</i></span> </div>
          <img src="images/listing-01.jpg" alt=""> </a> 
		</div>
        <!-- Property -->
        <div class="utf-listing-item compact"> <a href="single-property-page-2.html" class="utf-smt-listing-img-container">
          <div class="utf-remove-compare-item"><i class="icon-line-awesome-close"></i></div>
          <div class="utf-listing-badges-item"><span class="for-sale">For Sale</span></div>
          <div class="utf-listing-img-content-item"> <span class="utf-listing-compact-title-item">Renovated Luxury Apartment <i>$420,000</i></span> </div>
          <img src="images/listing-02.jpg" alt=""> </a> 
		</div>        
      </div>
      <div class="utf-smt-buttons"><a href="compare-properties.html" class="button">Compare Property</a></div>
    </div>
  </div>
  <!-- Compare Property Widget / End -->
  
  <!-- Header Container -->
  <header id="header-container" class="fullwidth"> 
    <!-- Header -->
    <div id="header">
      <div class="container"> 
        <div class="left-side"> 
          <div id="logo"><a href="index.html"><img src="images/logo.png" alt=""></a></div>
          <div class="mmenu-trigger">
            <button class="hamburger hamburger--collapse is-active" type="button"> <span class="hamburger-box"> <span class="hamburger-inner"></span> </span> </button>
          </div>
		  <!-- Main Navigation -->
          <nav id="navigation" class="style-1">
            <ul id="responsive">
              <li><a class="current" href="#">Home</a>
                <ul>
                  <li class="active"><a href="index.html">Home Version One</a></li>
                  <li><a href="index-2.html">Home Version Two</a></li>
                  <li><a href="index-3.html">Home Version Three</a></li>
                  <li><a href="index-4.html">Home Version Four</a></li>
                </ul>
              </li>
              <li><a href="#">Listings</a>
                <ul>
                  <li><a href="#">Listing Layout</a>
                    <ul>
                      <li><a href="listings-list-with-sidebar.html">Listing List With Sidebar</a></li>
                      <li><a href="listings-list-with-map.html">Listing List With Map</a></li>
					  <li><a href="listings-grid-compact-with-sidebar.html">Listing Compact Sidebar</a></li>
                    </ul>
                  </li>
                  <li><a href="#">Listing Half Map</a>
                    <ul>
                      <li><a href="listings-half-map-list.html">Listing List Map</a></li>
                      <li><a href="listings-half-map-grid-compact.html">Listing Compact Grid Map</a></li>
                    </ul>
                  </li>
				  <li><a href="#">Single Property</a>
                    <ul>
                      <li><a href="single-property-page-1.html">Property Detail One</a></li>
                      <li><a href="single-property-page-2.html">Property Detail Two</a></li>                      
                    </ul>
                  </li>                  
                </ul>
              </li>
              <li><a href="#">User Panel</a>
				<ul>
				  <li><a href="my-profile.html">User Profile</a></li>
				  <li><a href="my-bookmarks.html">Bookmark Listing</a></li>
				  <li><a href="my-properties.html">My Property</a></li>
				  <li><a href="add-new-property.html">Add New Property</a></li>
				  <li><a href="change-password.html">Change Password</a></li>
				</ul>
			  </li>
              <li><a href="#">Pages</a>
                <ul>
				  <li><a href="#">Agents</a>
                    <ul>
                      <li><a href="agents-list.html">Agents List</a></li>
                      <li><a href="agents-profile.html">Agents Profile</a></li>
                    </ul>
                  </li>
				  <li><a href="#">Agency</a>
                    <ul>
                      <li><a href="agency-list.html">Agency List</a></li>
                      <li><a href="agency-profile.html">Agency Profile</a></li>                      
                    </ul>
                  </li>
				  <li><a href="about.html">About</a></li>
				  <li><a href="login.html">Login</a></li>
				  <li><a href="register.html">Register</a></li>
                  <li><a href="pricing-tables.html">Pricing Plan</a></li>
                  <li><a href="typography.html">Typography</a></li>
				  <li><a href="compare-properties.html">Compare Properties</a></li>
				  <li><a href="user_elements.html">User Elements</a></li>
                  <li><a href="icon_cheatsheet.html">Icons Cheatsheet</a></li>
                </ul>
              </li>
			  <li><a href="#">Blog</a>
                <ul>
				  <li><a href="blog_list_right_sidebar.html">Blog List Right Sidebar</a></li>
				  <li><a href="blog_list_left_sidebar.html">Blog List Left Sidebar</a></li>
				  <li><a href="blog_detail_right_sidebar.html">Blog Detail Right Sidebar</a></li>
				  <li><a href="blog_detail_left_sidebar.html">Blog Detail Left Sidebar</a></li>
				</ul>
              </li>
			  <li><a href="contact.html">Contact</a></li>
            </ul>
          </nav>
          <div class="clearfix"></div>
        </div>
        <div class="right-side"> 
          <div class="header-widget"> 
			<a href="#utf-signin-dialog-block" class="popup-with-zoom-anim log-in-button sign-in"><i class="icon-line-awesome-user"></i> <span>Sign In</span></a> 
			<a href="add-new-property.html" class="button border"><i class="icon-feather-plus-circle"></i> <span>Create Property</span></a> 
		  </div>
        </div>
      </div>
    </div><div id="header" class="cloned unsticky">
      <div class="container"> 
        <div class="left-side"> 
          <div id="logo"><a href="index.html"><img src="images/logo.png" alt=""></a></div>
          <div class="mmenu-trigger">
            <button class="hamburger hamburger--collapse is-active" type="button"> <span class="hamburger-box"> <span class="hamburger-inner"></span> </span> </button>
          </div>
		  <!-- Main Navigation -->
          <nav id="navigation" class="style-1">
            <ul id="responsive">
              <li><a class="current" href="#">Home</a>
                <ul>
                  <li class="active"><a href="index.html">Home Version One</a></li>
                  <li><a href="index-2.html">Home Version Two</a></li>
                  <li><a href="index-3.html">Home Version Three</a></li>
                  <li><a href="index-4.html">Home Version Four</a></li>
                </ul>
              </li>
              <li><a href="#">Listings</a>
                <ul>
                  <li><a href="#">Listing Layout</a>
                    <ul>
                      <li><a href="listings-list-with-sidebar.html">Listing List With Sidebar</a></li>
                      <li><a href="listings-list-with-map.html">Listing List With Map</a></li>
					  <li><a href="listings-grid-compact-with-sidebar.html">Listing Compact Sidebar</a></li>
                    </ul>
                  </li>
                  <li><a href="#">Listing Half Map</a>
                    <ul>
                      <li><a href="listings-half-map-list.html">Listing List Map</a></li>
                      <li><a href="listings-half-map-grid-compact.html">Listing Compact Grid Map</a></li>
                    </ul>
                  </li>
				  <li><a href="#">Single Property</a>
                    <ul>
                      <li><a href="single-property-page-1.html">Property Detail One</a></li>
                      <li><a href="single-property-page-2.html">Property Detail Two</a></li>                      
                    </ul>
                  </li>                  
                </ul>
              </li>
              <li><a href="#">User Panel</a>
				<ul>
				  <li><a href="my-profile.html">User Profile</a></li>
				  <li><a href="my-bookmarks.html">Bookmark Listing</a></li>
				  <li><a href="my-properties.html">My Property</a></li>
				  <li><a href="add-new-property.html">Add New Property</a></li>
				  <li><a href="change-password.html">Change Password</a></li>
				</ul>
			  </li>
              <li><a href="#">Pages</a>
                <ul>
				  <li><a href="#">Agents</a>
                    <ul>
                      <li><a href="agents-list.html">Agents List</a></li>
                      <li><a href="agents-profile.html">Agents Profile</a></li>
                    </ul>
                  </li>
				  <li><a href="#">Agency</a>
                    <ul>
                      <li><a href="agency-list.html">Agency List</a></li>
                      <li><a href="agency-profile.html">Agency Profile</a></li>                      
                    </ul>
                  </li>
				  <li><a href="about.html">About</a></li>
				  <li><a href="login.html">Login</a></li>
				  <li><a href="register.html">Register</a></li>
                  <li><a href="pricing-tables.html">Pricing Plan</a></li>
                  <li><a href="typography.html">Typography</a></li>
				  <li><a href="compare-properties.html">Compare Properties</a></li>
				  <li><a href="user_elements.html">User Elements</a></li>
                  <li><a href="icon_cheatsheet.html">Icons Cheatsheet</a></li>
                </ul>
              </li>
			  <li><a href="#">Blog</a>
                <ul>
				  <li><a href="blog_list_right_sidebar.html">Blog List Right Sidebar</a></li>
				  <li><a href="blog_list_left_sidebar.html">Blog List Left Sidebar</a></li>
				  <li><a href="blog_detail_right_sidebar.html">Blog Detail Right Sidebar</a></li>
				  <li><a href="blog_detail_left_sidebar.html">Blog Detail Left Sidebar</a></li>
				</ul>
              </li>
			  <li><a href="contact.html">Contact</a></li>
            </ul>
          </nav>
          <div class="clearfix"></div>
        </div>
        <div class="right-side"> 
          <div class="header-widget"> 
			<a href="#utf-signin-dialog-block" class="popup-with-zoom-anim log-in-button sign-in"><i class="icon-line-awesome-user"></i> <span>Sign In</span></a> 
			<a href="add-new-property.html" class="button border"><i class="icon-feather-plus-circle"></i> <span>Create Property</span></a> 
		  </div>
        </div>
      </div>
    </div>
  </header>
  <div class="clearfix"></div>
  
  <!-- Banner -->
  <div class="parallax" data-background="images/home-parallax-1.jpg" data-color="#36383e" data-color-opacity="0.72" data-img-width="2500" data-img-height="1600" style="background-image: url(&quot;images/home-parallax-1.jpg&quot;); background-attachment: fixed; background-size: 848px 542.72px; background-position: 50% -97.5946px;"><div class="parallax-overlay" style="background-color: rgb(54, 56, 62); opacity: 0.72;"></div>
    <div class="utf-parallax-content-area">
      <div class="container">
        <div class="row">
          <div class="col-md-12"> 
            <div class="utf-main-search-container-area">
              <div class="utf-banner-headline-text-part">
				<h2>Best Place To Find <span class="typed-words">Residential.</span><span class="typed-cursor typed-cursor--blink">|</span></h2>
				<span>From as low as $10 per day with limited time offer discounts.</span> 
			  </div>
              <form class="utf-main-search-form-item">
                <div class="utf-search-type-block-area">
					<div class="search-type">
					  <label class="active">
						<input class="first-tab" name="tab" checked="checked" type="radio">Buy</label>
					  <label>
						<input name="tab" type="radio">Rent</label>
					  <label>
						<input name="tab" type="radio">Sale</label>
						<div class="utf-search-type-arrow" style="left: 35px;"></div>
					</div>
				</div>
                <div class="utf-main-search-box-area"> 
                  <div class="row with-forms"> 
				    <div class="col-md-4 col-sm-12">
						<input type="text" class="ico-01" placeholder="Enter Keywords..." value="">
					</div>
                    <div class="col-md-2 col-sm-6">
                      <select data-placeholder="Select Area" title="Select Area" class="utf-chosen-select-single-item" style="display: none;">
                        <option>Select Area</option>
						<option>Afghanistan</option>
                        <option>Albania</option>
                        <option>Algeria</option>
                        <option>Brazil</option>
                        <option>Burundi</option>
                        <option>Bulgaria</option>
						<option>California</option>
						<option>Germany</option>
                        <option>Grenada</option>
                        <option>Guatemala</option>
                        <option>Iceland</option>                        
                      </select><div class="chosen-container chosen-container-single chosen-container-single-nosearch" style="width: 100%;" title="Select Area"><a class="chosen-single chosen-default"><span>Select Area</span><div><b></b></div></a><div class="chosen-drop"><div class="chosen-search"><input type="text" autocomplete="off" readonly=""></div><ul class="chosen-results"></ul></div></div>
                    </div>
					<div class="col-md-2 col-sm-6">
                      <select data-placeholder="Select City" title="Select City" class="utf-chosen-select-single-item" style="display: none;">
                        <option>Select City</option>
						<option>Afghanistan</option>
                        <option>Albania</option>
                        <option>Algeria</option>
                        <option>Brazil</option>
                        <option>Burundi</option>
                        <option>Bulgaria</option>
						<option>California</option>
						<option>Germany</option>
                        <option>Grenada</option>
                        <option>Guatemala</option>
                        <option>Iceland</option>                        
                      </select><div class="chosen-container chosen-container-single chosen-container-single-nosearch" style="width: 100%;" title="Select City"><a class="chosen-single chosen-default"><span>Select City</span><div><b></b></div></a><div class="chosen-drop"><div class="chosen-search"><input type="text" autocomplete="off" readonly=""></div><ul class="chosen-results"></ul></div></div>
                    </div>
					<div class="col-md-2 col-sm-6">
						<button class="button utf-search-btn-item"><i class="fa fa-search"></i> Search</button>	
					</div>
					<div class="col-md-2 col-sm-6">
						<a href="#" class="utf-utf-more-search-options-area-button" data-open-title="More Search" data-close-title="Less Search"></a>
					</div>
                  </div>
                                    
                  <div class="utf-more-search-options-area">
                    <div class="utf-more-search-options-area-container"> 
                      <div class="row with-forms">
					    <div class="col-md-4">
						  <select data-placeholder="Property Status" class="utf-chosen-select-single-item" style="display: none;">
							<option>Property Status</option>
							<option>Any</option>
							<option>For Rent</option>
							<option>For Sale</option>							
						  </select><div class="chosen-container chosen-container-single chosen-container-single-nosearch" style="width: 100%;" title=""><a class="chosen-single chosen-default"><span>Property Status</span><div><b></b></div></a><div class="chosen-drop"><div class="chosen-search"><input type="text" autocomplete="off" readonly=""></div><ul class="chosen-results"></ul></div></div>
						</div>
						<div class="col-md-4">
						  <select data-placeholder="Property Type" class="utf-chosen-select-single-item" style="display: none;">
							<option>Property Type</option>
							<option>Residential</option>
							<option>Commercial</option>
							<option>Land</option>							
						  </select><div class="chosen-container chosen-container-single chosen-container-single-nosearch" style="width: 100%;" title=""><a class="chosen-single chosen-default"><span>Property Type</span><div><b></b></div></a><div class="chosen-drop"><div class="chosen-search"><input type="text" autocomplete="off" readonly=""></div><ul class="chosen-results"></ul></div></div>
						</div>
						<div class="col-md-4">
						  <select data-placeholder="Max Rooms" class="utf-chosen-select-single-item" style="display: none;">
							<option>Max Rooms</option>
							<option>1 Rooms</option>
							<option>2 Rooms</option>
							<option>3 Rooms</option>
							<option>4 Rooms</option>
							<option>5 Rooms</option>	
						  </select><div class="chosen-container chosen-container-single chosen-container-single-nosearch" style="width: 100%;" title=""><a class="chosen-single chosen-default"><span>Max Rooms</span><div><b></b></div></a><div class="chosen-drop"><div class="chosen-search"><input type="text" autocomplete="off" readonly=""></div><ul class="chosen-results"></ul></div></div>
						</div>
						<div class="col-md-4">
						  <select data-placeholder="Bed" class="utf-chosen-select-single-item" style="display: none;">
							<option>Bed</option>
							<option>1 Bed</option>
							<option>2 Bed</option>
							<option>3 Bed</option>
							<option>4 Bed</option>
							<option>5 Bed</option>	
						  </select><div class="chosen-container chosen-container-single chosen-container-single-nosearch" style="width: 100%;" title=""><a class="chosen-single chosen-default"><span>Bed</span><div><b></b></div></a><div class="chosen-drop"><div class="chosen-search"><input type="text" autocomplete="off" readonly=""></div><ul class="chosen-results"></ul></div></div>
						</div>
						<div class="col-md-4">
						  <select data-placeholder="Bath" class="utf-chosen-select-single-item" style="display: none;">
							<option>Bath</option>
							<option>1 Bath</option>
							<option>2 Bath</option>
							<option>3 Bath</option>
							<option>4 Bath</option>
							<option>5 Bath</option>	
						  </select><div class="chosen-container chosen-container-single chosen-container-single-nosearch" style="width: 100%;" title=""><a class="chosen-single chosen-default"><span>Bath</span><div><b></b></div></a><div class="chosen-drop"><div class="chosen-search"><input type="text" autocomplete="off" readonly=""></div><ul class="chosen-results"></ul></div></div>
						</div>
						<div class="col-md-4">
						  <select data-placeholder="Agents" class="utf-chosen-select-single-item" style="display: none;">
							<option>Agents</option>
							<option>Bob Haris</option>
							<option>Ross Buttler</option>
							<option>Andrew Saimons</option>
							<option>Steve Austin</option>
						  </select><div class="chosen-container chosen-container-single chosen-container-single-nosearch" style="width: 100%;" title=""><a class="chosen-single chosen-default"><span>Agents</span><div><b></b></div></a><div class="chosen-drop"><div class="chosen-search"><input type="text" autocomplete="off" readonly=""></div><ul class="chosen-results"></ul></div></div>
						</div>
						<div class="col-md-3"> 
						  <div class="select-input">
							<i class="data-unit">USD</i><input type="text" placeholder="Min Price" data-unit="USD">
						  </div>
						</div>
						<div class="col-md-3"> 
						  <div class="select-input">
							<i class="data-unit">USD</i><input type="text" placeholder="Max Price" data-unit="USD">
						  </div>
						</div>
						<div class="col-md-3"> 
						  <div class="select-input">
							<i class="data-unit">Sq Ft</i><input type="text" placeholder="Min Area" data-unit="Sq Ft">
						  </div>
						</div>
                        <div class="col-md-3"> 
                          <div class="select-input">
                            <i class="data-unit">Sq Ft</i><input type="text" placeholder="Max Area" data-unit="Sq Ft">
                          </div>
                        </div>						
                      </div>
                      
                      <div class="checkboxes in-row">
						<div class="title-attribute">Amenities</div>
					    <input id="check-1" type="checkbox" name="check">
                        <label for="check-1">Emergency Exit</label>
                        <input id="check-2" type="checkbox" name="check">
                        <label for="check-2">Dining Room</label>
                        <input id="check-3" type="checkbox" name="check">
                        <label for="check-3">Air Condition</label>
                        <input id="check-4" type="checkbox" name="check">
                        <label for="check-4">Garden</label>
                        <input id="check-5" type="checkbox" name="check">
                        <label for="check-5">Onsite Parking</label>
                        <input id="check-6" type="checkbox" name="check">
                        <label for="check-6">Central Heating</label>
                        <input id="check-7" type="checkbox" name="check">
                        <label for="check-7">Dishwasher</label>
                        <input id="check-8" type="checkbox" name="check">
                        <label for="check-8">Family Room</label>
						<input id="check-9" type="checkbox" name="check">
                        <label for="check-9">Hardwood Flows</label>
						<input id="check-10" type="checkbox" name="check">
                        <label for="check-10">Parking</label>						
						<input id="check-11" type="checkbox" name="check">
                        <label for="check-11">Cleaning Service</label>
                        <input id="check-12" type="checkbox" name="check">
                        <label for="check-12">Doorman</label>
                        <input id="check-13" type="checkbox" name="check">
                        <label for="check-13">Fire Alarm</label>
                        <input id="check-14" type="checkbox" name="check">
                        <label for="check-14">Heating System</label>
                        <input id="check-15" type="checkbox" name="check">
                        <label for="check-15">Pets Allowed</label>
                        <input id="check-16" type="checkbox" name="check">
                        <label for="check-16">Waterfront</label>
                        <input id="check-17" type="checkbox" name="check">
                        <label for="check-17">Cooling System</label>
						<input id="check-18" type="checkbox" name="check">
                        <label for="check-18">Elevator</label>
						<input id="check-19" type="checkbox" name="check">
                        <label for="check-19">Fireplace</label>
						<input id="check-20" type="checkbox" name="check">
                        <label for="check-20">Home Theater</label>                        
                      </div>                      
                    </div>
                  </div>                  
                </div>                
              </form>              
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  
  <!-- Content -->
  <section class="fullwidth" data-background-color="#ffffff" style="background: rgb(255, 255, 255) none repeat scroll 0% 0%;">
	  <div class="container">
		<div class="row">
		  <div class="col-md-12">	
			<div class="utf-section-headline-item centered margin-bottom-30 margin-top-0">
			  <h3 class="headline"><span>Most Featured Properties</span> Featured Properties</h3>
			  <div class="utf-headline-display-inner-item">Most Featured Properties</div>
			  <p class="utf-slogan-text">Lorem Ipsum is simply dummy text printing and type setting industry Lorem Ipsum been industry standard dummy text ever since when unknown printer took a galley.</p>
			</div>  
		  </div>
		  <div class="col-md-12">
			<div class="carousel owl-carousel owl-theme" style="opacity: 1; display: block;"> 
			  <div class="owl-wrapper-outer"><div class="owl-wrapper" style="width: 3750px; left: 0px; display: block; transition: all 800ms ease 0s; transform: translate3d(-1125px, 0px, 0px);"><div class="owl-item" style="width: 375px;"><div class="utf-carousel-item-area">
				<div class="utf-listing-item"> 
				  <a href="single-property-page-1.html" class="utf-smt-listing-img-container">
				  <div class="utf-listing-badges-item"> 
					<span class="featured">Featured</span> 
					<span class="for-sale">For Sale</span> 
				  </div>				  
				  <div class="utf-listing-img-content-item"> 					
					<img class="utf-user-picture" src="images/user_1.jpg" alt="user_1">
					<span class="like-icon with-tip" data-tip-content="Bookmark"><div class="tip-content">Bookmark</div></span> 
					<span class="compare-button with-tip" data-tip-content="Add to Compare"><div class="tip-content">Add to Compare</div></span> 
					<span class="video-button with-tip" data-tip-content="Video"><div class="tip-content">Video</div></span>
				  </div>
				  <div class="utf-listing-carousel-item owl-carousel owl-theme" style="opacity: 1; display: block;">
					<div class="owl-wrapper-outer"><div class="owl-wrapper" style="width: 2070px; left: 0px; display: block; transition: all 1000ms ease 0s; transform: translate3d(0px, 0px, 0px);"><div class="owl-item" style="width: 345px;"><div><img src="images/listing-01.jpg" alt=""></div></div><div class="owl-item" style="width: 345px;"><div><img src="images/listing-01.jpg" alt=""></div></div><div class="owl-item" style="width: 345px;"><div><img src="images/listing-01.jpg" alt=""></div></div></div></div>
					
					
				  <div class="owl-controls clickable"><div class="owl-pagination"><div class="owl-page active"><span class=""></span></div><div class="owl-page"><span class=""></span></div><div class="owl-page"><span class=""></span></div></div><div class="owl-buttons"><div class="owl-prev"></div><div class="owl-next"></div></div></div></div>
				  </a>
				  <div class="utf-listing-content">				
					<div class="utf-listing-title">
					  <span class="utf-listing-price">$18,000/mo</span> 						  	
					  <h4><a href="single-property-page-1.html">Renovated Luxury Apartment</a></h4>
					  <span class="utf-listing-address"><i class="icon-material-outline-location-on"></i> 2021 San Pedro, Los Angeles 90015</span> 											  
					</div>				
					<ul class="utf-listing-features">
					  <li><i class="fa fa-bed"></i> Beds<span>3</span></li>
					  <li><i class="icon-feather-codepen"></i> Baths<span>2</span></li>
					  <li><i class="fa fa-car"></i> Garages<span>2</span></li>					  					 
					  <li><i class="icon-line-awesome-arrows"></i> Sq Ft<span>1530</span></li>
					</ul>
					<div class="utf-listing-user-info"><a href="agents-profile.html"><i class="icon-line-awesome-user"></i> John Williams</a> <span>1 Days Ago</span></div>	
				  </div>
				</div>
			  </div></div><div class="owl-item" style="width: 375px;"><div class="utf-carousel-item-area">
				<div class="utf-listing-item"> <a href="single-property-page-2.html" class="utf-smt-listing-img-container">
				  <div class="utf-listing-badges-item"> 
					<span class="for-rent">For Rent</span> 
				  </div>
				  <div class="utf-listing-img-content-item"> 
					<img class="utf-user-picture" src="images/user_1.jpg" alt="user_1">
					<span class="like-icon with-tip" data-tip-content="Bookmark"><div class="tip-content">Bookmark</div></span> 
					<span class="compare-button with-tip" data-tip-content="Add to Compare"><div class="tip-content">Add to Compare</div></span> 
					<span class="video-button with-tip" data-tip-content="Video"><div class="tip-content">Video</div></span>
				  </div>
				  <img src="images/listing-02.jpg" alt=""> </a>
				  <div class="utf-listing-content">
					<div class="utf-listing-title">
					  <span class="utf-listing-price">$15,000/mo</span>	
					  <h4><a href="single-property-page-2.html">Renovated Luxury Apartment</a></h4>
					  <span class="utf-listing-address"><i class="icon-material-outline-location-on"></i> 2021 San Pedro, Los Angeles 90015</span> 
					</div>				
					<ul class="utf-listing-features">
					  <li><i class="fa fa-bed"></i> Beds<span>3</span></li>
					  <li><i class="icon-feather-codepen"></i> Baths<span>2</span></li>
					  <li><i class="fa fa-car"></i> Garages<span>2</span></li>					  					 
					  <li><i class="icon-line-awesome-arrows"></i> Sq Ft<span>1530</span></li>					  					 
					</ul>	
					<div class="utf-listing-user-info"><a href="agents-profile.html"><i class="icon-line-awesome-user"></i> John Williams</a> <span>1 Days Ago</span></div>	
				  </div>
				</div>
			  </div></div><div class="owl-item" style="width: 375px;"><div class="utf-carousel-item-area">
				<div class="utf-listing-item"> <a href="single-property-page-1.html" class="utf-smt-listing-img-container">
				  <div class="utf-listing-badges-item"> 
					<span class="featured">Featured</span> 
					<span class="for-rent">For Rent</span> 
				  </div>
				  <div class="utf-listing-img-content-item"> 
					<img class="utf-user-picture" src="images/user_1.jpg" alt="user_1">
					<span class="like-icon with-tip" data-tip-content="Bookmark"><div class="tip-content">Bookmark</div></span> 
					<span class="compare-button with-tip" data-tip-content="Add to Compare"><div class="tip-content">Add to Compare</div></span> 
					<span class="video-button with-tip" data-tip-content="Video"><div class="tip-content">Video</div></span>
				  </div>
				  <img src="images/listing-03.jpg" alt=""> </a>
				  <div class="utf-listing-content">
					<div class="utf-listing-title">
					  <span class="utf-listing-price">$22,000/mo</span>
					  <h4><a href="single-property-page-1.html">Renovated Luxury Apartment</a></h4>
					  <span class="utf-listing-address"><i class="icon-material-outline-location-on"></i> 2021 San Pedro, Los Angeles 90015</span> 
					</div>				
					<ul class="utf-listing-features">
					  <li><i class="fa fa-bed"></i> Beds<span>3</span></li>
					  <li><i class="icon-feather-codepen"></i> Baths<span>2</span></li>
					  <li><i class="fa fa-car"></i> Garages<span>2</span></li>					  					 
					  <li><i class="icon-line-awesome-arrows"></i> Sq Ft<span>1530</span></li>				  					 
					</ul>				
					<div class="utf-listing-user-info"><a href="agents-profile.html"><i class="icon-line-awesome-user"></i> John Williams</a> <span>1 Days Ago</span></div>	
				  </div>              
				</div>
			  </div></div><div class="owl-item" style="width: 375px;"><div class="utf-carousel-item-area">
				<div class="utf-listing-item"> <a href="single-property-page-1.html" class="utf-smt-listing-img-container">
				  <div class="utf-listing-badges-item"> 
					<span class="for-sale">For Sale</span> 
				  </div>
				  <div class="utf-listing-img-content-item"> 
				    <img class="utf-user-picture" src="images/user_1.jpg" alt="user_1">
					<span class="like-icon with-tip" data-tip-content="Bookmark"><div class="tip-content">Bookmark</div></span> 
					<span class="compare-button with-tip" data-tip-content="Add to Compare"><div class="tip-content">Add to Compare</div></span> 
					<span class="video-button with-tip" data-tip-content="Video"><div class="tip-content">Video</div></span>
				  </div>
				  <div class="utf-listing-carousel-item owl-carousel owl-theme" style="opacity: 1; display: block;">
					<div class="owl-wrapper-outer"><div class="owl-wrapper" style="width: 1380px; left: 0px; display: block; transition: all 800ms ease 0s; transform: translate3d(-345px, 0px, 0px);"><div class="owl-item" style="width: 345px;"><div><img src="images/listing-04.jpg" alt=""></div></div><div class="owl-item" style="width: 345px;"><div><img src="images/listing-04.jpg" alt=""></div></div></div></div>
					
				  <div class="owl-controls clickable"><div class="owl-pagination"><div class="owl-page"><span class=""></span></div><div class="owl-page active"><span class=""></span></div></div><div class="owl-buttons"><div class="owl-prev"></div><div class="owl-next"></div></div></div></div>
				  </a>
				  <div class="utf-listing-content">
					<div class="utf-listing-title">
					  <span class="utf-listing-price">$25,000/mo</span>
					  <h4><a href="single-property-page-1.html">Renovated Luxury Apartment</a></h4>
					  <span class="utf-listing-address"><i class="icon-material-outline-location-on"></i> 2021 San Pedro, Los Angeles 90015</span> 
					</div>
					<ul class="utf-listing-features">
					  <li><i class="fa fa-bed"></i> Beds<span>3</span></li>
					  <li><i class="icon-feather-codepen"></i> Baths<span>2</span></li>
					  <li><i class="fa fa-car"></i> Garages<span>2</span></li>					  					 
					  <li><i class="icon-line-awesome-arrows"></i> Sq Ft<span>1530</span></li>					  					 
					</ul> 
					<div class="utf-listing-user-info"><a href="agents-profile.html"><i class="icon-line-awesome-user"></i> John Williams</a> <span>1 Days Ago</span></div>	
				  </div>              
				</div>
			  </div></div><div class="owl-item" style="width: 375px;"><div class="utf-carousel-item-area">
				<div class="utf-listing-item"> <a href="single-property-page-1.html" class="utf-smt-listing-img-container">
				  <div class="utf-listing-badges-item"> 
					<span class="for-sale">For Sale</span> 
				  </div>
				  <div class="utf-listing-img-content-item"> 
					<img class="utf-user-picture" src="images/user_1.jpg" alt="user_1">
					<span class="like-icon with-tip" data-tip-content="Bookmark"><div class="tip-content">Bookmark</div></span> 
					<span class="compare-button with-tip" data-tip-content="Add to Compare"><div class="tip-content">Add to Compare</div></span> 
					<span class="video-button with-tip" data-tip-content="Video"><div class="tip-content">Video</div></span>
				  </div>
				  <img src="images/listing-05.jpg" alt=""> </a>
				  <div class="utf-listing-content">
					<div class="utf-listing-title">
					  <span class="utf-listing-price">$14,000/mo</span>
					  <h4><a href="single-property-page-1.html">Renovated Luxury Apartment</a></h4>
					  <span class="utf-listing-address"><i class="icon-material-outline-location-on"></i> 2021 San Pedro, Los Angeles 90015</span> 
					</div>				
					<ul class="utf-listing-features">
					  <li><i class="fa fa-bed"></i> Beds<span>3</span></li>
					  <li><i class="icon-feather-codepen"></i> Baths<span>2</span></li>
					  <li><i class="fa fa-car"></i> Garages<span>2</span></li>					  					 
					  <li><i class="icon-line-awesome-arrows"></i> Sq Ft<span>1530</span></li>				  					 
					</ul> 	
					<div class="utf-listing-user-info"><a href="agents-profile.html"><i class="icon-line-awesome-user"></i> John Williams</a> <span>1 Days Ago</span></div>	
				  </div>              
				</div>
			  </div></div></div></div>
			  
			  
			  
			  
			  
			  
			  
			            
			<div class="owl-controls clickable"><div class="owl-pagination"><div class="owl-page"><span class=""></span></div><div class="owl-page"><span class=""></span></div><div class="owl-page active"><span class=""></span></div></div><div class="owl-buttons"><div class="owl-prev"></div><div class="owl-next"></div></div></div></div>
		  </div>      
		</div>
	  </div>
  </section>
  
  <section class="fullwidth" data-background-color="#fbfbfb" style="background: rgb(251, 251, 251) none repeat scroll 0% 0%;">
	<div class="container">
		<div class="row">
		  <div class="col-md-12">	
			<div class="utf-section-headline-item centered margin-bottom-30 margin-top-0">
			  <h3 class="headline"><span>Most Popular Sale Properties</span> For Sale Properties</h3>
			  <div class="utf-headline-display-inner-item">Most Popular Sale Properties</div>
			  <p class="utf-slogan-text">Lorem Ipsum is simply dummy text printing and type setting industry Lorem Ipsum been industry standard dummy text ever since when unknown printer took a galley.</p>
			</div>  
		  </div>
		  
		  <!-- Carousel -->
		  <div class="col-md-12">
			<div class="carousel owl-carousel owl-theme" style="opacity: 1; display: block;"> 
			  <div class="owl-wrapper-outer"><div class="owl-wrapper" style="width: 3750px; left: 0px; display: block; transition: all 800ms ease 0s; transform: translate3d(-1125px, 0px, 0px);"><div class="owl-item" style="width: 375px;"><div class="utf-carousel-item-area">
				<div class="utf-listing-item"> 
				  <a href="single-property-page-1.html" class="utf-smt-listing-img-container">
				  <div class="utf-listing-badges-item"> 
					<span class="featured">Featured</span> 
					<span class="for-sale">For Sale</span> 
				  </div>				  
				  <div class="utf-listing-img-content-item"> 					
					<img class="utf-user-picture" src="images/user_1.jpg" alt="user_1">
					<span class="like-icon with-tip" data-tip-content="Bookmark"><div class="tip-content">Bookmark</div></span> 
					<span class="compare-button with-tip" data-tip-content="Add to Compare"><div class="tip-content">Add to Compare</div></span> 
					<span class="video-button with-tip" data-tip-content="Video"><div class="tip-content">Video</div></span>
				  </div>
				  <div class="utf-listing-carousel-item owl-carousel owl-theme" style="opacity: 1; display: block;">
					<div class="owl-wrapper-outer"><div class="owl-wrapper" style="width: 2070px; left: 0px; display: block; transition: all 800ms ease 0s; transform: translate3d(-690px, 0px, 0px);"><div class="owl-item" style="width: 345px;"><div><img src="images/listing-01.jpg" alt=""></div></div><div class="owl-item" style="width: 345px;"><div><img src="images/listing-01.jpg" alt=""></div></div><div class="owl-item" style="width: 345px;"><div><img src="images/listing-01.jpg" alt=""></div></div></div></div>
					
					
				  <div class="owl-controls clickable"><div class="owl-pagination"><div class="owl-page"><span class=""></span></div><div class="owl-page"><span class=""></span></div><div class="owl-page active"><span class=""></span></div></div><div class="owl-buttons"><div class="owl-prev"></div><div class="owl-next"></div></div></div></div>
				  </a>
				  <div class="utf-listing-content">				
					<div class="utf-listing-title">
					  <span class="utf-listing-price">$22,000/mo</span> 						  	
					  <h4><a href="single-property-page-1.html">Renovated Luxury Apartment</a></h4>
					  <span class="utf-listing-address"><i class="icon-material-outline-location-on"></i> 2021 San Pedro, Los Angeles 90015</span> 											  
					</div>				
					<ul class="utf-listing-features">
					  <li><i class="fa fa-bed"></i> Beds<span>3</span></li>
					  <li><i class="icon-feather-codepen"></i> Baths<span>2</span></li>
					  <li><i class="fa fa-car"></i> Garages<span>2</span></li>					  					 
					  <li><i class="icon-line-awesome-arrows"></i> Sq Ft<span>1530</span></li>				  					 
					</ul> 
					<div class="utf-listing-user-info"><a href="agents-profile.html"><i class="icon-line-awesome-user"></i> John Williams</a> <span>1 Days Ago</span></div>	
				  </div>
				</div>
			  </div></div><div class="owl-item" style="width: 375px;"><div class="utf-carousel-item-area">
				<div class="utf-listing-item"> <a href="single-property-page-2.html" class="utf-smt-listing-img-container">
				  <div class="utf-listing-badges-item"> 
					<span class="for-rent">For Rent</span> 
				  </div>
				  <div class="utf-listing-img-content-item"> 
					<img class="utf-user-picture" src="images/user_1.jpg" alt="user_1">
					<span class="like-icon with-tip" data-tip-content="Bookmark"><div class="tip-content">Bookmark</div></span> 
					<span class="compare-button with-tip" data-tip-content="Add to Compare"><div class="tip-content">Add to Compare</div></span> 
					<span class="video-button with-tip" data-tip-content="Video"><div class="tip-content">Video</div></span>
				  </div>
				  <img src="images/listing-02.jpg" alt=""> </a>
				  <div class="utf-listing-content">
					<div class="utf-listing-title">
					  <span class="utf-listing-price">$18,000/mo</span>	
					  <h4><a href="single-property-page-2.html">Renovated Luxury Apartment</a></h4>
					  <span class="utf-listing-address"><i class="icon-material-outline-location-on"></i> 2021 San Pedro, Los Angeles 90015</span> 
					</div>				
					<ul class="utf-listing-features">
					  <li><i class="fa fa-bed"></i> Beds<span>3</span></li>
					  <li><i class="icon-feather-codepen"></i> Baths<span>2</span></li>
					  <li><i class="fa fa-car"></i> Garages<span>2</span></li>					  					 
					  <li><i class="icon-line-awesome-arrows"></i> Sq Ft<span>1530</span></li>				  					 
					</ul>
					<div class="utf-listing-user-info"><a href="agents-profile.html"><i class="icon-line-awesome-user"></i> John Williams</a> <span>1 Days Ago</span></div>	
				  </div>
				</div>
			  </div></div><div class="owl-item" style="width: 375px;"><div class="utf-carousel-item-area">
				<div class="utf-listing-item"> <a href="single-property-page-1.html" class="utf-smt-listing-img-container">
				  <div class="utf-listing-badges-item"> 
					<span class="featured">Featured</span> 
					<span class="for-rent">For Rent</span> 
				  </div>
				  <div class="utf-listing-img-content-item"> 
					<img class="utf-user-picture" src="images/user_1.jpg" alt="user_1">
					<span class="like-icon with-tip" data-tip-content="Bookmark"><div class="tip-content">Bookmark</div></span> 
					<span class="compare-button with-tip" data-tip-content="Add to Compare"><div class="tip-content">Add to Compare</div></span> 
					<span class="video-button with-tip" data-tip-content="Video"><div class="tip-content">Video</div></span>
				  </div>
				  <img src="images/listing-03.jpg" alt=""> </a>
				  <div class="utf-listing-content">
					<div class="utf-listing-title">
					  <span class="utf-listing-price">$25,000/mo</span>
					  <h4><a href="single-property-page-1.html">Renovated Luxury Apartment</a></h4>
					  <span class="utf-listing-address"><i class="icon-material-outline-location-on"></i> 2021 San Pedro, Los Angeles 90015</span> 
					</div>				
					<ul class="utf-listing-features">
					  <li><i class="fa fa-bed"></i> Beds<span>3</span></li>
					  <li><i class="icon-feather-codepen"></i> Baths<span>2</span></li>
					  <li><i class="fa fa-car"></i> Garages<span>2</span></li>					  					 
					  <li><i class="icon-line-awesome-arrows"></i> Sq Ft<span>1530</span></li>					  					 
					</ul>	
					<div class="utf-listing-user-info"><a href="agents-profile.html"><i class="icon-line-awesome-user"></i> John Williams</a> <span>1 Days Ago</span></div>	
				  </div>              
				</div>
			  </div></div><div class="owl-item" style="width: 375px;"><div class="utf-carousel-item-area">
				<div class="utf-listing-item"> <a href="single-property-page-1.html" class="utf-smt-listing-img-container">
				  <div class="utf-listing-badges-item"> 
					<span class="for-sale">For Sale</span> 
				  </div>
				  <div class="utf-listing-img-content-item"> 
				    <img class="utf-user-picture" src="images/user_1.jpg" alt="user_1">
					<span class="like-icon with-tip" data-tip-content="Bookmark"><div class="tip-content">Bookmark</div></span> 
					<span class="compare-button with-tip" data-tip-content="Add to Compare"><div class="tip-content">Add to Compare</div></span> 
					<span class="video-button with-tip" data-tip-content="Video"><div class="tip-content">Video</div></span>
				  </div>
				  <div class="utf-listing-carousel-item owl-carousel owl-theme" style="opacity: 1; display: block;">
					<div class="owl-wrapper-outer"><div class="owl-wrapper" style="width: 1380px; left: 0px; display: block; transition: all 800ms ease 0s; transform: translate3d(-345px, 0px, 0px);"><div class="owl-item" style="width: 345px;"><div><img src="images/listing-04.jpg" alt=""></div></div><div class="owl-item" style="width: 345px;"><div><img src="images/listing-04.jpg" alt=""></div></div></div></div>
					
				  <div class="owl-controls clickable"><div class="owl-pagination"><div class="owl-page"><span class=""></span></div><div class="owl-page active"><span class=""></span></div></div><div class="owl-buttons"><div class="owl-prev"></div><div class="owl-next"></div></div></div></div>
				  </a>
				  <div class="utf-listing-content">
					<div class="utf-listing-title">
					  <span class="utf-listing-price">$16,000/mo</span>
					  <h4><a href="single-property-page-1.html">Renovated Luxury Apartment</a></h4>
					  <span class="utf-listing-address"><i class="icon-material-outline-location-on"></i> 2021 San Pedro, Los Angeles 90015</span> 
					</div>
					<ul class="utf-listing-features">
					  <li><i class="fa fa-bed"></i> Beds<span>3</span></li>
					  <li><i class="icon-feather-codepen"></i> Baths<span>2</span></li>
					  <li><i class="fa fa-car"></i> Garages<span>2</span></li>					  					 
					  <li><i class="icon-line-awesome-arrows"></i> Sq Ft<span>1530</span></li>					  					 
					</ul> 	
					<div class="utf-listing-user-info"><a href="agents-profile.html"><i class="icon-line-awesome-user"></i> John Williams</a> <span>1 Days Ago</span></div>	
				  </div>              
				</div>
			  </div></div><div class="owl-item" style="width: 375px;"><div class="utf-carousel-item-area">
				<div class="utf-listing-item"> <a href="single-property-page-1.html" class="utf-smt-listing-img-container">
				  <div class="utf-listing-badges-item"> 
					<span class="for-sale">For Sale</span> 
				  </div>
				  <div class="utf-listing-img-content-item"> 
					<img class="utf-user-picture" src="images/user_1.jpg" alt="user_1">
					<span class="like-icon with-tip" data-tip-content="Bookmark"><div class="tip-content">Bookmark</div></span> 
					<span class="compare-button with-tip" data-tip-content="Add to Compare"><div class="tip-content">Add to Compare</div></span>
					<span class="video-button with-tip" data-tip-content="Video"><div class="tip-content">Video</div></span>	
				  </div>
				  <img src="images/listing-05.jpg" alt=""> </a>
				  <div class="utf-listing-content">
					<div class="utf-listing-title">
					  <span class="utf-listing-price">$14,000/mo</span>
					  <h4><a href="single-property-page-1.html">Renovated Luxury Apartment</a></h4>
					  <span class="utf-listing-address"><i class="icon-material-outline-location-on"></i> 2021 San Pedro, Los Angeles 90015</span> 
					</div>				
					<ul class="utf-listing-features">
					  <li><i class="fa fa-bed"></i> Beds<span>3</span></li>
					  <li><i class="icon-feather-codepen"></i> Baths<span>2</span></li>
					  <li><i class="fa fa-car"></i> Garages<span>2</span></li>					  					 
					  <li><i class="icon-line-awesome-arrows"></i> Sq Ft<span>1530</span></li>				  					 
					</ul> 
					<div class="utf-listing-user-info"><a href="agents-profile.html"><i class="icon-line-awesome-user"></i> John Williams</a> <span>1 Days Ago</span></div>	
				  </div>              
				</div>
			  </div></div></div></div>
			  
			  
			  
			  
			  
			  
			  
			            
			<div class="owl-controls clickable"><div class="owl-pagination"><div class="owl-page"><span class=""></span></div><div class="owl-page"><span class=""></span></div><div class="owl-page active"><span class=""></span></div></div><div class="owl-buttons"><div class="owl-prev"></div><div class="owl-next"></div></div></div></div>
		  </div>		  
		</div>
	  </div>
  </section>
  
  <section class="fullwidth" data-background-color="#ffffff" style="background: rgb(255, 255, 255) none repeat scroll 0% 0%;">
    <div class="container">
      <div class="row">
        <div class="col-md-12">	
			<div class="utf-section-headline-item centered margin-bottom-30 margin-top-0">
			  <h3 class="headline"><span>Most Popular Rent Properties</span> For Rent Properties</h3>
			  <div class="utf-headline-display-inner-item">Most Popular Rent Properties</div>
			  <p class="utf-slogan-text">Lorem Ipsum is simply dummy text printing and type setting industry Lorem Ipsum been industry standard dummy text ever since when unknown printer took a galley.</p>
			</div>  
		</div>
        
        <!-- Carousel -->
        <div class="col-md-12">
          <div class="carousel owl-carousel owl-theme" style="opacity: 1; display: block;"> 
			  <div class="owl-wrapper-outer"><div class="owl-wrapper" style="width: 3750px; left: 0px; display: block; transition: all 800ms ease 0s; transform: translate3d(-1125px, 0px, 0px);"><div class="owl-item" style="width: 375px;"><div class="utf-carousel-item-area">
				<div class="utf-listing-item"> 
				  <a href="single-property-page-1.html" class="utf-smt-listing-img-container">
				  <div class="utf-listing-badges-item"> 
					<span class="featured">Featured</span> 
					<span class="for-sale">For Sale</span> 
				  </div>				  
				  <div class="utf-listing-img-content-item"> 					
					<img class="utf-user-picture" src="images/user_1.jpg" alt="user_1">
					<span class="like-icon with-tip" data-tip-content="Bookmark"><div class="tip-content">Bookmark</div></span> 
					<span class="compare-button with-tip" data-tip-content="Add to Compare"><div class="tip-content">Add to Compare</div></span> 
					<span class="video-button with-tip" data-tip-content="Video"><div class="tip-content">Video</div></span>
				  </div>
				  <div class="utf-listing-carousel-item owl-carousel owl-theme" style="opacity: 1; display: block;">
					<div class="owl-wrapper-outer"><div class="owl-wrapper" style="width: 2070px; left: 0px; display: block; transition: all 800ms ease 0s; transform: translate3d(-345px, 0px, 0px);"><div class="owl-item" style="width: 345px;"><div><img src="images/listing-01.jpg" alt=""></div></div><div class="owl-item" style="width: 345px;"><div><img src="images/listing-01.jpg" alt=""></div></div><div class="owl-item" style="width: 345px;"><div><img src="images/listing-01.jpg" alt=""></div></div></div></div>
					
					
				  <div class="owl-controls clickable"><div class="owl-pagination"><div class="owl-page"><span class=""></span></div><div class="owl-page active"><span class=""></span></div><div class="owl-page"><span class=""></span></div></div><div class="owl-buttons"><div class="owl-prev"></div><div class="owl-next"></div></div></div></div>
				  </a>
				  <div class="utf-listing-content">				
					<div class="utf-listing-title">
					  <span class="utf-listing-price">$22,000/mo</span> 						  	
					  <h4><a href="single-property-page-1.html">Renovated Luxury Apartment</a></h4>
					  <span class="utf-listing-address"><i class="icon-material-outline-location-on"></i> 2021 San Pedro, Los Angeles 90015</span> 											  
					</div>				
					<ul class="utf-listing-features">
					  <li><i class="fa fa-bed"></i> Beds<span>3</span></li>
					  <li><i class="icon-feather-codepen"></i> Baths<span>2</span></li>
					  <li><i class="fa fa-car"></i> Garages<span>2</span></li>					  					 
					  <li><i class="icon-line-awesome-arrows"></i> Sq Ft<span>1530</span></li>					  					 
					</ul> 	
					<div class="utf-listing-user-info"><a href="agents-profile.html"><i class="icon-line-awesome-user"></i> John Williams</a> <span>1 Days Ago</span></div>	
				  </div>
				</div>
			  </div></div><div class="owl-item" style="width: 375px;"><div class="utf-carousel-item-area">
				<div class="utf-listing-item"> <a href="single-property-page-2.html" class="utf-smt-listing-img-container">
				  <div class="utf-listing-badges-item"> 
					<span class="for-rent">For Rent</span> 
				  </div>
				  <div class="utf-listing-img-content-item"> 
					<img class="utf-user-picture" src="images/user_1.jpg" alt="user_1">
					<span class="like-icon with-tip" data-tip-content="Bookmark"><div class="tip-content">Bookmark</div></span> 
					<span class="compare-button with-tip" data-tip-content="Add to Compare"><div class="tip-content">Add to Compare</div></span> 
				  </div>
				  <img src="images/listing-02.jpg" alt=""> </a>
				  <div class="utf-listing-content">
					<div class="utf-listing-title">
					  <span class="utf-listing-price">$19,000/mo</span>	
					  <h4><a href="single-property-page-2.html">Renovated Luxury Apartment</a></h4>
					  <span class="utf-listing-address"><i class="icon-material-outline-location-on"></i> 2021 San Pedro, Los Angeles 90015</span> 
					</div>				
					<ul class="utf-listing-features">
					  <li><i class="fa fa-bed"></i> Beds<span>3</span></li>
					  <li><i class="icon-feather-codepen"></i> Baths<span>2</span></li>
					  <li><i class="fa fa-car"></i> Garages<span>2</span></li>					  					 
					  <li><i class="icon-line-awesome-arrows"></i> Sq Ft<span>1530</span></li>					  					 
					</ul>		
					<div class="utf-listing-user-info"><a href="agents-profile.html"><i class="icon-line-awesome-user"></i> John Williams</a> <span>1 Days Ago</span></div>	
				  </div>
				</div>
			  </div></div><div class="owl-item" style="width: 375px;"><div class="utf-carousel-item-area">
				<div class="utf-listing-item"> <a href="single-property-page-1.html" class="utf-smt-listing-img-container">
				  <div class="utf-listing-badges-item"> 
					<span class="featured">Featured</span> 
					<span class="for-rent">For Rent</span> 
				  </div>
				  <div class="utf-listing-img-content-item"> 
					<img class="utf-user-picture" src="images/user_1.jpg" alt="user_1">
					<span class="like-icon with-tip" data-tip-content="Bookmark"><div class="tip-content">Bookmark</div></span> 
					<span class="compare-button with-tip" data-tip-content="Add to Compare"><div class="tip-content">Add to Compare</div></span> 
					<span class="video-button with-tip" data-tip-content="Video"><div class="tip-content">Video</div></span>
				  </div>
				  <img src="images/listing-03.jpg" alt=""> </a>
				  <div class="utf-listing-content">
					<div class="utf-listing-title">
					  <span class="utf-listing-price">$13,000/mo</span>
					  <h4><a href="single-property-page-1.html">Renovated Luxury Apartment</a></h4>
					  <span class="utf-listing-address"><i class="icon-material-outline-location-on"></i> 2021 San Pedro, Los Angeles 90015</span> 
					</div>				
					<ul class="utf-listing-features">
					  <li><i class="fa fa-bed"></i> Beds<span>3</span></li>
					  <li><i class="icon-feather-codepen"></i> Baths<span>2</span></li>
					  <li><i class="fa fa-car"></i> Garages<span>2</span></li>					  					 
					  <li><i class="icon-line-awesome-arrows"></i> Sq Ft<span>1530</span></li>				  					 
					</ul>	
					<div class="utf-listing-user-info"><a href="agents-profile.html"><i class="icon-line-awesome-user"></i> John Williams</a> <span>1 Days Ago</span></div>	
				  </div>              
				</div>
			  </div></div><div class="owl-item" style="width: 375px;"><div class="utf-carousel-item-area">
				<div class="utf-listing-item"> <a href="single-property-page-1.html" class="utf-smt-listing-img-container">
				  <div class="utf-listing-badges-item"> 
					<span class="for-sale">For Sale</span> 
				  </div>
				  <div class="utf-listing-img-content-item"> 
				    <img class="utf-user-picture" src="images/user_1.jpg" alt="user_1">
					<span class="like-icon with-tip" data-tip-content="Bookmark"><div class="tip-content">Bookmark</div></span> 
					<span class="compare-button with-tip" data-tip-content="Add to Compare"><div class="tip-content">Add to Compare</div></span> 
				  </div>
				  <div class="utf-listing-carousel-item owl-carousel owl-theme" style="opacity: 1; display: block;">
					<div class="owl-wrapper-outer"><div class="owl-wrapper" style="width: 1380px; left: 0px; display: block; transition: all 800ms ease 0s; transform: translate3d(-345px, 0px, 0px);"><div class="owl-item" style="width: 345px;"><div><img src="images/listing-04.jpg" alt=""></div></div><div class="owl-item" style="width: 345px;"><div><img src="images/listing-04.jpg" alt=""></div></div></div></div>
					
				  <div class="owl-controls clickable"><div class="owl-pagination"><div class="owl-page"><span class=""></span></div><div class="owl-page active"><span class=""></span></div></div><div class="owl-buttons"><div class="owl-prev"></div><div class="owl-next"></div></div></div></div>
				  </a>
				  <div class="utf-listing-content">
					<div class="utf-listing-title">
					  <span class="utf-listing-price">$12,000/mo</span>
					  <h4><a href="single-property-page-1.html">Renovated Luxury Apartment</a></h4>
					  <span class="utf-listing-address"><i class="icon-material-outline-location-on"></i> 2021 San Pedro, Los Angeles 90015</span> 
					</div>
					<ul class="utf-listing-features">
					  <li><i class="fa fa-bed"></i> Beds<span>3</span></li>
					  <li><i class="icon-feather-codepen"></i> Baths<span>2</span></li>
					  <li><i class="fa fa-car"></i> Garages<span>2</span></li>					  					 
					  <li><i class="icon-line-awesome-arrows"></i> Sq Ft<span>1530</span></li>				  					 
					</ul>	
					<div class="utf-listing-user-info"><a href="agents-profile.html"><i class="icon-line-awesome-user"></i> John Williams</a> <span>1 Days Ago</span></div>	
				  </div>              
				</div>
			  </div></div><div class="owl-item" style="width: 375px;"><div class="utf-carousel-item-area">
				<div class="utf-listing-item"> <a href="single-property-page-1.html" class="utf-smt-listing-img-container">
				  <div class="utf-listing-badges-item"> 
					<span class="for-sale">For Sale</span> 
				  </div>
				  <div class="utf-listing-img-content-item"> 
					<img class="utf-user-picture" src="images/user_1.jpg" alt="user_1">
					<span class="like-icon with-tip" data-tip-content="Bookmark"><div class="tip-content">Bookmark</div></span> 
					<span class="compare-button with-tip" data-tip-content="Add to Compare"><div class="tip-content">Add to Compare</div></span> 
					<span class="video-button with-tip" data-tip-content="Video"><div class="tip-content">Video</div></span>
				  </div>
				  <img src="images/listing-05.jpg" alt=""> </a>
				  <div class="utf-listing-content">
					<div class="utf-listing-title">
					  <span class="utf-listing-price">$22,000/mo</span>
					  <h4><a href="single-property-page-1.html">Renovated Luxury Apartment</a></h4>
					  <span class="utf-listing-address"><i class="icon-material-outline-location-on"></i> 2021 San Pedro, Los Angeles 90015</span> 
					</div>				
					<ul class="utf-listing-features">
					  <li><i class="fa fa-bed"></i> Beds<span>3</span></li>
					  <li><i class="icon-feather-codepen"></i> Baths<span>2</span></li>
					  <li><i class="fa fa-car"></i> Garages<span>2</span></li>					  					 
					  <li><i class="fa fa-arrows-alt"></i> Sq Ft <span>1530</span></li>				  					 
					</ul> 	
					<div class="utf-listing-user-info"><a href="agents-profile.html"><i class="icon-line-awesome-user"></i> John Williams</a> <span>1 Days Ago</span></div>	
				  </div>              
				</div>
			  </div></div></div></div>
			  
			  
			  
			  
			  
			  
			  
			            
			<div class="owl-controls clickable"><div class="owl-pagination"><div class="owl-page"><span class=""></span></div><div class="owl-page"><span class=""></span></div><div class="owl-page active"><span class=""></span></div></div><div class="owl-buttons"><div class="owl-prev"></div><div class="owl-next"></div></div></div></div>
        </div>
      </div>
    </div>
  </section>
  
  <!-- Photo Section -->
	<div class="utf-photo-section-block">
		<div class="utf-photo-text-content white-font">
			<div class="container">
				<div class="row">
					<div class="col-lg-8 col-md-12 col-sm-12">
						<h2>Download Browse Hundreds of Properti</h2>
						<p>Lorem Ipsum is simply dummy text of printing and type setting industry. Lorem Ipsum been industry standard dummy text ever since, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic type setting, remaining essentially unchanged. It was popularised.</p>						
						<ul class="utf-download-text">
							<li>
								<a href="#" class="tooltip top">
									<i class="icon-line-awesome-windows"></i>
									<span>Windows</span>
									<p>Available Now</p>
								</a>
							</li>
							<li>
								<a href="#" class="tooltip top">
									<i class="icon-line-awesome-apple"></i>
									<span>App Store</span>
									<p>Available Now</p>
								</a>
							</li>
							<li>
								<a href="#" class="tooltip top">
									<i class="icon-line-awesome-android"></i>
									<span>Google Play</span>
									<p>Get in On</p>
								</a>
							</li>
						</ul>
					</div>
					<div class="col-lg-4 col-md-6 col-sm-12">
						<div class="download-img">
							<img src="images/mockup3.png" alt="">
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
  <!-- Photo Section / End -->
  
  <!-- Fullwidth Section -->
  <section class="fullwidth" data-background-color="#fbfbfb" style="background: rgb(251, 251, 251) none repeat scroll 0% 0%;"> 
    <div class="container">
      <div class="row">
		<div class="col-md-12">	
			<div class="utf-section-headline-item centered margin-bottom-30 margin-top-0">
			  <h3 class="headline"><span>What are you looking for?</span> Properties In Most Popular Places</h3>
			  <div class="utf-headline-display-inner-item">What are you looking for?</div>
			  <p class="utf-slogan-text">Lorem Ipsum is simply dummy text printing and type setting industry Lorem Ipsum been industry standard dummy text ever since when unknown printer took a galley.</p>
			</div>  
		</div>
        <div class="col-md-3 col-sm-6"> 
          <div class="utf-icon-box-item-area">
            <div class="icon-container"><i class="icon-line-awesome-building"></i></div>
            <h3>Modern Villa</h3>
            <p>Lorem Ipsum is simply dummy text the printing and type setting industry Lorem Ipsum has been industry.</p>
          </div>
        </div>
        <div class="col-md-3 col-sm-6"> 
          <div class="utf-icon-box-item-area">
            <div class="icon-container"><i class="icon-line-awesome-institution"></i></div>
            <h3>Family House</h3>
            <p>Lorem Ipsum is simply dummy text the printing and type setting industry Lorem Ipsum has been industry.</p>
          </div>
        </div>
        <div class="col-md-3 col-sm-6"> 
          <div class="utf-icon-box-item-area">
            <div class="icon-container"><i class="icon-material-outline-location-city"></i></div>
            <h3>Town House</h3>
            <p>Lorem Ipsum is simply dummy text the printing and type setting industry Lorem Ipsum has been industry.</p>
          </div>
        </div>
		<div class="col-md-3 col-sm-6"> 
          <div class="utf-icon-box-item-area">
            <div class="icon-container"><i class="icon-material-outline-business"></i></div>
            <h3>Apartment</h3>
            <p>Lorem Ipsum is simply dummy text the printing and type setting industry Lorem Ipsum has been industry.</p>
          </div>
        </div>
      </div>
    </div>
  </section>
  
  <!-- Start Section Callout -->
  <div class="jbm-section-callout">
	<div class="container-fluid">
		<div class="row">
			<div class="col-md-6 col-sm-6 col-xs-12 callout-bg-1 callout-section-left pos-relative">
				<div class="callout-bg"></div>
				<div class="jbm-callout-in jbm-callout-in-padding pull-right">
					<div class="jbm-section-title margin-top-80 margin-bottom-80">
						<h2>Find Your Browse Add Property</h2>
						<span class="section-tit-line"></span>
						<p>Lorem Ipsum is simply dummy text of printing and type setting industry. Lorem Ipsum been industry standard dummy text ever since, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries.</p>
						<a href="add-new-property.html" class="button margin-top-10">Add New Property</a>
					</div>
				</div>
			</div>
			<div class="col-md-6 col-sm-6 col-xs-12 callout-bg-2 callout-section-right pos-relative">
				<div class="callout-bg"></div>
				<div class="jbm-callout-in jbm-callout-in-padding pull-left">
					<div class="jbm-section-title margin-bottom-80 margin-top-80">
						<h2>Find Your Browse Properti</h2>
						<span class="section-tit-line"></span>
						<p>Lorem Ipsum is simply dummy text of printing and type setting industry. Lorem Ipsum been industry standard dummy text ever since, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries.</p>
						<a href="listings-list-with-sidebar.html" class="button margin-top-10">Browse Properti</a>
					</div>
				</div>
			</div>
		</div>
	</div>
  </div>
  <!-- End Section Callout -->
  
  <section class="fullwidth" data-background-color="#ffffff" style="background: rgb(255, 255, 255) none repeat scroll 0% 0%;">
	<div class="container">
		<div class="row">
		  <div class="col-md-12">	
			<div class="utf-section-headline-item centered margin-bottom-30 margin-top-0">
			  <h3 class="headline"><span>Most Popular Places</span> Most Popular Properties Places</h3>
			  <div class="utf-headline-display-inner-item">Most Popular Places</div>
			  <p class="utf-slogan-text">Lorem Ipsum is simply dummy text printing and type setting industry Lorem Ipsum been industry standard dummy text ever since when unknown printer took a galley.</p>
			</div>  
		  </div>
		  <div class="col-md-4 col-sm-6"> 
			<a href="listings-list-with-sidebar.html" class="img-box"> 
				<img src="images/popular-location-01.jpg" alt="">
				<div class="utf-cat-img-box-content visible">
				  <h4>Afghanistan</h4>
				  <span>14 Properties</span> 
				</div>
			</a> 
		  </div>
		  <div class="col-md-3 col-sm-6"> 
			<a href="listings-list-with-sidebar.html" class="img-box">
				<img src="images/popular-location-02.jpg" alt="">
				<div class="utf-cat-img-box-content visible">
				  <h4>Australia</h4>
				  <span>24 Properties</span>
				</div>
			</a> 
		  </div>
		  <div class="col-md-5 col-sm-6"> 
			<a href="listings-list-with-sidebar.html" class="img-box">
				<img src="images/popular-location-03.jpg" alt="">
				<div class="utf-cat-img-box-content visible">
				  <h4>Bangladesh</h4>
				  <span>12 Properties</span> 
				</div>
			</a> 
		  </div>
		  <div class="col-md-5 col-sm-6"> 
			<a href="listings-list-with-sidebar.html" class="img-box">
				<img src="images/popular-location-04.jpg" alt="">
				<div class="utf-cat-img-box-content visible">
				  <h4>Miami</h4>
				  <span>9 Properties</span> 
				</div>
			</a> 
		  </div>
		  <div class="col-md-4 col-sm-6"> 
			<a href="listings-list-with-sidebar.html" class="img-box"> 
				<img src="images/popular-location-05.jpg" alt="">
				<div class="utf-cat-img-box-content visible">
				  <h4>Belize</h4>
				  <span>14 Properties</span> 
				</div>
			</a> 
		  </div>
		  <div class="col-md-3 col-sm-6"> 
			<a href="listings-list-with-sidebar.html" class="img-box">
				<img src="images/popular-location-06.jpg" alt="">
				<div class="utf-cat-img-box-content visible">
				  <h4>Cambodia</h4>
				  <span>24 Properties</span> 
				</div>
			</a> 
		  </div>		  	
		</div>
		<div class="utf-centered-button margin-top-10">
			<a href="all-categorie.html" class="button">View All Categories</a> 
		</div>
	 </div>
  </section>
  
  <!-- Fullwidth Section -->
  <section class="fullwidth" data-background-color="linear-gradient(to bottom,rgba(0,0,0,0.03) 0%,rgba(255,255,255,0))" style="background: rgba(0, 0, 0, 0) linear-gradient(rgba(0, 0, 0, 0.03) 0%, rgba(255, 255, 255, 0)) repeat scroll 0% 0%;">
    <div class="container">
      <div class="row">
        <div class="col-md-12">	
			<div class="utf-section-headline-item centered margin-bottom-30 margin-top-0">
			  <h3 class="headline"><span>Our Blog &amp; Articles</span> Latest Blog Post</h3>
			  <div class="utf-headline-display-inner-item">Our Blog &amp; Articles</div>
			  <p class="utf-slogan-text">Lorem Ipsum is simply dummy text printing and type setting industry Lorem Ipsum been industry standard dummy text ever since when unknown printer took a galley.</p>
			</div>  
		</div>
        <div class="col-md-4"> 
          <div class="blog-post"> 
            <a href="blog_detail_right_sidebar.html" class="post-img"> <img src="images/blog-post-01.jpg" alt=""> </a> 
            <div class="utf-post-content-area">
			  <h3><a href="blog_detail_right_sidebar.html">What It Really Takes to Make $100k Before You Turn 30</a></h3>
			  <ul class="utf-blog-item-post-list">
				<li>By, John Williams</li>	
				<li>20 Jan, 2020</li>
			  </ul>
			  <p>Lorem Ipsum is simply dummy text of printing industry Lorem Ipsum been industry standard dummy text since book.</p>
            </div>
          </div>
        </div>
        <div class="col-md-4"> 
          <div class="blog-post"> 
            <a href="blog_detail_right_sidebar.html" class="post-img"> <img src="images/blog-post-02.jpg" alt=""> </a> 
            <div class="utf-post-content-area">
			  <h3><a href="blog_detail_right_sidebar.html">The Best Canadian Merchant Account Providers.</a></h3>
			  <ul class="utf-blog-item-post-list">
				<li>By, John Williams</li>	
				<li>20 Jan, 2020</li>
			  </ul>
			  <p>Lorem Ipsum is simply dummy text of printing industry Lorem Ipsum been industry standard dummy text since book.</p>
            </div>
          </div>          
        </div>
        <div class="col-md-4"> 
          <div class="blog-post"> 
            <a href="blog_detail_right_sidebar.html" class="post-img"> <img src="images/blog-post-03.jpg" alt=""> </a> 
            <div class="utf-post-content-area">
			  <h3><a href="blog_detail_right_sidebar.html">Hey Job Seeker, It 19s Time To Get Up And Get Hired.</a></h3>
			  <ul class="utf-blog-item-post-list">
				<li>By, John Williams</li>	
				<li>20 Jan, 2020</li>
			  </ul>
			  <p>Lorem Ipsum is simply dummy text of printing industry Lorem Ipsum been industry standard dummy text since book.</p>
            </div>
          </div>          
        </div>
      </div>
    </div>
  </section>
  
  <!-- Footer -->
  <div id="footer"> 
    <div class="container">
      <div class="row">
	    <div class="col-md-4 col-sm-12 col-xs-12"> 
          <a href="index.html"><img class="footer-logo" src="images/footer_logo.png" alt=""></a>
          <p>Lorem Ipsum is simply dummy text of printing and type setting industry. Lorem Ipsum been industry standard dummy text ever since, when unknown printer took a galley type scrambled.</p>          
        </div>
        <div class="col-md-2 col-sm-3 col-xs-6">
          <h4>Useful Links</h4>
          <ul class="utf-footer-links-item">
            <li><a href="index.html">Home</a></li>
            <li><a href="#">About Us</a></li>
            <li><a href="#">Services</a></li>
            <li><a href="#">Properties</a></li>
            <li><a href="#">Contact</a></li>
          </ul>
        </div>
        <div class="col-md-2 col-sm-3 col-xs-6">
          <h4>My Account</h4>
          <ul class="utf-footer-links-item">
            <li><a href="#">Dashboard</a></li>
            <li><a href="#">My Profile</a></li>
            <li><a href="#">Add Property</a></li>
			<li><a href="#">My Listing</a></li>
            <li><a href="#">Favorites</a></li>
          </ul>
        </div>
        <div class="col-md-2 col-sm-3 col-xs-6">
          <h4>Resources</h4>
          <ul class="utf-footer-links-item">
            <li><a href="#">My Account</a></li>
            <li><a href="#">Support</a></li>
            <li><a href="#">How It Work</a></li>
            <li><a href="#">Privacy Policy</a></li>
			<li><a href="#">Term &amp; Condition</a></li>
          </ul>
        </div>
		<div class="col-md-2 col-sm-3 col-xs-6">
          <h4>Pages</h4>
          <ul class="utf-footer-links-item">
            <li><a href="#">Our Partners</a></li>
            <li><a href="#">How It Work</a></li>
			<li><a href="#">FAQ Page</a></li>
            <li><a href="#">Privacy Policy</a></li>
			<li><a href="#">Term &amp; Condition</a></li>
          </ul>
        </div>	
      </div>
      <div class="row">
        <div class="col-md-12">
          <div class="copyrights">Copyright  2020 All Rights Reserved.</div>
        </div>
      </div>
    </div>
  </div>
<div id="backtotop"><a href="#"></a></div>
</div>  

<!-- Sign In Popup -->
<div id="utf-signin-dialog-block" class="zoom-anim-dialog mfp-hide dialog-with-tabs"> 
  <div class="utf-signin-form-part">
    <ul class="utf-popup-tabs-nav-item">
      <li class="active"><a href="#login">Log In</a></li>
      <li><a href="#register">Register</a></li>
    </ul>
    <div class="utf-popup-container-part-tabs"> 
      <!-- Login -->
      <div class="utf-popup-tab-content-item" id="login" style="display: inline-block;"> 
        <div class="utf-welcome-text-item">
          <h3>Welcome Back Sign in to Continue</h3>
          <span>Don't Have an Account? <a href="#" class="register-tab">Sign Up!</a></span> 
		</div>
        <form method="post" id="login-form">
          <div class="utf-no-border">
            <input type="text" name="emailaddress" id="emailaddress" placeholder="Email Address" required="">
          </div>
          <div class="utf-no-border">
            <input type="password" name="password" id="password" placeholder="Password" required="">
          </div>
		  <div class="checkbox margin-top-0">
			<input type="checkbox" id="two-step">
			<label for="two-step"><span class="checkbox-icon"></span> Remember Me</label>
		  </div>
          <a href="forgot_password.html" class="forgot-password">Forgot Password?</a>
        </form>
        <button class="button full-width utf-button-sliding-icon ripple-effect" type="submit" form="login-form">Log In <i class="icon-feather-chevrons-right"></i></button>
        <div class="utf-social-login-separator-item"><span>or</span></div>
        <div class="utf-social-login-buttons-block">
          <button class="facebook-login ripple-effect"><i class="icon-brand-facebook-f"></i> Facebook</button>
		  <button class="google-login ripple-effect"><i class="icon-brand-google-plus-g"></i> Google+</button>
		  <button class="twitter-login ripple-effect"><i class="icon-brand-twitter"></i> Twitter</button>
        </div>
      </div>
      
      <!-- Register -->
      <div class="utf-popup-tab-content-item" id="register" style="display: none;"> 
        <div class="utf-welcome-text-item">
          <h3>Create your Account!</h3>
		  <span>Don't Have an Account? <a href="#" class="register-tab">Sign Up!</a></span> 
        </div>        
        <form method="post" id="utf-register-account-form">
          <div class="utf-no-border margin-bottom-20">
			<select class="utf-chosen-select-single-item utf-with-border" title="Single User" style="display: none;">
				<option>Single User</option>
				<option>Agent</option>
				<option>Multi User</option>				
			</select><div class="chosen-container chosen-container-single chosen-container-single-nosearch" style="width: 100%;" title="Single User"><a class="chosen-single"><span>Single User</span><div><b></b></div></a><div class="chosen-drop"><div class="chosen-search"><input type="text" autocomplete="off" readonly=""></div><ul class="chosen-results"></ul></div></div>
		  </div>
		  <div class="utf-no-border">
            <input type="text" name="name" id="name" placeholder="User Name" required="">
          </div>
		  <div class="utf-no-border">
            <input type="text" name="emailaddress-register" id="emailaddress-register" placeholder="Email Address" required="">
          </div>
		  <div class="utf-no-border">
            <input type="password" name="password-register" id="password-register" placeholder="Password" required="">
          </div>
          <div class="utf-no-border">
            <input type="password" name="password-repeat-register" id="password-repeat-register" placeholder="Repeat Password" required="">
          </div>
		  <div class="checkbox margin-top-0">
			<input type="checkbox" id="two-step0">
			<label for="two-step0"><span class="checkbox-icon"></span> By Registering You Confirm That You Accept <a href="#">Terms &amp; Conditions</a> and <a href="#">Privacy Policy</a></label>
		  </div>
        </form>
        <button class="margin-top-10 button full-width utf-button-sliding-icon ripple-effect" type="submit" form="utf-register-account-form">Register <i class="icon-feather-chevrons-right"></i></button>
        <div class="utf-social-login-separator-item"><span>or</span></div>
        <div class="utf-social-login-buttons-block">
          <button class="facebook-login ripple-effect"><i class="icon-brand-facebook-f"></i> Facebook</button>
		  <button class="google-login ripple-effect"><i class="icon-brand-google-plus-g"></i> Google+</button>
		  <button class="twitter-login ripple-effect"><i class="icon-brand-twitter"></i> Twitter</button>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Sign In Popup / End -->

<!-- Scripts --> 
<script src="scripts/jquery-3.3.1.min.js"></script> 
<script src="scripts/chosen.min.js"></script> 
<script src="scripts/magnific-popup.min.js"></script> 
<script src="scripts/owl.carousel.min.js"></script> 
<script src="scripts/rangeSlider.js"></script> 
<script src="scripts/sticky-kit.min.js"></script> 
<script src="scripts/slick.min.js"></script> 
<script src="scripts/masonry.min.js"></script> 
<script src="scripts/mmenu.min.js"></script> 
<script src="scripts/tooltips.min.js"></script> 
<script src="scripts/typed.js"></script>
<script src="scripts/custom_jquery.js"></script> 

<script>
var typed = new Typed('.typed-words', {
	strings: ["Dream Home."," Apartments."," Residential."," Commercial."],
	typeSpeed: 80,
	backSpeed: 80,
	backDelay: 4000,
	startDelay: 1000,
	loop: true,
	showCursor: true
});
</script><style type="text/css" data-typed-js-css="true">
        .typed-cursor{
          opacity: 1;
        }
        .typed-cursor.typed-cursor--blink{
          animation: typedjsBlink 0.7s infinite;
          -webkit-animation: typedjsBlink 0.7s infinite;
                  animation: typedjsBlink 0.7s infinite;
        }
        @keyframes typedjsBlink{
          50% { opacity: 0.0; }
        }
        @-webkit-keyframes typedjsBlink{
          0% { opacity: 1; }
          50% { opacity: 0.0; }
          100% { opacity: 1; }
        }
      </style>

<div id="mm-blocker" class="mm-slideout"></div></body>