
            <div class="utf-submit-page-inner-box">
				<h3>My Account</h3>
				<div class="content with-padding">
					<div class="col-md-6">
						<label>Your Name</label>
                       
						<input value="<%= current_account.first_name %>" type="text">
					</div>
					<div class="col-md-6">
						<label>Your Title</label>
						<input value="Agent In Afghanistan" type="text">
					</div>	
					<div class="col-md-6">
						<label>Phone Number</label>
						<input value="(+21) 124 123 4546" type="text">
					</div>
					<div class="col-md-6">	
						<label>Email Address</label>
                         
						<input value="<%= current_account.email %> " type="text">
					</div>
					<div class="col-md-12 margin-bottom-0">
						<label>Message</label>
						<textarea name="about" id="about" cols="20" rows="5">Lorem Ipsum is simply dummy text of printing and type setting industry Lorem Ipsum been industry standard dummy text ever since. Lorem Ipsum is simply dummy text of printing and type setting industry Lorem Ipsum been industry standard dummy text ever since.</textarea>
					</div>
				</div>				
			</div>

            			<div class="utf-submit-page-inner-box">
				<h3>Social Accounts</h3>
				<div class="content with-padding">
					<div class="col-md-6">
						<label><i class="icon-brand-facebook"></i> Facebook</label>
						<input value="https://www.facebook.com" type="text">
					</div>
					<div class="col-md-6">
						<label><i class="icon-brand-twitter"></i> Twitter</label>
						<input value="https://www.twitter.com" type="text">
					</div>
					<div class="col-md-6">
						<label><i class="icon-brand-linkedin"></i> Linkedin</label>
						<input value="https://www.linkedin.com" type="text">
					</div>
					<div class="col-md-6">
						<label><i class="icon-brand-google-plus-g"></i> Google+</label>
						<input value="https://www.google.com" type="text">	
					</div>
					<div class="col-md-6">
						<label><i class="icon-brand-pinterest"></i> Pinterest</label>
						<input value="https://www.pinterest.com" type="text">	
					</div>
					<div class="col-md-6">
						<label><i class="icon-feather-instagram"></i> Instagram</label>
						<input value="https://www.instagram.com" type="text">	
					</div>
				</div>					
			</div>

            		
			<div class="row">
				<div class="col-md-12">
					<button class="utf-centered-button button margin-top-0 margin-bottom-20">Save Changes</button>
				</div>
			</div>