<div class="parallax titlebar" data-background="images/listings-parallax.jpg" data-color="rgba(48, 48, 48, 1)" data-color-opacity="0.8" data-img-width="800" data-img-height="505" style="background-image: url(&quot;images/listings-parallax.jpg&quot;); background-attachment: fixed; background-size: 1910px 1205.69px; background-position: 50% -590.532px;">
<div class="parallax-overlay" style="background-color: rgb(48, 48, 48); opacity: 0.8;"></div>
	<%= render "myprofile/titlebar"  %>
  </div>

  <div class="container">
    <div class="row"> 
      <!-- Widget -->
      <div class="col-md-3">
	    <div class="margin-bottom-20"> 
			
	    </div>
		<div class="clearfix"></div>
	
      </div>
      <div class="col-md-9">
          <div class="utf-user-profile-item">
		 		
		
          </div>          
      </div>
    </div>
  </div>
