<div class="container">
    <div class="row"> 
      
      <!-- Property Description -->
      <div class="col-lg-8 col-md-7">
      <!-- Titlebar -->
	    <div id="titlebar-dtl-item" class="property-titlebar margin-bottom-0">
		  <div class="property-title">
		    <div class="property-pricing">$22,000/mo</div>							
			<h2>Renovated Luxury Apartment <span class="property-badge-sale">For Sale</span></h2>
			<span class="utf-listing-address"><i class="icon-material-outline-location-on"></i> 2021 San Pedro, Los Angeles 90015</span>
			<ul class="property-main-features">
              <li>Beds<span>3</span></li>
			  <li>Baths<span>2</span></li>
			  <li>Garages<span>2</span></li>					  					 
			  <li>Sq Ft<span>1530</span></li>
            </ul>
		  </div>		  
	    </div>
	  
        <div class="property-description"> 
          <!-- Description -->
          <div class="utf-desc-headline-item">
			<h3><i class="icon-material-outline-description"></i> Property Description</h3>
		  </div>
          <div class="show-more">
            <p> Ut euismod ultricies sollicitudin. Curabitur sed dapibus nulla. Nulla eget iaculis lectus. Mauris ac maximus neque. Nam in mauris quis libero sodales eleifend. Morbi varius, nulla sit amet rutrum elementum, est elit finibus tellus, ut tristique elit risus at metus. Sed fermentum, lorem vitae efficitur imperdiet, neque velit tristique turpis, et iaculis mi tortor finibus turpis. </p>
            <p> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas in pulvinar neque. Nulla finibus lobortis pulvinar. Donec a consectetur nulla. Nulla posuere sapien vitae lectus suscipit, et pulvinar nisi tincidunt. Aliquam erat volutpat. Curabitur convallis fringilla diam sed aliquam. Sed tempor iaculis massa faucibus feugiat. In fermentum facilisis massa, a consequat purus viverra a. Aliquam pellentesque nibh et nibh feugiat gravida. Maecenas ultricies, diam vitae semper placerat, velit risus accumsan nisl, eget tempor lacus est vel nunc. Proin accumsan elit sed neque euismod fringilla. Curabitur lobortis nunc velit, et fermentum urna dapibus non. Vivamus magna lorem, elementum id gravida ac, laoreet tristique augue. Maecenas dictum lacus eu nunc porttitor, ut hendrerit arcu efficitur. </p>
            <p> Nam mattis lobortis felis eu blandit. Morbi tellus ligula, interdum sit amet ipsum et, viverra hendrerit lectus. Nunc efficitur sem vel est laoreet, sed bibendum eros viverra. Vestibulum finibus, ligula sed euismod tincidunt, lacus libero lobortis ligula, sit amet molestie ipsum purus ut tortor. Nunc varius, dui et sollicitudin facilisis, erat felis imperdiet felis, et iaculis dui magna vitae diam. Donec mattis diam nisl, quis ullamcorper enim malesuada non. Curabitur lobortis eu mauris nec vestibulum. Nam efficitur, ex ac semper malesuada, nisi odio consequat dui, hendrerit vulputate odio dui vitae massa. Aliquam tortor urna, tincidunt ut euismod quis, semper vel ipsum. Ut non vestibulum mauris. Morbi euismod, felis non hendrerit viverra, nunc sapien bibendum ligula, eget vehicula nunc dolor eu ex. Quisque in semper odio. Donec auctor blandit ligula. Integer id lectus non nibh vulputate efficitur quis at arcu. </p>
            <a href="#" class="show-more-button">Show More <i class="sl sl-icon-plus"></i></a> 
		  </div>
          
          <!-- Details -->
		  <div class="utf-desc-headline-item">
			<h3><i class="sl sl-icon-briefcase"></i> Property Details</h3>
		  </div>
          <ul class="property-features margin-top-0">
            <li>Property ID: <span>HP1714</span></li>
            <li>Price: <span>$180,000</span></li>
            <li>Property Size: <span>1480 Sq Ft</span></li>
            <li>Year Built: <span>15 Jan, 2010</span></li>
            <li>Bedrooms: <span>4</span></li>
            <li>Bathrooms: <span>3</span></li>
            <li>Garage: <span>3</span></li>
            <li>Garage Size: <span>200 Sq Ft</span></li>
			<li>Property Type: <span>Apartment</span></li>
            <li>Property Status: <span>For Sale</span></li>
          </ul>
		  
		  <!-- Details -->
		  <div class="utf-desc-headline-item">
			<h3><i class="icon-material-outline-business"></i> Additional Details</h3>
		  </div>
          <ul class="property-features margin-top-0">
            <li>Deposit: <span>28%</span></li>
            <li>Pool Size: <span>300 Sq Ft</span></li>
            <li>Additional Rooms: <span>Guest Bath</span></li>
            <li>Last Remodel Year: <span>2010</span></li>
            <li>Amenities: <span>Clubhouse</span></li>
            <li>Equipment: <span>Grill - Gas</span></li>            
          </ul>
          
          <!-- Features -->
		  <div class="utf-desc-headline-item">
			<h3><i class="sl sl-icon-briefcase"></i> Property Features</h3>
		  </div>
          <ul class="property-features checkboxes margin-top-0">
            <li>Air Conditioning</li>
            <li>Barbeque</li>
            <li>Dryer</li>
            <li>Gym</li>
            <li>Laundry</li>
            <li>Lawn</li>
            <li>Microwave</li>
            <li>Outdoor Shower</li>
			<li>Refrigerator</li>
            <li>Sauna</li>
            <li>Swimming Pool</li>
            <li>TV Cable</li>
            <li>Washer</li>
            <li>WiFi</li>
            <li>Window Coverings</li>
          </ul>
          
          <!-- Floorplans -->
		  <div class="utf-desc-headline-item">
			<h3><i class="icon-line-awesome-paper-plane"></i> Property Floor Plans</h3>
		  </div>
          <!-- Accordion -->
          <div class="style-1 fp-accordion">
            <div class="accordion ui-accordion ui-widget ui-helper-reset">
              <h3 class="ui-accordion-header ui-helper-reset ui-state-default ui-accordion-icons ui-corner-all">First Floor <span class="">Size: <strong>1280 Sqft</strong></span> <span class="">Rooms: <strong>650 Sqft</strong></span> <span class="">Baths: <strong>500 Sqft</strong></span> <span class="">Price: <strong>$15,000</strong></span> <i class="sl sl-icon-plus"></i> </h3>
              <div class="ui-accordion-content ui-helper-reset ui-widget-content ui-corner-bottom" style="display: none;"> 
			    <a class="floor-pic mfp-image" href="images/floor_plan_1.jpg"> <img src="images/floor_plan_1.jpg" alt=""> </a>
                <p>Plan description. Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat.</p>
              </div>
              <h3 class="ui-accordion-header ui-helper-reset ui-state-default ui-accordion-icons ui-corner-all">Second Floor <span class="">Size: <strong>1280 Sqft</strong></span> <span class="">Rooms: <strong>650 Sqft</strong></span> <span class="">Baths: <strong>500 Sqft</strong></span> <span class="">Price: <strong>$15,000</strong></span> <i class="sl sl-icon-plus"></i></h3>
              <div class="ui-accordion-content ui-helper-reset ui-widget-content ui-corner-bottom" style="display: none;"> 
			    <a class="floor-pic mfp-image" href="images/floor_plan_2.jpg"> <img src="images/floor_plan_2.jpg" alt=""> </a>
                <p>Plan description. Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat.</p>
              </div>              
            </div>
          </div>
          
          <!-- Video -->
		  <div class="utf-desc-headline-item">
			<h3><i class="icon-feather-video"></i> Property Video</h3>
		  </div>
          <div class="responsive-iframe">
            <iframe src="https://www.youtube.com/embed/oqNZOOWF8qM" allowfullscreen="" width="560" height="315"></iframe>
          </div>
          
          <!-- Location -->
		  <div class="utf-desc-headline-item">
			<h3><i class="icon-material-outline-location-on"></i> Property Location</h3>
		  </div>
          <div id="propertyMap-container">
            <div id="propertyMap" data-latitude="48.8566" data-longitude="2.3522" data-map-icon="im im-icon-Hamburger" style="position: relative; overflow: hidden;"><div style="height: 100%; width: 100%; position: absolute; top: 0px; left: 0px; background-color: rgb(229, 227, 223);"><div style="position: absolute; z-index: 0; left: 0px; top: 0px; height: 100%; width: 100%; padding: 0px; border-width: 0px; margin: 0px;" class="gm-style"><div style="position: absolute; z-index: 0; left: 0px; top: 0px; height: 100%; width: 100%; padding: 0px; border-width: 0px; margin: 0px; cursor: url(&quot;https://maps.gstatic.com/mapfiles/openhand_8_8.cur&quot;), default; touch-action: pan-x pan-y;" tabindex="0" aria-label="Map" aria-roledescription="map" role="img"><div style="z-index: 1; position: absolute; left: 50%; top: 50%; width: 100%; transform: translate(0px);"><div style="position: absolute; left: 0px; top: 0px; z-index: 100; width: 100%;"><div style="position: absolute; left: 0px; top: 0px; z-index: 0;"><div style="position: absolute; z-index: 987; transform: matrix(1, 0, 0, 1, -135, -72);"><div style="position: absolute; left: 256px; top: 0px; width: 256px; height: 256px;"><div style="width: 256px; height: 256px;"></div></div><div style="position: absolute; left: 0px; top: 0px; width: 256px; height: 256px;"><div style="width: 256px; height: 256px;"></div></div><div style="position: absolute; left: 0px; top: -256px; width: 256px; height: 256px;"><div style="width: 256px; height: 256px;"></div></div><div style="position: absolute; left: 256px; top: -256px; width: 256px; height: 256px;"><div style="width: 256px; height: 256px;"></div></div><div style="position: absolute; left: 512px; top: -256px; width: 256px; height: 256px;"><div style="width: 256px; height: 256px;"></div></div><div style="position: absolute; left: 512px; top: 0px; width: 256px; height: 256px;"><div style="width: 256px; height: 256px;"></div></div><div style="position: absolute; left: 512px; top: 256px; width: 256px; height: 256px;"><div style="width: 256px; height: 256px;"></div></div><div style="position: absolute; left: 256px; top: 256px; width: 256px; height: 256px;"><div style="width: 256px; height: 256px;"></div></div><div style="position: absolute; left: 0px; top: 256px; width: 256px; height: 256px;"><div style="width: 256px; height: 256px;"></div></div><div style="position: absolute; left: -256px; top: 256px; width: 256px; height: 256px;"><div style="width: 256px; height: 256px;"></div></div><div style="position: absolute; left: -256px; top: 0px; width: 256px; height: 256px;"><div style="width: 256px; height: 256px;"></div></div><div style="position: absolute; left: -256px; top: -256px; width: 256px; height: 256px;"><div style="width: 256px; height: 256px;"></div></div></div></div></div><div style="position: absolute; left: 0px; top: 0px; z-index: 101; width: 100%;"></div><div style="position: absolute; left: 0px; top: 0px; z-index: 102; width: 100%;"></div><div style="position: absolute; left: 0px; top: 0px; z-index: 103; width: 100%;"><div style="width: 38px; height: 49px; position: absolute; left: -19px; top: -51px; z-index: 0;"><canvas width="38" height="49" style="width: 38px; height: 49px; position: absolute; left: 0px; top: 0px; user-select: none;" draggable="false"></canvas></div><div style="position: absolute; left: 0px; top: 0px; z-index: -1;"><div style="position: absolute; z-index: 987; transform: matrix(1, 0, 0, 1, -135, -72);"><div style="width: 256px; height: 256px; overflow: hidden; position: absolute; left: 256px; top: 0px;"></div><div style="width: 256px; height: 256px; overflow: hidden; position: absolute; left: 0px; top: 0px;"></div><div style="width: 256px; height: 256px; overflow: hidden; position: absolute; left: 0px; top: -256px;"></div><div style="width: 256px; height: 256px; overflow: hidden; position: absolute; left: 256px; top: -256px;"></div><div style="width: 256px; height: 256px; overflow: hidden; position: absolute; left: 512px; top: -256px;"></div><div style="width: 256px; height: 256px; overflow: hidden; position: absolute; left: 512px; top: 0px;"></div><div style="width: 256px; height: 256px; overflow: hidden; position: absolute; left: 512px; top: 256px;"></div><div style="width: 256px; height: 256px; overflow: hidden; position: absolute; left: 256px; top: 256px;"></div><div style="width: 256px; height: 256px; overflow: hidden; position: absolute; left: 0px; top: 256px;"></div><div style="width: 256px; height: 256px; overflow: hidden; position: absolute; left: -256px; top: 256px;"></div><div style="width: 256px; height: 256px; overflow: hidden; position: absolute; left: -256px; top: 0px;"></div><div style="width: 256px; height: 256px; overflow: hidden; position: absolute; left: -256px; top: -256px;"></div></div></div></div><div style="position: absolute; left: 0px; top: 0px; z-index: 0;"><div style="position: absolute; z-index: 987; transform: matrix(1, 0, 0, 1, -135, -72);"><div style="position: absolute; left: 0px; top: -256px; width: 256px; height: 256px; transition: opacity 200ms linear 0s;"><img style="width: 256px; height: 256px; user-select: none; border: 0px none; padding: 0px; margin: 0px; max-width: none;" draggable="false" alt="" role="presentation" src="https://maps.googleapis.com/maps/vt?pb=!1m5!1m4!1i13!2i4149!3i2817!4i256!2m3!1e0!2sm!3i534257294!2m3!1e2!6m1!3e5!3m17!2sru-RU!3sUS!5e18!12m4!1e68!2m2!1sset!2sRoadmap!12m3!1e37!2m1!1ssmartmaps!12m4!1e26!2m2!1sstyles!2zcC5zOi02MHxwLmw6LTYw!4e0&amp;token=53093"></div><div style="position: absolute; left: -256px; top: -256px; width: 256px; height: 256px; transition: opacity 200ms linear 0s;"><img style="width: 256px; height: 256px; user-select: none; border: 0px none; padding: 0px; margin: 0px; max-width: none;" draggable="false" alt="" role="presentation" src="https://maps.googleapis.com/maps/vt?pb=!1m5!1m4!1i13!2i4148!3i2817!4i256!2m3!1e0!2sm!3i534257282!2m3!1e2!6m1!3e5!3m17!2sru-RU!3sUS!5e18!12m4!1e68!2m2!1sset!2sRoadmap!12m3!1e37!2m1!1ssmartmaps!12m4!1e26!2m2!1sstyles!2zcC5zOi02MHxwLmw6LTYw!4e0&amp;token=129231"></div><div style="position: absolute; left: 512px; top: -256px; width: 256px; height: 256px; transition: opacity 200ms linear 0s;"><img style="width: 256px; height: 256px; user-select: none; border: 0px none; padding: 0px; margin: 0px; max-width: none;" draggable="false" alt="" role="presentation" src="https://maps.googleapis.com/maps/vt?pb=!1m5!1m4!1i13!2i4151!3i2817!4i256!2m3!1e0!2sm!3i534257294!2m3!1e2!6m1!3e5!3m17!2sru-RU!3sUS!5e18!12m4!1e68!2m2!1sset!2sRoadmap!12m3!1e37!2m1!1ssmartmaps!12m4!1e26!2m2!1sstyles!2zcC5zOi02MHxwLmw6LTYw!4e0&amp;token=58664"></div><div style="position: absolute; left: 512px; top: 0px; width: 256px; height: 256px; transition: opacity 200ms linear 0s;"><img style="width: 256px; height: 256px; user-select: none; border: 0px none; padding: 0px; margin: 0px; max-width: none;" draggable="false" alt="" role="presentation" src="https://maps.googleapis.com/maps/vt?pb=!1m5!1m4!1i13!2i4151!3i2818!4i256!2m3!1e0!2sm!3i534257294!2m3!1e2!6m1!3e5!3m17!2sru-RU!3sUS!5e18!12m4!1e68!2m2!1sset!2sRoadmap!12m3!1e37!2m1!1ssmartmaps!12m4!1e26!2m2!1sstyles!2zcC5zOi02MHxwLmw6LTYw!4e0&amp;token=94358"></div><div style="position: absolute; left: 256px; top: 256px; width: 256px; height: 256px; transition: opacity 200ms linear 0s;"><img style="width: 256px; height: 256px; user-select: none; border: 0px none; padding: 0px; margin: 0px; max-width: none;" draggable="false" alt="" role="presentation" src="https://maps.googleapis.com/maps/vt?pb=!1m5!1m4!1i13!2i4150!3i2819!4i256!2m3!1e0!2sm!3i534257294!2m3!1e2!6m1!3e5!3m17!2sru-RU!3sUS!5e18!12m4!1e68!2m2!1sset!2sRoadmap!12m3!1e37!2m1!1ssmartmaps!12m4!1e26!2m2!1sstyles!2zcC5zOi02MHxwLmw6LTYw!4e0&amp;token=44"></div><div style="position: absolute; left: 256px; top: 0px; width: 256px; height: 256px; transition: opacity 200ms linear 0s;"><img style="width: 256px; height: 256px; user-select: none; border: 0px none; padding: 0px; margin: 0px; max-width: none;" draggable="false" alt="" role="presentation" src="https://maps.googleapis.com/maps/vt?pb=!1m5!1m4!1i13!2i4150!3i2818!4i256!2m3!1e0!2sm!3i534257294!2m3!1e2!6m1!3e5!3m17!2sru-RU!3sUS!5e18!12m4!1e68!2m2!1sset!2sRoadmap!12m3!1e37!2m1!1ssmartmaps!12m4!1e26!2m2!1sstyles!2zcC5zOi02MHxwLmw6LTYw!4e0&amp;token=95421"></div><div style="position: absolute; left: 256px; top: -256px; width: 256px; height: 256px; transition: opacity 200ms linear 0s;"><img style="width: 256px; height: 256px; user-select: none; border: 0px none; padding: 0px; margin: 0px; max-width: none;" draggable="false" alt="" role="presentation" src="https://maps.googleapis.com/maps/vt?pb=!1m5!1m4!1i13!2i4150!3i2817!4i256!2m3!1e0!2sm!3i534257294!2m3!1e2!6m1!3e5!3m17!2sru-RU!3sUS!5e18!12m4!1e68!2m2!1sset!2sRoadmap!12m3!1e37!2m1!1ssmartmaps!12m4!1e26!2m2!1sstyles!2zcC5zOi02MHxwLmw6LTYw!4e0&amp;token=59727"></div><div style="position: absolute; left: 512px; top: 256px; width: 256px; height: 256px; transition: opacity 200ms linear 0s;"><img style="width: 256px; height: 256px; user-select: none; border: 0px none; padding: 0px; margin: 0px; max-width: none;" draggable="false" alt="" role="presentation" src="https://maps.googleapis.com/maps/vt?pb=!1m5!1m4!1i13!2i4151!3i2819!4i256!2m3!1e0!2sm!3i534257294!2m3!1e2!6m1!3e5!3m17!2sru-RU!3sUS!5e18!12m4!1e68!2m2!1sset!2sRoadmap!12m3!1e37!2m1!1ssmartmaps!12m4!1e26!2m2!1sstyles!2zcC5zOi02MHxwLmw6LTYw!4e0&amp;token=130052"></div><div style="position: absolute; left: -256px; top: 256px; width: 256px; height: 256px; transition: opacity 200ms linear 0s;"><img style="width: 256px; height: 256px; user-select: none; border: 0px none; padding: 0px; margin: 0px; max-width: none;" draggable="false" alt="" role="presentation" src="https://maps.googleapis.com/maps/vt?pb=!1m5!1m4!1i13!2i4148!3i2819!4i256!2m3!1e0!2sm!3i534257294!2m3!1e2!6m1!3e5!3m17!2sru-RU!3sUS!5e18!12m4!1e68!2m2!1sset!2sRoadmap!12m3!1e37!2m1!1ssmartmaps!12m4!1e26!2m2!1sstyles!2zcC5zOi02MHxwLmw6LTYw!4e0&amp;token=125544"></div><div style="position: absolute; left: 0px; top: 256px; width: 256px; height: 256px; transition: opacity 200ms linear 0s;"><img style="width: 256px; height: 256px; user-select: none; border: 0px none; padding: 0px; margin: 0px; max-width: none;" draggable="false" alt="" role="presentation" src="https://maps.googleapis.com/maps/vt?pb=!1m5!1m4!1i13!2i4149!3i2819!4i256!2m3!1e0!2sm!3i534257294!2m3!1e2!6m1!3e5!3m17!2sru-RU!3sUS!5e18!12m4!1e68!2m2!1sset!2sRoadmap!12m3!1e37!2m1!1ssmartmaps!12m4!1e26!2m2!1sstyles!2zcC5zOi02MHxwLmw6LTYw!4e0&amp;token=124481"></div><div style="position: absolute; left: 0px; top: 0px; width: 256px; height: 256px; transition: opacity 200ms linear 0s;"><img style="width: 256px; height: 256px; user-select: none; border: 0px none; padding: 0px; margin: 0px; max-width: none;" draggable="false" alt="" role="presentation" src="https://maps.googleapis.com/maps/vt?pb=!1m5!1m4!1i13!2i4149!3i2818!4i256!2m3!1e0!2sm!3i534257294!2m3!1e2!6m1!3e5!3m17!2sru-RU!3sUS!5e18!12m4!1e68!2m2!1sset!2sRoadmap!12m3!1e37!2m1!1ssmartmaps!12m4!1e26!2m2!1sstyles!2zcC5zOi02MHxwLmw6LTYw!4e0&amp;token=88787"></div><div style="position: absolute; left: -256px; top: 0px; width: 256px; height: 256px; transition: opacity 200ms linear 0s;"><img style="width: 256px; height: 256px; user-select: none; border: 0px none; padding: 0px; margin: 0px; max-width: none;" draggable="false" alt="" role="presentation" src="https://maps.googleapis.com/maps/vt?pb=!1m5!1m4!1i13!2i4148!3i2818!4i256!2m3!1e0!2sm!3i534257294!2m3!1e2!6m1!3e5!3m17!2sru-RU!3sUS!5e18!12m4!1e68!2m2!1sset!2sRoadmap!12m3!1e37!2m1!1ssmartmaps!12m4!1e26!2m2!1sstyles!2zcC5zOi02MHxwLmw6LTYw!4e0&amp;token=89850"></div></div></div></div><div style="z-index: 2; position: absolute; height: 100%; width: 100%; padding: 0px; border-width: 0px; margin: 0px; left: 0px; top: 0px; opacity: 0;" class="gm-style-pbc"><p class="gm-style-pbt"></p></div><div style="z-index: 3; position: absolute; height: 100%; width: 100%; padding: 0px; border-width: 0px; margin: 0px; left: 0px; top: 0px; touch-action: pan-x pan-y;"><div style="z-index: 4; position: absolute; left: 50%; top: 50%; width: 100%; transform: translate(0px);"><div style="position: absolute; left: 0px; top: 0px; z-index: 104; width: 100%;"></div><div style="position: absolute; left: 0px; top: 0px; z-index: 105; width: 100%;"></div><div style="position: absolute; left: 0px; top: 0px; z-index: 106; width: 100%;"><div style="width: 38px; height: 49px; overflow: hidden; position: absolute; cursor: pointer; touch-action: none; left: -19px; top: -51px; z-index: 0;" title=""><img style="position: absolute; left: 0px; top: 0px; width: 38px; height: 49px; user-select: none; border: 0px none; padding: 0px; margin: 0px; max-width: none;" alt="" src="https://maps.gstatic.com/mapfiles/transparent.png" draggable="false"></div></div><div style="position: absolute; left: 0px; top: 0px; z-index: 107; width: 100%;"></div></div></div></div><iframe aria-hidden="true" tabindex="-1" style="z-index: -1; position: absolute; width: 100%; height: 100%; top: 0px; left: 0px; border: medium none;" frameborder="0"></iframe><div style="pointer-events: none; width: 100%; height: 100%; box-sizing: border-box; position: absolute; z-index: 1000002; opacity: 0; border: 2px solid rgb(26, 115, 232);"></div><div></div><div></div><div></div><div></div><div><button style="background: rgb(255, 255, 255) none repeat scroll 0% 0%; border: 0px none; margin: 10px; padding: 0px; text-transform: none; appearance: none; position: absolute; cursor: pointer; user-select: none; border-radius: 2px; height: 40px; width: 40px; box-shadow: rgba(0, 0, 0, 0.3) 0px 1px 4px -1px; overflow: hidden; top: 0px; right: 0px;" draggable="false" title="Включить полноэкранный режим" aria-label="Включить полноэкранный режим" type="button" class="gm-control-active gm-fullscreen-control"><img style="height: 18px; width: 18px;" src="data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2218%22%20height%3D%2218%22%20viewBox%3D%220%200%2018%2018%22%3E%0A%20%20%3Cpath%20fill%3D%22%23666%22%20d%3D%22M0%2C0v2v4h2V2h4V0H2H0z%20M16%2C0h-4v2h4v4h2V2V0H16z%20M16%2C16h-4v2h4h2v-2v-4h-2V16z%20M2%2C12H0v4v2h2h4v-2H2V12z%22%2F%3E%0A%3C%2Fsvg%3E%0A" alt=""><img style="height: 18px; width: 18px;" src="data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2218%22%20height%3D%2218%22%20viewBox%3D%220%200%2018%2018%22%3E%0A%20%20%3Cpath%20fill%3D%22%23333%22%20d%3D%22M0%2C0v2v4h2V2h4V0H2H0z%20M16%2C0h-4v2h4v4h2V2V0H16z%20M16%2C16h-4v2h4h2v-2v-4h-2V16z%20M2%2C12H0v4v2h2h4v-2H2V12z%22%2F%3E%0A%3C%2Fsvg%3E%0A" alt=""><img style="height: 18px; width: 18px;" src="data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2218%22%20height%3D%2218%22%20viewBox%3D%220%200%2018%2018%22%3E%0A%20%20%3Cpath%20fill%3D%22%23111%22%20d%3D%22M0%2C0v2v4h2V2h4V0H2H0z%20M16%2C0h-4v2h4v4h2V2V0H16z%20M16%2C16h-4v2h4h2v-2v-4h-2V16z%20M2%2C12H0v4v2h2h4v-2H2V12z%22%2F%3E%0A%3C%2Fsvg%3E%0A" alt=""></button></div><div></div><div></div><div><div style="padding: 5px; z-index: 0; position: absolute; right: 0px; top: 156px;"><div><div class="custom-zoom-in"></div><div class="custom-zoom-out"></div></div></div></div><div></div><div><div class="gmnoprint gm-bundled-control gm-bundled-control-on-bottom" style="margin: 10px; user-select: none; position: absolute; display: none; bottom: 14px; right: 0px;" draggable="false" controlwidth="0" controlheight="0"><div class="gmnoprint" controlwidth="40" controlheight="40" style="display: none; position: absolute;"><div style="width: 40px; height: 40px;"><button style="background: rgb(255, 255, 255) none repeat scroll 0% 0%; display: none; border: 0px none; margin: 0px 0px 32px; padding: 0px; text-transform: none; appearance: none; position: relative; cursor: pointer; user-select: none; width: 40px; height: 40px; top: 0px; left: 0px; overflow: hidden; box-shadow: rgba(0, 0, 0, 0.3) 0px 1px 4px -1px; border-radius: 2px;" draggable="false" title="Повернуть карту на 90 градусов" aria-label="Повернуть карту на 90 градусов" type="button" class="gm-control-active"><img style="height: 18px; width: 18px;" src="data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2224%22%20height%3D%2222%22%20viewBox%3D%220%200%2024%2022%22%3E%0A%20%20%3Cpath%20fill%3D%22%23666%22%20fill-rule%3D%22evenodd%22%20d%3D%22M20%2010c0-5.52-4.48-10-10-10s-10%204.48-10%2010v5h5v-5c0-2.76%202.24-5%205-5s5%202.24%205%205v5h-4l6.5%207%206.5-7h-4v-5z%22%20clip-rule%3D%22evenodd%22%2F%3E%0A%3C%2Fsvg%3E%0A"><img style="height: 18px; width: 18px;" src="data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2224%22%20height%3D%2222%22%20viewBox%3D%220%200%2024%2022%22%3E%0A%20%20%3Cpath%20fill%3D%22%23333%22%20fill-rule%3D%22evenodd%22%20d%3D%22M20%2010c0-5.52-4.48-10-10-10s-10%204.48-10%2010v5h5v-5c0-2.76%202.24-5%205-5s5%202.24%205%205v5h-4l6.5%207%206.5-7h-4v-5z%22%20clip-rule%3D%22evenodd%22%2F%3E%0A%3C%2Fsvg%3E%0A"><img style="height: 18px; width: 18px;" src="data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2224%22%20height%3D%2222%22%20viewBox%3D%220%200%2024%2022%22%3E%0A%20%20%3Cpath%20fill%3D%22%23111%22%20fill-rule%3D%22evenodd%22%20d%3D%22M20%2010c0-5.52-4.48-10-10-10s-10%204.48-10%2010v5h5v-5c0-2.76%202.24-5%205-5s5%202.24%205%205v5h-4l6.5%207%206.5-7h-4v-5z%22%20clip-rule%3D%22evenodd%22%2F%3E%0A%3C%2Fsvg%3E%0A"></button><button style="background: rgb(255, 255, 255) none repeat scroll 0% 0%; display: block; border: 0px none; margin: 0px; padding: 0px; text-transform: none; appearance: none; position: relative; cursor: pointer; user-select: none; width: 40px; height: 40px; top: 0px; left: 0px; overflow: hidden; box-shadow: rgba(0, 0, 0, 0.3) 0px 1px 4px -1px; border-radius: 2px;" draggable="false" title="Изменить угол обзора" aria-label="Изменить угол обзора" type="button" class="gm-tilt gm-control-active"><img style="width: 18px;" src="data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2218px%22%20height%3D%2216px%22%20viewBox%3D%220%200%2018%2016%22%3E%0A%20%20%3Cpath%20fill%3D%22%23666%22%20d%3D%22M0%2C16h8V9H0V16z%20M10%2C16h8V9h-8V16z%20M0%2C7h8V0H0V7z%20M10%2C0v7h8V0H10z%22%2F%3E%0A%3C%2Fsvg%3E%0A"><img style="width: 18px;" src="data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2218px%22%20height%3D%2216px%22%20viewBox%3D%220%200%2018%2016%22%3E%0A%20%20%3Cpath%20fill%3D%22%23333%22%20d%3D%22M0%2C16h8V9H0V16z%20M10%2C16h8V9h-8V16z%20M0%2C7h8V0H0V7z%20M10%2C0v7h8V0H10z%22%2F%3E%0A%3C%2Fsvg%3E%0A"><img style="width: 18px;" src="data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2218px%22%20height%3D%2216px%22%20viewBox%3D%220%200%2018%2016%22%3E%0A%20%20%3Cpath%20fill%3D%22%23111%22%20d%3D%22M0%2C16h8V9H0V16z%20M10%2C16h8V9h-8V16z%20M0%2C7h8V0H0V7z%20M10%2C0v7h8V0H10z%22%2F%3E%0A%3C%2Fsvg%3E%0A"></button></div></div></div></div><div><div style="margin-left: 5px; margin-right: 5px; z-index: 1000000; position: absolute; left: 0px; bottom: 0px;"><a style="position: static; overflow: visible; float: none; display: inline;" target="_blank" rel="noopener" href="https://maps.google.com/maps?ll=48.8566,2.3522&amp;z=13&amp;t=m&amp;hl=ru-RU&amp;gl=US&amp;mapclient=apiv3" title="Открыть эту область в Google Картах (в новом окне)"><div style="width: 66px; height: 26px; cursor: pointer;"><img style="position: absolute; left: 0px; top: 0px; width: 66px; height: 26px; user-select: none; border: 0px none; padding: 0px; margin: 0px;" alt="" src="https://maps.gstatic.com/mapfiles/api-3/images/google_white5.png" draggable="false"></div></a></div></div><div></div><div><div class="gmnoprint" style="z-index: 1000001; position: absolute; right: 296px; bottom: 0px; width: 172px;"><div draggable="false" style="user-select: none; height: 14px; line-height: 14px;" class="gm-style-cc"><div style="opacity: 0.7; width: 100%; height: 100%; position: absolute;"><div style="width: 1px;"></div><div style="background-color: rgb(245, 245, 245); width: auto; height: 100%; margin-left: 1px;"></div></div><div style="position: relative; padding-right: 6px; padding-left: 6px; box-sizing: border-box; font-family: Roboto, Arial, sans-serif; font-size: 10px; color: rgb(0, 0, 0); white-space: nowrap; direction: ltr; text-align: right; vertical-align: middle; display: inline-block;"><a style="text-decoration: none; cursor: pointer; display: none;">Картографические данные</a><span>Картографические данные © 2020</span></div></div></div><div class="gmnoprint gm-style-cc" style="z-index: 1000001; user-select: none; height: 14px; line-height: 14px; position: absolute; right: 153px; bottom: 0px;" draggable="false"><div style="opacity: 0.7; width: 100%; height: 100%; position: absolute;"><div style="width: 1px;"></div><div style="background-color: rgb(245, 245, 245); width: auto; height: 100%; margin-left: 1px;"></div></div><div style="position: relative; padding-right: 6px; padding-left: 6px; box-sizing: border-box; font-family: Roboto, Arial, sans-serif; font-size: 10px; color: rgb(0, 0, 0); white-space: nowrap; direction: ltr; text-align: right; vertical-align: middle; display: inline-block;"><a style="text-decoration: none; cursor: pointer; color: rgb(0, 0, 0);" href="https://www.google.com/intl/ru-RU_US/help/terms_maps.html" target="_blank" rel="noopener">Условия использования</a></div></div><div draggable="false" style="user-select: none; height: 14px; line-height: 14px; position: absolute; right: 0px; bottom: 0px;" class="gm-style-cc"><div style="opacity: 0.7; width: 100%; height: 100%; position: absolute;"><div style="width: 1px;"></div><div style="background-color: rgb(245, 245, 245); width: auto; height: 100%; margin-left: 1px;"></div></div><div style="position: relative; padding-right: 6px; padding-left: 6px; box-sizing: border-box; font-family: Roboto, Arial, sans-serif; font-size: 10px; color: rgb(0, 0, 0); white-space: nowrap; direction: ltr; text-align: right; vertical-align: middle; display: inline-block;"><a target="_blank" rel="noopener" title="Сообщить об ошибке на карте или снимке" dir="ltr" style="font-family: Roboto, Arial, sans-serif; font-size: 10px; color: rgb(0, 0, 0); text-decoration: none; position: relative;" href="https://www.google.com/maps/@48.8566,2.3522,13z/data=!10m1!1e1!12b1?source=apiv3&amp;rapsrc=apiv3">Сообщить об ошибке на карте</a></div></div><div class="gmnoscreen" style="position: absolute; right: 0px; bottom: 0px;"><div style="font-family: Roboto, Arial, sans-serif; font-size: 11px; color: rgb(0, 0, 0); direction: ltr; text-align: right; background-color: rgb(245, 245, 245);">Картографические данные © 2020</div></div></div><div style="background-color: white; padding: 15px 21px; border: 1px solid rgb(171, 171, 171); font-family: Roboto, Arial, sans-serif; color: rgb(34, 34, 34); box-sizing: border-box; box-shadow: rgba(0, 0, 0, 0.2) 0px 4px 16px; z-index: 10000002; display: none; width: 300px; height: 180px; position: absolute; left: 239px; top: 110px;"><div style="padding: 0px 0px 10px; font-size: 16px; box-sizing: border-box;">Картографические данные</div><div style="font-size: 13px;">Картографические данные © 2020</div><button style="background: rgba(0, 0, 0, 0) none repeat scroll 0% 0%; display: block; border: 0px none; margin: 0px; padding: 0px; text-transform: none; appearance: none; position: absolute; cursor: pointer; user-select: none; top: 0px; right: 0px; width: 37px; height: 37px;" draggable="false" title="Закрыть" aria-label="Закрыть" type="button" class="gm-ui-hover-effect"><img src="data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2224px%22%20height%3D%2224px%22%20viewBox%3D%220%200%2024%2024%22%20fill%3D%22%23000000%22%3E%0A%20%20%20%20%3Cpath%20d%3D%22M19%206.41L17.59%205%2012%2010.59%206.41%205%205%206.41%2010.59%2012%205%2017.59%206.41%2019%2012%2013.41%2017.59%2019%2019%2017.59%2013.41%2012z%22%2F%3E%0A%20%20%20%20%3Cpath%20d%3D%22M0%200h24v24H0z%22%20fill%3D%22none%22%2F%3E%0A%3C%2Fsvg%3E%0A" style="pointer-events: none; display: block; width: 13px; height: 13px; margin: 12px;"></button></div></div></div><div style="background-color: white; font-weight: 500; font-family: Roboto, sans-serif; padding: 15px 25px; box-sizing: border-box; top: 5px; border: 1px solid rgba(0, 0, 0, 0.12); border-radius: 5px; left: 50%; max-width: 375px; position: absolute; transform: translateX(-50%); width: calc(100% - 10px); z-index: 1;"><div><img alt="" src="https://maps.gstatic.com/mapfiles/api-3/images/google_gray.svg" style="padding: 0px; margin: 0px; border: 0px none; height: 17px; vertical-align: middle; width: 52px; user-select: none;" draggable="false"></div><div style="line-height: 20px; margin: 15px 0px;"><span style="color: rgba(0, 0, 0, 0.87); font-size: 14px;">При загрузке Google&nbsp;Карт на этой странице возникла проблема.</span></div><table style="width: 100%;"><tr><td style="line-height: 16px; vertical-align: middle;"><a href="https://developers.google.com/maps/documentation/javascript/error-messages?utm_source=maps_js&amp;utm_medium=degraded&amp;utm_campaign=billing#api-key-and-billing-errors" target="_blank" rel="noopener" style="color: rgba(0, 0, 0, 0.54); font-size: 12px;">Вы владелец этого сайта?</a></td><td style="text-align: right;"><button class="dismissButton">ОК</button></td></tr></table></div></div>
            <a href="#" id="streetView">Street View</a> 
		  </div>
		  
          <!-- Similar Listings Container -->
		  <div class="utf-desc-headline-item">
			<h3><i class="icon-material-outline-description"></i> Similar Property</h3>
		  </div>
		  
		  <!-- Layout Switcher --> 
          <div class="utf-layout-switcher hidden"><a href="#" class="list active"><i class="fa fa-th-list"></i></a></div>
          <div class="utf-listings-container-area list-layout"> 
            
            <!-- Listing Item -->
            <div class="utf-listing-item"> <a href="#" class="utf-smt-listing-img-container" style="height: 306px;">
              <div class="utf-listing-badges-item"> <span class="for-rent">For Rent</span> </div>
              <div class="utf-listing-img-content-item">
				<img class="utf-user-picture" src="images/user_1.jpg" alt="user_1" style="height: 306px;">
				<span class="like-icon with-tip" data-tip-content="Bookmark"><div class="tip-content">Bookmark</div></span> 
				<span class="compare-button with-tip" data-tip-content="Add to Compare"><div class="tip-content">Add to Compare</div></span>
				<span class="video-button with-tip" data-tip-content="Video"><div class="tip-content">Video</div></span>
			  </div>
              <img src="images/listing-01.jpg" alt="" style="height: 306px;"> </a>
              <div class="utf-listing-content">
                <div class="utf-listing-title">
				  <span class="utf-listing-price">$22,000/mo</span>
                  <h4><a href="#">Renovated Luxury Apartment</a></h4>
                  <span class="utf-listing-address"><i class="icon-material-outline-location-on"></i> 2021 San Pedro, Los Angeles 90015</span>
				</div>
                <ul class="listing-details">
                  <li><i class="fa fa-bed"></i> Beds<span>3</span></li>
				  <li><i class="icon-feather-codepen"></i> Baths<span>2</span></li>
				  <li><i class="fa fa-car"></i> Garages<span>2</span></li>					  					 
				  <li><i class="icon-line-awesome-arrows"></i> Sq Ft<span>1530</span></li>
                </ul>
                <div class="utf-listing-user-info"><a href="agents-profile.html"><i class="icon-line-awesome-user"></i> John Williams</a> <span>1 Days Ago</span></div>
              </div>              
            </div>
            <!-- Listing Item / End --> 
            
            <!-- Listing Item -->
            <div class="utf-listing-item"> <a href="#" class="utf-smt-listing-img-container" style="height: 306px;">
              <div class="utf-listing-badges-item"> <span class="for-sale">For Sale</span> </div>
              <div class="utf-listing-img-content-item">
				<img class="utf-user-picture" src="images/user_1.jpg" alt="user_1" style="height: 306px;">
				<span class="like-icon with-tip" data-tip-content="Bookmark"><div class="tip-content">Bookmark</div></span> 
				<span class="compare-button with-tip" data-tip-content="Add to Compare"><div class="tip-content">Add to Compare</div></span>
				<span class="video-button with-tip" data-tip-content="Video"><div class="tip-content">Video</div></span>
			  </div>
              <div><img src="images/listing-02.jpg" alt="" style="height: 306px;"></div>
              </a>
              <div class="utf-listing-content">
                <div class="utf-listing-title">
				  <span class="utf-listing-price">$20,000/mo</span>
                  <h4><a href="#">Renovated Luxury Apartment</a></h4>
                  <span class="utf-listing-address"><i class="icon-material-outline-location-on"></i> 2021 San Pedro, Los Angeles 90015</span>
				</div>
                <ul class="listing-details">
                  <li><i class="fa fa-bed"></i> Beds<span>3</span></li>
				  <li><i class="icon-feather-codepen"></i> Baths<span>2</span></li>
				  <li><i class="fa fa-car"></i> Garages<span>2</span></li>					  					 
				  <li><i class="icon-line-awesome-arrows"></i> Sq Ft<span>1530</span></li>
                </ul>
                <div class="utf-listing-user-info"><a href="agents-profile.html"><i class="icon-line-awesome-user"></i> John Williams</a> <span>1 Days Ago</span></div>
              </div>              
            </div>
            <!-- Listing Item / End --> 
            
            <!-- Listing Item -->
            <div class="utf-listing-item"> <a href="#" class="utf-smt-listing-img-container" style="height: 306px;">
              <div class="utf-listing-badges-item"> <span class="for-sale">For Sale</span> </div>
              <div class="utf-listing-img-content-item">
				<img class="utf-user-picture" src="images/user_1.jpg" alt="user_1" style="height: 306px;">
				<span class="like-icon with-tip" data-tip-content="Bookmark"><div class="tip-content">Bookmark</div></span> 
				<span class="compare-button with-tip" data-tip-content="Add to Compare"><div class="tip-content">Add to Compare</div></span>
				<span class="video-button with-tip" data-tip-content="Video"><div class="tip-content">Video</div></span>
			  </div>
              <img src="images/listing-03.jpg" alt="" style="height: 306px;"> </a>
              <div class="utf-listing-content">
                <div class="utf-listing-title">
				  <span class="utf-listing-price">$18,000/mo</span>
                  <h4><a href="#">Renovated Luxury Apartment</a></h4>
                  <span class="utf-listing-address"><i class="icon-material-outline-location-on"></i> 2021 San Pedro, Los Angeles 90015</span>
				</div>
                <ul class="listing-details">
                  <li><i class="fa fa-bed"></i> Beds<span>3</span></li>
				  <li><i class="icon-feather-codepen"></i> Baths<span>2</span></li>
				  <li><i class="fa fa-car"></i> Garages<span>2</span></li>					  					 
				  <li><i class="icon-line-awesome-arrows"></i> Sq Ft<span>1530</span></li>
                </ul>
                <div class="utf-listing-user-info"><a href="agents-profile.html"><i class="icon-line-awesome-user"></i> John Williams</a> <span>1 Days Ago</span></div>
              </div>              
            </div>
            <!-- Listing Item / End -->
				
			<!-- Listing Item -->
            <div class="utf-listing-item"> <a href="#" class="utf-smt-listing-img-container" style="height: 306px;">
              <div class="utf-listing-badges-item"> <span class="for-sale">For Sale</span> </div>
              <div class="utf-listing-img-content-item">
				<img class="utf-user-picture" src="images/user_1.jpg" alt="user_1" style="height: 306px;">
				<span class="like-icon with-tip" data-tip-content="Bookmark"><div class="tip-content">Bookmark</div></span> 
				<span class="compare-button with-tip" data-tip-content="Add to Compare"><div class="tip-content">Add to Compare</div></span>
				<span class="video-button with-tip" data-tip-content="Video"><div class="tip-content">Video</div></span>
			  </div>
              <img src="images/listing-04.jpg" alt="" style="height: 306px;"> </a>
              <div class="utf-listing-content">
                <div class="utf-listing-title">
				  <span class="utf-listing-price">$18,000/mo</span>
                  <h4><a href="#">Renovated Luxury Apartment</a></h4>
                  <span class="utf-listing-address"><i class="icon-material-outline-location-on"></i> 2021 San Pedro, Los Angeles 90015</span>
				</div>
                <ul class="listing-details">
                  <li><i class="fa fa-bed"></i> Beds<span>3</span></li>
				  <li><i class="icon-feather-codepen"></i> Baths<span>2</span></li>
				  <li><i class="fa fa-car"></i> Garages<span>2</span></li>					  					 
				  <li><i class="icon-line-awesome-arrows"></i> Sq Ft<span>1530</span></li>
                </ul>
                <div class="utf-listing-user-info"><a href="agents-profile.html"><i class="icon-line-awesome-user"></i> John Williams</a> <span>1 Days Ago</span></div>
              </div>              
            </div>
            <!-- Listing Item / End -->	
          </div>
          <!-- Similar Listings Container / End -->
		  
		  <!-- Reviews -->
          <section class="comments margin-top-50">
			<div class="utf-inner-blog-section-title">
				<h4><i class="icon-line-awesome-commenting-o"></i> Comments (5)</h4>
			</div>
            <ul>
              <li>
                <div class="avatar"><img src="images/coumment-user-1.jpg" alt=""></div>
                <div class="comment-content">
                  <div class="arrow-comment"></div>
                  <div class="comment-by">John Williams<span class="date">12th, Jan 2020</span> <a href="#" class="reply"><i class="fa fa-reply"></i> Reply</a> </div>
                  <p>Lorem Ipsum is simply dummy text of printing and type setting industry. Lorem Ipsum been industry standard dummy text ever since, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
                </div>
                <ul>
                  <li>
                    <div class="avatar"><img src="images/coumment-user-2.jpg" alt=""></div>
                    <div class="comment-content">
                      <div class="arrow-comment"></div>
                      <div class="comment-by">John Williams<span class="date">12th, Jan 2020</span> <a href="#" class="reply"><i class="fa fa-reply"></i> Reply</a> </div>
                      <p>Lorem Ipsum is simply dummy text of printing and type setting industry. Lorem Ipsum been industry standard dummy text ever since, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
                    </div>
                  </li>
                  <li>
                    <div class="avatar"><img src="images/coumment-user-2.jpg" alt=""></div>
                    <div class="comment-content">
                      <div class="arrow-comment"></div>
                      <div class="comment-by">John Williams<span class="date">12th, Jan 2020</span> <a href="#" class="reply"><i class="fa fa-reply"></i> Reply</a> </div>
                      <p>Lorem Ipsum is simply dummy text of printing and type setting industry. Lorem Ipsum been industry standard dummy text ever since, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
                    </div>
                    <ul>
                      <li>
                        <div class="avatar"><img src="images/coumment-user-1.jpg" alt=""></div>
                        <div class="comment-content">
                          <div class="arrow-comment"></div>
                          <div class="comment-by">John Williams<span class="date">12th, Jan 2020</span> <a href="#" class="reply"><i class="fa fa-reply"></i> Reply</a> </div>
                          <p>Lorem Ipsum is simply dummy text of printing and type setting industry. Lorem Ipsum been industry standard dummy text ever since, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
                        </div>
                      </li>
                    </ul>
                  </li>
                </ul>
              </li>
              <li>
                <div class="avatar"><img src="images/coumment-user-3.jpg" alt=""> </div>
                <div class="comment-content">
                  <div class="arrow-comment"></div>
                  <div class="comment-by">John Williams<span class="date">12th, Jan 2020</span> <a href="#" class="reply"><i class="fa fa-reply"></i> Reply</a> </div>
                  <p>Lorem Ipsum is simply dummy text of printing and type setting industry. Lorem Ipsum been industry standard dummy text ever since, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
                </div>
              </li>
            </ul>
          </section>
          <div class="clearfix"></div>
          <div class="margin-top-35"></div>
          
          <!-- Add Comment -->
		  <div class="utf-inner-blog-section-title">
			<h4><i class="icon-line-awesome-comments-o"></i> Leave Your Comment</h4>
		  </div>
          <div class="margin-top-15"></div>
          
          <!-- Add Comment Form -->
          <form id="add-comment" class="add-comment">
            <fieldset>
              <div class="row">
				 <div class="col-md-6">
					<input type="text" placeholder="Name *" value="">
				  </div>
				  <div class="col-md-6">
					<input type="text" placeholder="Email Address *" value="">
				  </div>
				  <div class="col-md-6">
					<input type="text" placeholder="Phone Number *" value="">
				  </div>
				  <div class="col-md-6">
					<input type="text" placeholder="Subject" value="">
				  </div>
				  <div class="col-md-12">
					<textarea cols="30" placeholder="Comment..." rows="2"></textarea>
				  </div>
			  </div>
            </fieldset>
            <div class="utf-centered-button">
				<a href="#" class="button">Submit Comment</a>
			</div>
            <div class="clearfix"></div>
          </form>	
        </div>
      </div>
      <!-- Property Description / End --> 
      
      <!-- Sidebar -->
      <div class="col-lg-4 col-md-5">
        <div class="sidebar"> 
		  <div class="widget utf-sidebar-widget-item">
			  <div class="utf-detail-banner-add-section">
				 <a href="#"><img src="images/banner-add-2.jpg" alt="banner-add-2"></a>
			  </div>             
		  </div>
		  
          <!-- Widget -->
          <div class="widget utf-sidebar-widget-item">
			<div class="utf-boxed-list-headline-item">
				<h3>Property Details</h3>
			</div> 
            <button class="widget-button with-tip" data-tip-content="Share Property"><i class="sl sl-icon-share"></i><div class="tip-content">Share Property</div></button>
            <button class="widget-button with-tip" data-tip-content="Bookmark Property"><i class="fa fa-heart"></i><div class="tip-content">Bookmark Property</div></button>
            <button class="widget-button with-tip compare-widget-button" data-tip-content="Add to Compare"><div class="tip-content">Add to Compare</div></button>
			<button class="widget-button with-tip" data-tip-content="Property Location"><i class="sl sl-icon-map"></i><div class="tip-content">Property Location</div></button>
			<button class="widget-button with-tip" data-tip-content="Print Property"><i class="sl sl-icon-printer"></i><div class="tip-content">Print Property</div></button>
            <div class="clearfix"></div>
          </div>
          <!-- Widget / End --> 
          
          <!-- Widget -->
          <div class="widget utf-sidebar-widget-item">
            <div class="agent-widget">
			  <div class="utf-boxed-list-headline-item">
				<h3>Listed By Agents Details</h3>
			  </div> 	
              <div class="agent-title">
                <div class="agent-photo"><img src="images/agent-avatar.jpg" alt=""></div>
                <div class="agent-details">
                  <h4><a href="#">John Williams</a></h4>
                  <span>(+21) 124 123 4546</span>
				  <span>demo@example.com</span>
				  <span><a href="agents-profile.html">View My Listing</a></span>
				</div>
                <div class="clearfix"></div>
              </div>
			  <input type="text" placeholder="Name">
              <input type="text" placeholder="Email">
              <input type="text" placeholder="Phone">
              <textarea>I'm interest in [ Listing Single ]</textarea>
              <button class="button fullwidth margin-top-5">Send Message</button>
            </div>
          </div>
          <!-- Widget / End --> 
		  
		  <!-- Widget -->
		  <div class="widget utf-sidebar-widget-item">
            <div class="utf-boxed-list-headline-item">
				<h3>Find New Home</h3>
			</div>
			<div class="row with-forms"> 
              <div class="col-md-6 col-sm-6 col-xs-6">
                <select data-placeholder="Any Status" class="utf-chosen-select-single-item" style="display: none;">
                  <option>Any Status</option>
                  <option>For Sale</option>
                  <option>For Rent</option>
                </select><div class="chosen-container chosen-container-single chosen-container-single-nosearch" style="width: 100%;" title=""><a class="chosen-single chosen-default"><span>Any Status</span><div><b></b></div></a><div class="chosen-drop"><div class="chosen-search"><input type="text" autocomplete="off" readonly=""></div><ul class="chosen-results"></ul></div></div>
              </div>
			  <div class="col-md-6 col-sm-6 col-xs-6">
                <select data-placeholder="Any Type" class="utf-chosen-select-single-item" style="display: none;">
                  <option>Any Type</option>
                  <option>Apartments</option>
                  <option>Houses</option>
                  <option>Commercial</option>
                  <option>Garages</option>
                  <option>Lots</option>
                </select><div class="chosen-container chosen-container-single chosen-container-single-nosearch" style="width: 100%;" title=""><a class="chosen-single chosen-default"><span>Any Type</span><div><b></b></div></a><div class="chosen-drop"><div class="chosen-search"><input type="text" autocomplete="off" readonly=""></div><ul class="chosen-results"></ul></div></div>
              </div>
            </div>
            <!-- Row / End --> 
            
			<!-- Row -->
            <div class="row with-forms"> 
              <div class="col-md-6">
                <select data-placeholder="Beds" class="utf-chosen-select-single-item" style="display: none;">
                  <option label="blank"></option>
                  <option>Beds (Any)</option>
                  <option>1</option>
                  <option>2</option>
                  <option>3</option>
                  <option>4</option>
                  <option>5</option>
                </select><div class="chosen-container chosen-container-single chosen-container-single-nosearch" style="width: 100%;" title=""><a class="chosen-single chosen-default"><span>Beds</span><div><b></b></div></a><div class="chosen-drop"><div class="chosen-search"><input type="text" autocomplete="off" readonly=""></div><ul class="chosen-results"></ul></div></div>
              </div>
              
              <div class="col-md-6">
                <select data-placeholder="Baths" class="utf-chosen-select-single-item" style="display: none;">
                  <option label="blank"></option>
                  <option>Baths (Any)</option>
                  <option>1</option>
                  <option>2</option>
                  <option>3</option>
                  <option>4</option>
                  <option>5</option>
                </select><div class="chosen-container chosen-container-single chosen-container-single-nosearch" style="width: 100%;" title=""><a class="chosen-single chosen-default"><span>Baths</span><div><b></b></div></a><div class="chosen-drop"><div class="chosen-search"><input type="text" autocomplete="off" readonly=""></div><ul class="chosen-results"></ul></div></div>
              </div>
            </div>
            <!-- Row / End -->
			
            <!-- Row -->
            <div class="row with-forms"> 
              <div class="col-md-12">
                <select data-placeholder="All States" class="chosen-select" style="display: none;">
                  <option>All States</option>
                  <option>Alabama</option>
                  <option>Alaska</option>
                  <option>Arizona</option>
                  <option>Arkansas</option>
                  <option>California</option>
                  <option>Colorado</option>
                  <option>Connecticut</option>
                  <option>Delaware</option>
                  <option>Florida</option>
                  <option>Georgia</option>                                    
                </select><div class="chosen-container chosen-container-single" style="width: 100%;" title=""><a class="chosen-single chosen-default"><span>All States</span><div><b></b></div></a><div class="chosen-drop"><div class="chosen-search"><input type="text" autocomplete="off"></div><ul class="chosen-results"></ul></div></div>
              </div>
            </div>
            <!-- Row / End --> 
            
            <!-- Row -->
            <div class="row with-forms"> 
              <div class="col-md-12">
                <select data-placeholder="All Cities" class="chosen-select" style="display: none;">
                  <option>All Cities</option>
                  <option>New York</option>
                  <option>Los Angeles</option>
                  <option>Chicago</option>
                  <option>Brooklyn</option>
                  <option>Queens</option>
                  <option>Houston</option>
                  <option>Manhattan</option>                  
                </select><div class="chosen-container chosen-container-single chosen-container-single-nosearch" style="width: 100%;" title=""><a class="chosen-single chosen-default"><span>All Cities</span><div><b></b></div></a><div class="chosen-drop"><div class="chosen-search"><input type="text" autocomplete="off" readonly=""></div><ul class="chosen-results"></ul></div></div>
              </div>
            </div>
            <!-- Row / End --> 
            
            <!-- Area Range -->
            <div class="utf-range-slider-item margin-top-10 margin-bottom-25">
              <label>Area Range</label>
              <div id="utf-area-range-item" data-min="0" data-max="1500" data-unit="sq ft" class="ui-slider ui-slider-horizontal ui-widget ui-widget-content ui-corner-all"><input type="text" class="first-slider-value" disabled=""><input type="text" class="second-slider-value" disabled=""><div class="ui-slider-range ui-widget-header ui-corner-all" style="left: 0%; width: 100%;"></div><a class="ui-slider-handle ui-state-default ui-corner-all" href="#" style="left: 0%;"></a><a class="ui-slider-handle ui-state-default ui-corner-all" href="#" style="left: 100%;"></a></div>
              <div class="clearfix"></div>
            </div>
            
            <!-- Price Range -->
            <div class="utf-range-slider-item margin-bottom-10">
              <label>Price Range</label>
              <div id="utf-price-range-item" data-min="0" data-max="400000" data-unit="$" class="ui-slider ui-slider-horizontal ui-widget ui-widget-content ui-corner-all"><input type="text" class="first-slider-value" disabled=""><input type="text" class="second-slider-value" disabled=""><div class="ui-slider-range ui-widget-header ui-corner-all" style="left: 0%; width: 100%;"></div><a class="ui-slider-handle ui-state-default ui-corner-all" href="#" style="left: 0%;"></a><a class="ui-slider-handle ui-state-default ui-corner-all" href="#" style="left: 100%;"></a></div>
              <div class="clearfix"></div>
            </div>
            
            <!-- More Search Options --> 
            <a href="#" class="utf-utf-more-search-options-area-button margin-bottom-10 margin-top-20" data-open-title="More Search Option" data-close-title="Less Search Option"></a>
            <div class="utf-more-search-options-area relative"> 
              <div class="checkboxes one-in-row margin-bottom-10">
                <input id="check-2" type="checkbox" name="check">
                <label for="check-2">Air Conditioning</label>
                <input id="check-3" type="checkbox" name="check">
                <label for="check-3">Swimming Pool</label>
                <input id="check-4" type="checkbox" name="check">
                <label for="check-4">Central Heating</label>
                <input id="check-5" type="checkbox" name="check">
                <label for="check-5">Laundry Room</label>
                <input id="check-6" type="checkbox" name="check">
                <label for="check-6">Gym</label>
                <input id="check-7" type="checkbox" name="check">
                <label for="check-7">Alarm</label>
                <input id="check-8" type="checkbox" name="check">
                <label for="check-8">Window Covering</label>
              </div>
              <!-- Checkboxes / End -->               
            </div>
            <!-- More Search Options / End -->
            <button class="button fullwidth margin-top-10">Search</button>
          </div>
          <!-- Widget / End -->
          
          <!-- Widget -->
           <div class="widget utf-sidebar-widget-item">
			  <div class="utf-boxed-list-headline-item">
				  <h3>Recently Viewed</h3>
			  </div>
              <ul class="widget-tabs">
                <!-- Post #1 -->
                <li>
                  <div class="widget-content">
                    <div class="widget-thumb"> <a href="#"><img src="images/blog-widget-03.jpg" alt=""></a> </div>
                    <div class="widget-text">
                      <h5><a href="#">How to  1cWoo 1d a Recruiter and Land Your Dream Job.</a></h5>
                      <span>$22,000/mo</span> 
					</div>
                    <div class="clearfix"></div>
                  </div>
                </li>
                
                <!-- Post #2 -->
                <li>
                  <div class="widget-content">
                    <div class="widget-thumb"> <a href="#"><img src="images/blog-widget-02.jpg" alt=""></a> </div>
                    <div class="widget-text">
                      <h5><a href="#">Hey Job Seeker, It 19s Time To Get Up And Get Hired.</a></h5>
                      <span>$18,000/mo</span> 
					</div>
                    <div class="clearfix"></div>
                  </div>
                </li>
                
                <!-- Post #3 -->
                <li>
                  <div class="widget-content">
                    <div class="widget-thumb"> <a href="#"><img src="images/blog-widget-01.jpg" alt=""></a> </div>
                    <div class="widget-text">
                      <h5><a href="#">The Best Canadian Merchant Account Providers.</a></h5>
                      <span>$15,000/mo</span> 
					</div>
                    <div class="clearfix"></div>
                  </div>
                </li>
              </ul>
            </div>
            <!-- Widget / End--> 
            
			<!-- Widget -->
            <div class="widget utf-sidebar-widget-item">
			  <div class="utf-boxed-list-headline-item">
				  <h3>Property Categorie</h3>
				  <div class="utf-sidebar-categorie"> 
					<ul>
					  <li><a href="#">Apartment</a><span>10 Property</span></li> 
					  <li><a href="#">Condo</a><span>14 Property</span></li> 
					  <li><a href="#">Family House</a><span>18 Property</span></li> 
					  <li><a href="#">Modern Villa</a><span>12 Property</span></li> 
					  <li><a href="#">Town House</a><span>10 Property</span></li> 					  
					</ul>
				  </div>
			  </div>              
            </div>
            <!-- Widget / End-->

			<!-- Widget -->
            <div class="widget utf-sidebar-widget-item">
			  <div class="utf-boxed-list-headline-item">
				  <h3>Property Tags Cloud</h3>
				  <div class="task-tags"> 
					  <a href="#"><span>Apartment</span></a> 
					  <a href="#"><span>Family House</span></a> 
					  <a href="#"><span>Modern Villa</span></a> 
					  <a href="#"><span>Town House</span></a> 	
					  <a href="#"><span>Condo</span></a> 					  
				  </div>
			  </div>              
            </div>
            <!-- Widget / End-->

			<!-- Widget -->
		  <div class="widget utf-sidebar-widget-item">
		    <div class="utf-boxed-list-headline-item">
			  <h3>Featured Properties</h3>
		    </div>          
            <div class="utf-listing-carousel-item outer owl-carousel owl-theme" style="opacity: 1; display: block;"> 
              <!-- Item -->
              <div class="owl-wrapper-outer"><div class="owl-wrapper" style="width: 1986px; left: 0px; display: block; transition: all 800ms ease 0s; transform: translate3d(-331px, 0px, 0px);"><div class="owl-item" style="width: 331px;"><div class="item">
                <div class="utf-listing-item compact"> 
				  <a href="single-property-page-2.html" class="utf-smt-listing-img-container">
					  <div class="utf-listing-badges-item"> <span class="featured">Featured</span> <span class="for-sale">For Sale</span> </div>
					  <div class="utf-listing-img-content-item"> 
						 <span class="utf-listing-compact-title-item">Renovated Luxury Apartment <i>$18,000/mo</i></span>
					  </div>
					  <img src="images/listing-01.jpg" alt=""> 
					  <ul class="listing-hidden-content">
						  <li><i class="fa fa-bed"></i> Beds <span>3</span></li>
						  <li><i class="icon-feather-codepen"></i> Baths <span>2</span></li>
						  <li><i class="fa fa-car"></i> Garages <span>2</span></li>
						  <li><i class="fa fa-arrows-alt"></i> Sq Ft <span>780</span></li>
					  </ul>
				  </a> 
				</div>
              </div></div><div class="owl-item" style="width: 331px;"><div class="item">
                <div class="utf-listing-item compact"> 
				  <a href="single-property-page-2.html" class="utf-smt-listing-img-container">
					  <div class="utf-listing-badges-item"> <span class="featured">Featured</span> <span class="for-sale">For Sale</span> </div>
					  <div class="utf-listing-img-content-item"> 
						 <span class="utf-listing-compact-title-item">Renovated Luxury Apartment <i>$18,000/mo</i></span>
					  </div>
					  <img src="images/listing-02.jpg" alt=""> 
					  <ul class="listing-hidden-content">
						  <li><i class="fa fa-bed"></i> Beds <span>3</span></li>
						  <li><i class="icon-feather-codepen"></i> Baths <span>2</span></li>
						  <li><i class="fa fa-car"></i> Garages <span>2</span></li>
						  <li><i class="fa fa-arrows-alt"></i> Sq Ft <span>780</span></li>
					  </ul>
				  </a> 
				</div>
              </div></div><div class="owl-item" style="width: 331px;"><div class="item">
                <div class="utf-listing-item compact"> 
				  <a href="single-property-page-2.html" class="utf-smt-listing-img-container">
					  <div class="utf-listing-badges-item"> <span class="featured">Featured</span> <span class="for-sale">For Sale</span> </div>
					  <div class="utf-listing-img-content-item"> 
						 <span class="utf-listing-compact-title-item">Renovated Luxury Apartment <i>$18,000/mo</i></span>
					  </div>
					  <img src="images/listing-03.jpg" alt=""> 
					  <ul class="listing-hidden-content">
						  <li><i class="fa fa-bed"></i> Beds <span>3</span></li>
						  <li><i class="icon-feather-codepen"></i> Baths <span>2</span></li>
						  <li><i class="fa fa-car"></i> Garages <span>2</span></li>
						  <li><i class="fa fa-arrows-alt"></i> Sq Ft <span>780</span></li>
					  </ul>
				  </a> 
				</div>
              </div></div></div></div>
              <!-- Item / End --> 
              
              <!-- Item -->
              
              <!-- Item / End --> 
              
              <!-- Item -->
              
              <!-- Item / End --> 
            <div class="owl-controls clickable"><div class="owl-pagination"><div class="owl-page"><span class=""></span></div><div class="owl-page active"><span class=""></span></div><div class="owl-page"><span class=""></span></div></div><div class="owl-buttons"><div class="owl-prev"></div><div class="owl-next"></div></div></div></div>
          </div>
          <!-- Widget / End -->	
        </div>
      </div>
      <!-- Sidebar / End -->       
    </div>
  </div>