<div class="container">
<h2>Jettestate.com Service User Agreement (Terms of Use)  </h2><br><p>  </p><br>
<h2>1. General position.  </h2><br>
<p>The Jettestate.com website (hereinafter referred to as - jettestate.com) strives by all available means to ensure the safety and openness of the use of the ad service.
 jettestate.com hereby informs users about what information about the user can be accessed by our site, as well as how the information received by jettestate.com is used.
  </p><br>
  
  <h2>2. Collection of information  </h2>
  <br><p>To register as a user of the jettestate.com website, we invite him to fill out the registration form, in which we ask him to indicate his login, password, name and surname, e-mail address, date of birth, and, if desired, a phone number. This information is stored in the client base of the site and is used to record the ads posted on the site, send confirmations, and other documentation necessary to provide and receive the service, as well as for feedback from the site visitor, who provided this data on his own. The data is not used for other purposes and is not shared with third parties.  </p><br><h2>3. Cookies  </h2><br>
  <p>Cookies are small text files that are usually stored on the user's computer until the end of the session, i.e. before the end of work in the browser, but in some cases outside of it. When a user visits jettestate.com, the site sends one or more cookies to the user's computer or other device.
<br>
Cookies are used:
<br>
    to simplify the use of the site and improve the quality of the services provided, for example, to save user settings;
<br>
    to track the fact of payment for the booked services. After the user selects the services of interest to him and chooses the payment method, the site redirects the user to the partner site jettestate.com, where the order is paid. jettestate.com does not receive the personal data of the user making the payment (credit card data) - only the result of the payment transaction is transmitted to our service, on the basis of which the order is confirmed or rejected;
 <br> for analysis for advertising purposes.  </p><br><h2>4. Use of Cookies and Other Tools for Advertising Purposes  </h2><br><p>The jettestate.com website uses third-party services to track traffic statistics, obtain information about conversions from advertising campaigns, and others. With the help of these services and tools, jettestate.com does not collect data about specific users, but only uses general statistics on traffic and website performance and the effectiveness of advertising campaigns. Below is a list of additional third party services that are used by jettestate.com, as well as links to the privacy policies of these services.  </p><br><h2>5. Google Analytics is a web analytics service from Google Inc. ("Google")  </h2><br><p></p><p>
Google Analytics is a free web analytics service from Google that allows website owners to understand how users interact with their pages. The collection of information in it is conducted anonymously. Google Analytics uses its own cookies to track visitor activity on the site. They allow you to find out whether a user has visited a web resource before, from where he went to pages in it and how much time he spent there.
</p>
<p>
jettestate.com uses the Google Analytics remarketing feature.
</p>
<p>
Remarketing in Google Analytics allows you to re-refer to users who have previously visited a website with targeted ads on other Google partner sites. For example, after visiting the jettestate.com website, a user who has not made a decision to purchase services may see AdWords advertisements on other sites in the network with an improved service offer of the jettestate.com website. In addition, to advertise the jettestate.com website in the AdWords system, the following are used: similar audiences, audiences by interest, demographic and geographic targeting.
</p>
<p>
The user can always disable the use of cookies by Google by visiting the page for disabling cookies.
</p>
<p>
To change and disable the use of Google Analytics, the user can also use:
<br>
    Google's advertising preferences manager;
Google Analytics blocker.
</p>
<p>
A description of Google's advertising services and documentation regarding their use can be found at http://www.google.ru/intl/ru/services/, the Google privacy policy is published here.
</p>  <p></p><br><h2>
6.personal informationAccess. Use and Removal.  </h2><br><p></p><p>
Your personal information, including your email address, cannot be transferred to third parties, affiliated companies and marketing contractors. This information can only be used with your consent by our company for marketing purposes.
</p>  <p></p><br><h2>
7.Changes to privacy policy  </h2><br><p>

</p
<p>
This privacy policy is subject to change. All changes made to this document will be posted on this page.
</p>
<p>
In case of additional questions or doubts about the privacy policy, the user has the opportunity to contact the jettestate.com administration with a corresponding request by e-mail: contact@jettestate.com.
</p>
  <p></p><br></div>