<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @property_status.name %>
</p>

<%= link_to 'Edit', edit_property_status_path(@property_status) %> |
<%= link_to 'Back', property_statuses_path %>
