<div class="parallax" data-background="images/home-parallax-1.jpg" data-color="#36383e" data-color-opacity="0.72" data-img-width="2500" data-img-height="1600" style="background-image: url(&quot;images/home-parallax-1.jpg&quot;); background-attachment: fixed; background-size: 1910px 1222.4px; background-position: 50% -316.412px;"><div class="parallax-overlay" style="background-color: rgb(54, 56, 62); opacity: 0.72;"></div>
    <div class="utf-parallax-content-area">
      <div class="container">
        <div class="row">
          <div class="col-md-12"> 
            <div class="utf-main-search-container-area">
              <div class="utf-banner-headline-text-part">
				<h2>Best Place To Find <span class="typed-words">Apartments.</span><span class="typed-cursor typed-cursor--blink">|</span></h2>
				<span>From as low as $10 per day with limited time offer discounts.</span> 
			  </div>
              <form class="utf-main-search-form-item">
                <div class="utf-search-type-block-area">
					<div class="search-type">
					  <label class="active">
						<input class="first-tab" name="tab" checked="checked" type="radio">Buy</label>
					  <label>
						<input name="tab" type="radio">Rent</label>
					  <label>
						<input name="tab" type="radio">Sale</label>
						<div class="utf-search-type-arrow" style="left: 35px;"></div>
					</div>
				</div>
                <div class="utf-main-search-box-area"> 
                  <div class="row with-forms"> 
				    <div class="col-md-4 col-sm-12">
						<input type="text" class="ico-01" placeholder="Enter Keywords..." value="">
					</div>
                    <div class="col-md-2 col-sm-6">
                      <select data-placeholder="Select Area" title="Select Area" class="utf-chosen-select-single-item" style="display: none;">
                        <option>Select Area</option>
						<option>Afghanistan</option>
                        <option>Albania</option>
                        <option>Algeria</option>
                        <option>Brazil</option>
                        <option>Burundi</option>
                        <option>Bulgaria</option>
						<option>California</option>
						<option>Germany</option>
                        <option>Grenada</option>
                        <option>Guatemala</option>
                        <option>Iceland</option>                        
                      </select><div class="chosen-container chosen-container-single chosen-container-single-nosearch" style="width: 100%;" title="Select Area"><a class="chosen-single chosen-default"><span>Select Area</span><div><b></b></div></a><div class="chosen-drop"><div class="chosen-search"><input type="text" autocomplete="off" readonly=""></div><ul class="chosen-results"></ul></div></div>
                    </div>
					<div class="col-md-2 col-sm-6">
                      <select data-placeholder="Select City" title="Select City" class="utf-chosen-select-single-item" style="display: none;">
                        <option>Select City</option>
						<option>Afghanistan</option>
                        <option>Albania</option>
                        <option>Algeria</option>
                        <option>Brazil</option>
                        <option>Burundi</option>
                        <option>Bulgaria</option>
						<option>California</option>
						<option>Germany</option>
                        <option>Grenada</option>
                        <option>Guatemala</option>
                        <option>Iceland</option>                        
                      </select><div class="chosen-container chosen-container-single chosen-container-single-nosearch" style="width: 100%;" title="Select City"><a class="chosen-single chosen-default"><span>Select City</span><div><b></b></div></a><div class="chosen-drop"><div class="chosen-search"><input type="text" autocomplete="off" readonly=""></div><ul class="chosen-results"></ul></div></div>
                    </div>
					<div class="col-md-2 col-sm-6">
						<button class="button utf-search-btn-item"><i class="fa fa-search"></i> Search</button>	
					</div>
					<div class="col-md-2 col-sm-6">
						<a href="#" class="utf-utf-more-search-options-area-button" data-open-title="More Search" data-close-title="Less Search"></a>
					</div>
                  </div>
                                    
                  <div class="utf-more-search-options-area">
                    <div class="utf-more-search-options-area-container"> 
                      <div class="row with-forms">
					    <div class="col-md-4">
						  <select data-placeholder="Property Status" class="utf-chosen-select-single-item" style="display: none;">
							<option>Property Status</option>
							<option>Any</option>
							<option>For Rent</option>
							<option>For Sale</option>							
						  </select><div class="chosen-container chosen-container-single chosen-container-single-nosearch" style="width: 100%;" title=""><a class="chosen-single chosen-default"><span>Property Status</span><div><b></b></div></a><div class="chosen-drop"><div class="chosen-search"><input type="text" autocomplete="off" readonly=""></div><ul class="chosen-results"></ul></div></div>
						</div>
						<div class="col-md-4">
						  <select data-placeholder="Property Type" class="utf-chosen-select-single-item" style="display: none;">
							<option>Property Type</option>
							<option>Residential</option>
							<option>Commercial</option>
							<option>Land</option>							
						  </select><div class="chosen-container chosen-container-single chosen-container-single-nosearch" style="width: 100%;" title=""><a class="chosen-single chosen-default"><span>Property Type</span><div><b></b></div></a><div class="chosen-drop"><div class="chosen-search"><input type="text" autocomplete="off" readonly=""></div><ul class="chosen-results"></ul></div></div>
						</div>
						<div class="col-md-4">
						  <select data-placeholder="Max Rooms" class="utf-chosen-select-single-item" style="display: none;">
							<option>Max Rooms</option>
							<option>1 Rooms</option>
							<option>2 Rooms</option>
							<option>3 Rooms</option>
							<option>4 Rooms</option>
							<option>5 Rooms</option>	
						  </select><div class="chosen-container chosen-container-single chosen-container-single-nosearch" style="width: 100%;" title=""><a class="chosen-single chosen-default"><span>Max Rooms</span><div><b></b></div></a><div class="chosen-drop"><div class="chosen-search"><input type="text" autocomplete="off" readonly=""></div><ul class="chosen-results"></ul></div></div>
						</div>
						<div class="col-md-4">
						  <select data-placeholder="Bed" class="utf-chosen-select-single-item" style="display: none;">
							<option>Bed</option>
							<option>1 Bed</option>
							<option>2 Bed</option>
							<option>3 Bed</option>
							<option>4 Bed</option>
							<option>5 Bed</option>	
						  </select><div class="chosen-container chosen-container-single chosen-container-single-nosearch" style="width: 100%;" title=""><a class="chosen-single chosen-default"><span>Bed</span><div><b></b></div></a><div class="chosen-drop"><div class="chosen-search"><input type="text" autocomplete="off" readonly=""></div><ul class="chosen-results"></ul></div></div>
						</div>
						<div class="col-md-4">
						  <select data-placeholder="Bath" class="utf-chosen-select-single-item" style="display: none;">
							<option>Bath</option>
							<option>1 Bath</option>
							<option>2 Bath</option>
							<option>3 Bath</option>
							<option>4 Bath</option>
							<option>5 Bath</option>	
						  </select><div class="chosen-container chosen-container-single chosen-container-single-nosearch" style="width: 100%;" title=""><a class="chosen-single chosen-default"><span>Bath</span><div><b></b></div></a><div class="chosen-drop"><div class="chosen-search"><input type="text" autocomplete="off" readonly=""></div><ul class="chosen-results"></ul></div></div>
						</div>
						<div class="col-md-4">
						  <select data-placeholder="Agents" class="utf-chosen-select-single-item" style="display: none;">
							<option>Agents</option>
							<option>Bob Haris</option>
							<option>Ross Buttler</option>
							<option>Andrew Saimons</option>
							<option>Steve Austin</option>
						  </select><div class="chosen-container chosen-container-single chosen-container-single-nosearch" style="width: 100%;" title=""><a class="chosen-single chosen-default"><span>Agents</span><div><b></b></div></a><div class="chosen-drop"><div class="chosen-search"><input type="text" autocomplete="off" readonly=""></div><ul class="chosen-results"></ul></div></div>
						</div>
						<div class="col-md-3"> 
						  <div class="select-input">
							<i class="data-unit">USD</i><input type="text" placeholder="Min Price" data-unit="USD">
						  </div>
						</div>
						<div class="col-md-3"> 
						  <div class="select-input">
							<i class="data-unit">USD</i><input type="text" placeholder="Max Price" data-unit="USD">
						  </div>
						</div>
						<div class="col-md-3"> 
						  <div class="select-input">
							<i class="data-unit">Sq Ft</i><input type="text" placeholder="Min Area" data-unit="Sq Ft">
						  </div>
						</div>
                        <div class="col-md-3"> 
                          <div class="select-input">
                            <i class="data-unit">Sq Ft</i><input type="text" placeholder="Max Area" data-unit="Sq Ft">
                          </div>
                        </div>						
                      </div>
                      
                      <div class="checkboxes in-row">
						<div class="title-attribute">Amenities</div>
					    <input id="check-1" type="checkbox" name="check">
                        <label for="check-1">Emergency Exit</label>
                        <input id="check-2" type="checkbox" name="check">
                        <label for="check-2">Dining Room</label>
                        <input id="check-3" type="checkbox" name="check">
                        <label for="check-3">Air Condition</label>
                        <input id="check-4" type="checkbox" name="check">
                        <label for="check-4">Garden</label>
                        <input id="check-5" type="checkbox" name="check">
                        <label for="check-5">Onsite Parking</label>
                        <input id="check-6" type="checkbox" name="check">
                        <label for="check-6">Central Heating</label>
                        <input id="check-7" type="checkbox" name="check">
                        <label for="check-7">Dishwasher</label>
                        <input id="check-8" type="checkbox" name="check">
                        <label for="check-8">Family Room</label>
						<input id="check-9" type="checkbox" name="check">
                        <label for="check-9">Hardwood Flows</label>
						<input id="check-10" type="checkbox" name="check">
                        <label for="check-10">Parking</label>						
						<input id="check-11" type="checkbox" name="check">
                        <label for="check-11">Cleaning Service</label>
                        <input id="check-12" type="checkbox" name="check">
                        <label for="check-12">Doorman</label>
                        <input id="check-13" type="checkbox" name="check">
                        <label for="check-13">Fire Alarm</label>
                        <input id="check-14" type="checkbox" name="check">
                        <label for="check-14">Heating System</label>
                        <input id="check-15" type="checkbox" name="check">
                        <label for="check-15">Pets Allowed</label>
                        <input id="check-16" type="checkbox" name="check">
                        <label for="check-16">Waterfront</label>
                        <input id="check-17" type="checkbox" name="check">
                        <label for="check-17">Cooling System</label>
						<input id="check-18" type="checkbox" name="check">
                        <label for="check-18">Elevator</label>
						<input id="check-19" type="checkbox" name="check">
                        <label for="check-19">Fireplace</label>
						<input id="check-20" type="checkbox" name="check">
                        <label for="check-20">Home Theater</label>                        
                      </div>                      
                    </div>
                  </div>                  
                </div>                
              </form>              
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>