  
  <div class="jbm-section-callout">
	<div class="container-fluid">
		<div class="row">
			<div class="col-md-6 col-sm-6 col-xs-12 callout-bg-1 callout-section-left pos-relative">
				<div class="callout-bg"></div>
				<div class="jbm-callout-in jbm-callout-in-padding pull-right">
					<div class="jbm-section-title margin-top-80 margin-bottom-80">
						<h2>jett estate is a real estate company established and designed for the real estate market of tomorrow.</h2>
						<span class="section-tit-line"></span>
						<p> With the virtual tour videos we prepare, we make virtual home presentations to our customers with the most accurate information in a virtual environment at any time of the day. 
						We always stand by our customers with the innovative sales strategies and solutions we have developed.
						 We work everyday by combining developing and advancing technology with our innovative marketing strategies.
						 
						
			 </p>
			 			<%= link_to 'Add New Property',  new_property_path, class: 'button margin-top-10' %>
						
					</div>
				</div>
			</div>
			<div class="col-md-6 col-sm-6 col-xs-12 callout-bg-2 callout-section-right pos-relative">
				<div class="callout-bg"></div>
				<div class="jbm-callout-in jbm-callout-in-padding pull-left">
					<div class="jbm-section-title margin-bottom-80 margin-top-80">
						<h2>  qr code and virtual tour</h2>
						<span class="section-tit-line"></span>
						<p> 
						
						Virtual tour with QR code By using today's technology in the most accurate way, we combine it with the real estate sector. With the qr code posters and tarpaulins we have prepared for the sale of your property, we make a virtual tour to the buyers who pass near your home if they scan the code and provide the most accurate information.


						</p>
						<a href="listings-list-with-sidebar.html" class="button margin-top-10">Browse Properti</a>
					</div>
				</div>
			</div>
		</div>
	</div>
  </div>

  <div class="margin-top-65 padding-bottom-55">
	  <div class="container">
		<div class="row">
		  <div class="col-xl-12 col-md-12">
			<p>
			
			</p>
			<blockquote class="margin-top-20 margin-bottom-20">
			
			 We are doing a lot of work on real estates that we are interested in selling, which distinguishes us from others.
						   We combine virtual tour videos that we have prepared specifically for real estate with our qr code posters. 
						   Buyers passing near the property can access, watch and share all the correct information about the real estate after scanning the code with their phones.
						   
			</blockquote>
				<p>
				 If you want to sell your real estate, we would like to meet you. discover the true value of your home You are curious about the true value of your home. We use regional and real-time pricing data when preparing our valuation reports provided by our in-house regional experts. Please contact us for free to find out the value of your home. 

				</p>
			<ul class="list-2">
			  <li>We are with you to find the most suitable tenant according to your request, both long and short term.</li>
			  <li>With the virtual tour videos we have prepared, we offer tenants the opportunity to instantly watch your house in a virtual environment. .</li>
			  <li>This is how we choose the most suitable tenant I want to rent my house for a short term..</li>
			  <li> Alanya is one of the most popular holiday cities in the world and rental prices are quite high in summer..</li>
			  <li> If you want to rent your house to tourists in summer, we would like to meet you. </li>
			  
			</ul>

			<p>
			We are always with you to tell you what is what is in the home buying process. We provide you real-time information based on geographic data, the relationship of the property to the neighborhoods around it, and living standards. Each of our ads contains images that contain and reflect the prominent points of that region.
			</p>


		  </div>
		</div>
	  </div>
  </div>


  <div class="container">
      <div class="row">
        <div class="col-md-12">	
			<div class="utf-section-headline-item centered margin-bottom-30 margin-top-10">
			  <h3 class="headline"><span>Popular Companies</span> Our Best Partners</h3>
			  <div class="utf-headline-display-inner-item">Popular Companies</div>
			  <p class="utf-slogan-text">Lorem Ipsum is simply dummy text printing and type setting industry Lorem Ipsum been industry standard dummy text ever since when unknown printer took a galley.</p>
			</div>  
		</div>        
        <!-- Carousel -->
        <div class="col-md-12">
          <div class="utf-logo-carousel-item dot-navigation owl-carousel owl-theme" style="opacity: 1; display: block;">
            <div class="owl-wrapper-outer"><div class="owl-wrapper" style="width: 3304px; left: 0px; display: block; transition: all 800ms ease 0s; transform: translate3d(-472px, 0px, 0px);"><div class="owl-item" style="width: 236px;"><div class="item"><a href="#"><img src="images/brand_logo_01.png" alt=""></a></div></div><div class="owl-item" style="width: 236px;"><div class="item"><a href="#"><img src="images/brand_logo_02.png" alt=""></a></div></div><div class="owl-item" style="width: 236px;"><div class="item"><a href="#"><img src="images/brand_logo_03.png" alt=""></a></div></div><div class="owl-item" style="width: 236px;"><div class="item"><a href="#"><img src="images/brand_logo_04.png" alt=""></a></div></div><div class="owl-item" style="width: 236px;"><div class="item"><a href="#"><img src="images/brand_logo_05.png" alt=""></a></div></div><div class="owl-item" style="width: 236px;"><div class="item"><a href="#"><img src="images/brand_logo_06.png" alt=""></a></div></div><div class="owl-item" style="width: 236px;"><div class="item"><a href="#"><img src="images/brand_logo_07.png" alt=""></a></div></div></div></div>
            
            
            
            
            
            
          <div class="owl-controls clickable"><div class="owl-pagination"><div class="owl-page"><span class=""></span></div><div class="owl-page active"><span class=""></span></div></div><div class="owl-buttons"><div class="owl-prev"></div><div class="owl-next"></div></div></div></div>
        </div>
        <!-- Carousel / End -->         
      </div>
    </div>

	

 <section class="fullwidth" data-background-color="linear-gradient(to bottom,rgba(0,0,0,0.03) 0%,rgba(255,255,255,0))" style="background: rgba(0, 0, 0, 0) linear-gradient(rgba(0, 0, 0, 0.03) 0%, rgba(255, 255, 255, 0)) repeat scroll 0% 0%;">
    <div class="container">
      <div class="row">
        <div class="col-md-12">	
			<div class="utf-section-headline-item centered margin-bottom-30 margin-top-0">
			  <h3 class="headline"><span>Our Blog &amp; Articles</span> Latest Blog Post</h3>
			  <div class="utf-headline-display-inner-item">Our Blog &amp; Articles</div>
			  <p class="utf-slogan-text">Lorem Ipsum is simply dummy text printing and type setting industry Lorem Ipsum been industry standard dummy text ever since when unknown printer took a galley.</p>
			</div>  
		</div>
        <div class="col-md-4"> 
          <div class="blog-post"> 
            <a href="blog_detail_right_sidebar.html" class="post-img"> <img src="images/blog-post-01.jpg" alt=""> </a> 
            <div class="utf-post-content-area">
			  <h3><a href="blog_detail_right_sidebar.html">What It Really Takes to Make $100k Before You Turn 30</a></h3>
			  <ul class="utf-blog-item-post-list">
				<li>By, John Williams</li>	
				<li>20 Jan, 2020</li>
			  </ul>
			  <p>Lorem Ipsum is simply dummy text of printing industry Lorem Ipsum been industry standard dummy text since book.</p>
            </div>
          </div>
        </div>
        <div class="col-md-4"> 
          <div class="blog-post"> 
            <a href="blog_detail_right_sidebar.html" class="post-img"> <img src="images/blog-post-02.jpg" alt=""> </a> 
            <div class="utf-post-content-area">
			  <h3><a href="blog_detail_right_sidebar.html">The Best Canadian Merchant Account Providers.</a></h3>
			  <ul class="utf-blog-item-post-list">
				<li>By, John Williams</li>	
				<li>20 Jan, 2020</li>
			  </ul>
			  <p>Lorem Ipsum is simply dummy text of printing industry Lorem Ipsum been industry standard dummy text since book.</p>
            </div>
          </div>          
        </div>
        <div class="col-md-4"> 
          <div class="blog-post"> 
            <a href="blog_detail_right_sidebar.html" class="post-img"> <img src="images/blog-post-03.jpg" alt=""> </a> 
            <div class="utf-post-content-area">
			  <h3><a href="blog_detail_right_sidebar.html">Hey Job Seeker, It 19s Time To Get Up And Get Hired.</a></h3>
			  <ul class="utf-blog-item-post-list">
				<li>By, John Williams</li>	
				<li>20 Jan, 2020</li>
			  </ul>
			  <p>Lorem Ipsum is simply dummy text of printing industry Lorem Ipsum been industry standard dummy text since book.</p>
            </div>
          </div>          
        </div>
      </div>
    </div>
  </section>