  <!-- Container / Start -->
  <div class="container">
    <div class="row">  
	  <div class="col-md-12">
        <div class="utf-contact-map margin-bottom-50">
          <div class="utf-google-map-container">
			  
			  
		  </div>
        </div>
      </div>	
      <!-- Contact Details -->
      <div class="col-md-4">
        <div class="utf-boxed-list-headline-item">
            <h3><i class="fe fe-map"></i> Office Address</h3>
        </div>
        <!-- Contact Details -->
        <div class="utf-contact-location-info-aera sidebar-textbox margin-bottom-40">
          <ul class="contact-details">
            <li><i class="fe fe-phone"></i> <strong>Phone Number:</strong> <span><%= @tel_firma %></span></li>
            <li><i class="fe fe-edit"></i> <strong>Email Address:</strong> <span><%= @email_firma %></span></li>
            <li><i class="fe fe-globe"></i> <strong>Website:</strong> <span><%= @website_firma %></span></li>
            <li><i class="fe fe-map"></i> <strong>Address:</strong> <span><%= @address_firma %></span></li>            
          </ul>
        </div>
      </div>
          
      <!-- Contact Form -->
      <div class="col-md-8">
        <section id="contact">
		  <div class="utf-boxed-list-headline-item">
            <h3><i class="fe fe-edit"></i> Contact Form</h3>
          </div>

       
		  <div class="utf-contact-form-item">
			  <form>
				<div class="row">
				  <div class="col-md-6">
					  <input name="name" type="text" placeholder="Frist Name" required="">                
				  </div>
				  <div class="col-md-6">
					  <input name="name" type="text" placeholder="Last Name" required="">                
				  </div>
				  <div class="col-md-6">
					  <input name="email" type="email" placeholder="Email Address" required="">                
				  </div>
				  <div class="col-md-6">
					  <input name="name" type="text" placeholder="Subject" required="">                
				  </div>
				  <div class="col-md-12">
					  <textarea name="comments" cols="40" rows="3" placeholder="Message..." spellcheck="true" required=""></textarea>
				  </div>
				</div>
				<div class="utf-centered-button margin-bottom-10">	
					<input type="submit" class="submit button" id="submit" value="Submit Message">
				</div>
			  </form>
		    </div>	  
        </section>
      </div>
      <!-- Contact Form / End -->       
    </div>
  </div>
  <!-- Container / End --> 
  