<div class="container"> 
    <div class="row">
		<div class="utf-pricing-container-area margin-top-5"> 
		  <div class="col-md-3 col-sm-6 col-xs-12">
			  <div class="plan">
				<div class="utf-plan-price">
				  <h3>Basic</h3>
				  <span class="value">$49<sub>/Par Month</sub></span> <span class="period">Basic User Membership for 30 days</span> 
				</div>
				<div class="utf-plan-features">
				  <ul>
					<li>One Time Fee</li>
					<li>One Listing</li>
					<li>30 Days Availability</li>
					<li>Featured In Search Results</li>
					<li>Limited Support</li>
					<li>24/7 Support</li>
				  </ul>
				  <a class="button border" href="">Purchase Now</a> 
				</div>
			  </div>
		  </div>
		  <div class="col-md-3 col-sm-6 col-xs-12">
			  <div class="plan">
				<div class="utf-plan-price">
				  <h3>Business</h3>
				  <span class="value">$59<sub>/Par Month</sub></span> <span class="period">Business User Membership for 60 days</span> 
				</div>
				<div class="utf-plan-features">
				  <ul>
					<li>One Time Fee</li>
					<li>One Listing</li>
					<li>60 Days Availability</li>
					<li>Featured In Search Results</li>
					<li>Limited Support</li>
					<li>24/7 Support</li>
				  </ul>
				  <a class="button border" href="">Purchase Now</a> 
				</div>
			  </div>
		  </div>
		  <div class="col-md-3 col-sm-6 col-xs-12">
			  <div class="plan featured">
				<div class="utf-listing-badges-item"> <span class="featured">Featured</span> </div>
				<div class="utf-plan-price">
				  <h3>Premium</h3>
				  <span class="value">$89<sub>/Par Month</sub></span> <span class="period">Premium User Membership for 180 days</span> 
				</div>
				<div class="utf-plan-features">
				  <ul>
					<li>One Time Fee</li>
					<li>One Listing</li>
					<li>180 Days Availability</li>
					<li>Featured In Search Results</li>
					<li>Limited Support</li>
					<li>24/7 Support</li>
				  </ul>
				  <a class="button border" href="add-new-property.html">Purchase Now</a> 
				</div>
			  </div>
		  </div>	  
		  <div class="col-md-3 col-sm-6 col-xs-12">
			  <div class="plan">
				<div class="utf-plan-price">
				  <h3>Platinum</h3>
				  <span class="value">$99<sub>/Par Month</sub></span> <span class="period">Platinum User Membership for 365 days</span> 
				</div>
				<div class="utf-plan-features">
				  <ul>
					<li>One Time Fee</li>
					<li>One Listing</li>
					<li>365 Days Availability</li>
					<li>Featured In Search Results</li>
					<li>Limited Support</li>
					<li>24/7 Support</li>
				  </ul>
				  <a class="button border" href="">Purchase Now</a> 
				</div>
			  </div>
		   </div>  
		</div>
    </div>
    <!-- Row / End -->     
  </div>