<div class="container">
    <div class="row">
      <div class="col-md-12"> 
        <!-- Agency -->
        <div class="agent agents-profile agency margin-bottom-40"> <a href="agency-profile.html" class="utf-agent-avatar"> <img src="/img/logo.jpg" alt=""> </a>
          <div class="utf-agent-content">
            <div class="utf-agent-name">
              <h4> <%= @shortname_firma  %> </h4>
			  <span>Central office</span>
              <ul class="utf-agent-contact-details">
				  <li><i class="icon-feather-smartphone"></i><%= @tel_firma %></li>
				  <li><i class="icon-material-outline-email"></i> <%= @email_firma %> </li>
			  </ul> 
			  <ul class="utf-social-icons">
				  <li><a class="facebook" href="#"><i class="icon-facebook"></i></a></li>
				  <li><a class="twitter" href="#"><i class="icon-twitter"></i></a></li>
				  <li><a class="linkedin" href="#"><i class="icon-linkedin"></i></a></li>
				  <li><a class="instagram" href="#"><i class="icon-instagram"></i></a></li>
				  <li><a class="gplus" href="#"><i class="icon-gplus"></i></a></li>
			  </ul>
			</div>
			<div class="clearfix"></div>
            <p><%= @description_firma %> </p>                      
          </div>
        </div>
	  </div>
    </div>
  </div>
</div>